<!--yacht Rental Section-->
<section class="yacht-rental-section">
  <div class="auto-container">
    <div class="title-row clearfix">
      <div class="sec-title-two light with-border">
        <div class="upper-text">With Boats Ride Try the Ultimate Experience</div>
        <h2>Luxury Yacht <strong>Rental</strong></h2>
        <div class="separator"></div>
      </div>
      <div class="filter-box">
        <div class="selectable-list">

        </div>
      </div>
    </div>

    <!--Rental Block-->
    <div class="rentals-row">
      <div class="auto-container  ">
        <carousel [margin]="20" [height]="600" [cellWidth]="400" [cellsToShow]="numberofcells"
                  [autoplay]="true" [dots]="true" [arrowsOutside]="true" [transitionDuration]="100">
          <div class="carousel-cell">
            <div class="rental-block mix all russia india service-block">
              <div class="inner-box">
                <div class="image-box">

                  <figure class="image">

                    <a href="majesty-yachr-48-feet.html">
                      <div class="offer-info"><span>48 FT</span></div>

                      <img src="assets/images/resource/6.jpg" alt="" title=""></a>
                  </figure>
                  <div class="price-box">
                    <div class="price"> 600 AED </div>
                    <div class="cycle">PAR / H</div>


                  </div>

                </div>
                <div class="title-box">
                  <div class="more-link-box">
                    <a href="majesty-yachr-48-feet.html" class="theme-btn">View Details</a>
                  </div>
                  <h4><a href="majesty-yachr-48-feet.html">Majesty Yacht</a></h4>
                </div>
                <div class="price">
                  <div style="display: inline-block"><small>From</small>  <del class="price-old">AED 799/hr</del></div>
                  <div style="display: inline-block; margin-left: 10px;" data-toggle="tooltip" data-html="true" title="" data-original-title="Summer Offer">
                    <span class="blink" style="color: red;font-size: 15px;border-radius: 5px;font-weight: bolder;"><i class="fa fa-info-circle"></i> AED 600</span>
                  </div>
                  <small class="label label-warning pull-right" style="color: #fff;">VAT INCLUDE</small>
                </div>
                <div class="meta-info">
                  <ul class="clearfix" style="margin-bottom: unset!important;">
                    <li><a href="#"><img src="assets/images/icons/captain.png" style="width: unset!important;" > Captain: 01</a></li>
                    <li><a href="#"><img src="assets/images/icons/crew.png"  style="width: unset!important;">Crew : 01</a></li>
                  </ul>
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/users.png" style="width: unset!important;"> Peaple : 12</a></li>
                    <li><a href="#"><img src="assets/images/icons/beds.png" style="width: unset!important;"> Beds : 02</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-cell">
            <div class="rental-block mix all russia india service-block">
              <div class="inner-box">
                <div class="image-box">

                  <figure class="image">

                    <a href="majesty-yachr-48-feet.html">
                      <div class="offer-info"><span>48 FT</span></div>

                      <img src="assets/images/resource/6.jpg" alt="" title=""></a>
                  </figure>
                  <div class="price-box">
                    <div class="price"> 600 AED </div>
                    <div class="cycle">PAR / H</div>


                  </div>

                </div>
                <div class="title-box">
                  <div class="more-link-box">
                    <a href="majesty-yachr-48-feet.html" class="theme-btn">View Details</a>
                  </div>
                  <h4><a href="majesty-yachr-48-feet.html">Majesty Yacht</a></h4>
                </div>
                <div class="price">
                  <div style="display: inline-block"><small>From</small>  <del class="price-old">AED 799/hr</del></div>
                  <div style="display: inline-block; margin-left: 10px;" data-toggle="tooltip" data-html="true" title="" data-original-title="Summer Offer">
                    <span class="blink" style="color: red;font-size: 15px;border-radius: 5px;font-weight: bolder;"><i class="fa fa-info-circle"></i> AED 600</span>
                  </div>
                  <small class="label label-warning pull-right" style="color: #fff;">VAT INCLUDE</small>
                </div>
                <div class="meta-info">
                  <ul class="clearfix" style="margin-bottom: unset!important;">
                    <li><a href="#"><img src="assets/images/icons/captain.png" style="width: unset!important;" > Captain: 01</a></li>
                    <li><a href="#"><img src="assets/images/icons/crew.png"  style="width: unset!important;">Crew : 01</a></li>
                  </ul>
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/users.png" style="width: unset!important;"> Peaple : 12</a></li>
                    <li><a href="#"><img src="assets/images/icons/beds.png" style="width: unset!important;"> Beds : 02</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-cell">
            <div class="rental-block mix all russia india service-block">
              <div class="inner-box">
                <div class="image-box">

                  <figure class="image">

                    <a href="majesty-yachr-48-feet.html">
                      <div class="offer-info"><span>48 FT</span></div>

                      <img src="assets/images/resource/6.jpg" alt="" title=""></a>
                  </figure>
                  <div class="price-box">
                    <div class="price"> 600 AED </div>
                    <div class="cycle">PAR / H</div>


                  </div>

                </div>
                <div class="title-box">
                  <div class="more-link-box">
                    <a href="majesty-yachr-48-feet.html" class="theme-btn">View Details</a>
                  </div>
                  <h4><a href="majesty-yachr-48-feet.html">Majesty Yacht</a></h4>
                </div>
                <div class="price">
                  <div style="display: inline-block"><small>From</small>  <del class="price-old">AED 799/hr</del></div>
                  <div style="display: inline-block; margin-left: 10px;" data-toggle="tooltip" data-html="true" title="" data-original-title="Summer Offer">
                    <span class="blink" style="color: red;font-size: 15px;border-radius: 5px;font-weight: bolder;"><i class="fa fa-info-circle"></i> AED 600</span>
                  </div>
                  <small class="label label-warning pull-right" style="color: #fff;">VAT INCLUDE</small>
                </div>
                <div class="meta-info">
                  <ul class="clearfix" style="margin-bottom: unset!important;">
                    <li><a href="#"><img src="assets/images/icons/captain.png" style="width: unset!important;" > Captain: 01</a></li>
                    <li><a href="#"><img src="assets/images/icons/crew.png"  style="width: unset!important;">Crew : 01</a></li>
                  </ul>
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/users.png" style="width: unset!important;"> Peaple : 12</a></li>
                    <li><a href="#"><img src="assets/images/icons/beds.png" style="width: unset!important;"> Beds : 02</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </carousel>
      </div>

    </div>
    <div class="bottom-text">Boats Ride  Offers Luxury  Yachts In Dubai With  Best Price. <a href="yacht-rent.html">View All Our Yachts</a></div>
  </div>

</section>
