<!--yacht Rental Section-->
<section class="yacht-rental-section direction-left">
  <div class="auto-container">
    <div class="title-row clearfix">
      <div class="sec-title-two light with-border floating">
        <div class="upper-text">{{'luxarytopic'|translate}}</div>
        <h2><strong>{{'luxary'|translate}}</strong></h2>
        <div class="separator"></div>
      </div>
      <div class="filter-box">
        <div class="selectable-list">

        </div>
      </div>
    </div>

    <!--Rental Block-->
    <div class="rentals-row">
      <div class="auto-container">

        <div class="item" *ngIf="is_loading">
          <ngx-skeleton-loader count="3" appearance="circle" class="d-flex justify-content-between" [theme]="{
            height: '300px',
            width: '33%',
            'border-radius': '10px'
            }">
          </ngx-skeleton-loader>
        </div>

        <carousel *ngIf="yachts.length && isBrowser" [margin]="20" [height]="600" [cellWidth]="400" [cellsToShow]="numberofcells"
                  [autoplay]="true" [dots]="true" [arrowsOutside]="true" [transitionDuration]="100">
          <div class="carousel-cell" *ngFor="let yacht of yachts">
            <div class="rental-block mix all russia india service-block">
              <div class="inner-box">
                <div class="image-box">

                  <figure class="image mb-0" style="background-color: transparent !important;">
                    <a routerLink="/yachts/{{yacht.slug}}">
                      <div class="offer-info force-rtl">
                        <span>{{yacht.size}} {{ 'ft' | translate }}</span>
                      </div>

                      <img class="object-fit-cover" src="{{firstImage(yacht.images)}}" alt="" title=""></a>
                  </figure>

                  <div class="price-box">
                    <div class="price old-price-container"> {{yacht.selling_per_hour}} {{'ead_price'|translate}}</div>
                    <div class="cycle">
                      {{ 'per_h' | translate }}
                    </div>
                  </div>

                </div>
                <div class="title-box">
                  <div class="more-link-box">
                    <a routerLink="/yachts/{{yacht.slug}}" class="theme-btn">{{'viewdetails'|translate}}</a>
                  </div>

                  <h4>
                    <a routerLink="/yachts/{{yacht.slug}}">{{yacht.name}}</a>
                  </h4>

                </div>
                <div class="price align-items-center rental-div"
                     [class.force-rtl] = "!yacht.apply_vat && lang == 'ar'"
                     [class.d-flex]="yacht.apply_vat && lang == 'ar'"
                [class.rental-div]="yacht.apply_vat && lang == 'ar'">
                  <div style="display: inline-block" class="old-price-container">
                    <small *ngIf="lang == 'en'">From:  </small>
                    <del class="price-old" *ngIf="lang == 'en'">{{'ead'|translate}} {{yacht.selling_per_hour}}/{{'hour'|translate}}</del>
                    <del class="price-old" *ngIf="lang == 'ar'"> {{yacht.selling_per_hour}} {{'ead'|translate}}/{{'hour'|translate}}</del>
                  </div>
                  <div *ngIf="yacht.yacht_special_price" style="display: inline-block; margin-left: 10px;"
                       data-toggle="tooltip"
                       data-html="true"
                       title="" class="mx-2 new-price-container"
                       data-original-title="Summer Offer">
                    <span class="blink yacht_special_price" *ngIf="lang == 'en'">
                      <i class="fa fa-info-circle"></i> {{'ead'|translate}} {{yacht.yacht_special_price}}
                    </span>
                    <span class="blink yacht_special_price" *ngIf="lang == 'ar'">
                      <i class="fa fa-info-circle"></i> {{yacht.yacht_special_price}} {{'ead'|translate}}
                    </span>
                  </div>
                  <small *ngIf="yacht.apply_vat" class="label label-warning pull-right" style="color: #fff;">{{'vat'|translate}}</small>
                </div>

                <div class="meta-info yacht-list-meta-info">
                  <ul class="clearfix" style="margin-bottom: unset!important;">
                    <li>
                      <a>
                        <img src="assets/images/icons/captain.png" style="width: unset!important;">
                        {{'captain'|translate}}: {{yacht.no_of_captain}}
                      </a>
                    </li>
                    <li>
                      <a>
                        <img src="assets/images/icons/crew.png" style="width: unset!important;">
                        {{'crew'|translate}} : {{yacht.crew_members}}
                      </a>
                    </li>
                  </ul>
                  <ul class="clearfix">
                    <li>
                      <a>
                        <img src="assets/images/icons/users.png" style="width: unset!important;">
                        {{'people'|translate}} :{{yacht.passenger_capacity}}
                      </a>
                    </li>
                    <li>
                      <a>
                        <img src="assets/images/icons/beds.png" style="width: unset!important;">
                        {{'beds'|translate}} : {{yacht.beds}}
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </carousel>
      </div>

    </div>
    <div class="bottom-text">
      {{'luxarcytopic2'|translate}}
      <a class="view_yachts" [routerLink]="'/yachts'">{{'viewyachts'|translate}}</a>
    </div>
  </div>

</section>
