<section class="welcome-section">

  <section>
    <p>
      تنطبق هذه الشروط والأحكام ، كما قد يتم تعديلها من وقت لآخر ، على جميع خدماتنا بشكل مباشر أو غير مباشر من خلال
      الموزعين (المتاحين عبر الإنترنت) أو من خلال أي جهاز محمول أو عبر البريد الإلكتروني أو الهاتف. من خلال الوصول إلى
      موقع الويب الخاص بنا أو أي من تطبيقاتنا وتصفحه واستخدامه من خلال أي منصة (يشار إليها فيما بعد باسم "الموقع
      الإلكتروني") و / أو من خلال إكمال الحجز ، فإنك تقر وتوافق على قراءة الشروط وفهمها والموافقة عليها والشروط الموضحة
      أدناه (بما في ذلك بيان الخصوصية).
    </p>

    <p>
      هذه الصفحات والمحتوى والبنية التحتية لهذه الصفحات وخدمة الحجز عبر الإنترنت المقدمة على هذه الصفحات وعبر موقع الويب
      (بوت رايد) مملوكة ومدارة ومقدمة من قبل فريق بوت رايد. ("ركوب القوارب" ، "نحن" ، "نحن" أو "خاصتنا") ويتم توفيرها لك
      وفقًا للشروط والأحكام الموضحة أدناه.
    </p>
  </section>

  <section>
    <h5>
      1. نطاق خدمتنا
    </h5>
    <p>
      من خلال الموقع الإلكتروني ، نقدم (بوت رايد وشركاء التوزيع) التابعين لنا منصة عبر الإنترنت يمكن من خلالها لجميع
      أنواع مقدمي الخدمات المؤقتة ، بما في ذلك تأجير السيارات وتأجير الرحلات البحرية ، الإعلان عن خدماتهم للحجز ، ومن
      خلالها يمكن لزوار الموقع الإلكتروني يمكن إبداء مثل هذه التحفظات. من خلال إجراء حجز عبر بوت رايد ، فإنك تدخل في
      علاقة تعاقدية مباشرة (ملزمة قانونًا) مع مقدمي الخدمات الذين تحجز معهم الخدمات. من النقطة التي تقوم فيها بالحجز
      الخاص بك ، فإننا نتصرف فقط كوسيط بينك وبين المزود ، وننقل تفاصيل حجزك إلى مزود الخدمات ذي الصلة ونرسل إليك رسالة
      تأكيد بالبريد الإلكتروني لصالح مقدم الخدمات وبالنيابة عنه.
    </p>
    <p>
      عند إجراء الحجز على بوت رايد ، تستند المعلومات التي نكشف عنها إلى المعلومات المقدمة إلينا من قِبل مزودي الخدمات
      (اليخوت والرحلات البحرية). على هذا النحو ، يُمنح مقدمو الخدمات إمكانية الوصول إلى شبكة خارجية يتحملون من خلالها
      المسؤولية الكاملة عن تحديث جميع الأسعار والتوافر والمعلومات الأخرى المعروضة على موقعنا الإلكتروني. على الرغم من
      أننا سوف نستخدم المهارة والعناية المعقولة في أداء خدماتنا ، إلا أننا لن نتحقق مما إذا كانت جميع المعلومات دقيقة أو
      كاملة أو صحيحة ، ولا يمكننا ضمان ذلك ، ولا يمكن أن نتحمل المسؤولية عن أي أخطاء (بما في ذلك الأخطاء الواضحة
      والمطبعية) ، أي انقطاعات (سواء كانت ناتجة عن أي عطل (مؤقت و / أو جزئي) أو إصلاح أو ترقية أو صيانة لموقعنا
      الإلكتروني أو غير ذلك) ، أو معلومات غير دقيقة أو مضللة أو غير صحيحة أو عدم تسليم المعلومات. يظل كل مزود إقامة
      مسؤولاً في جميع الأوقات عن دقة واكتمال وصحة المعلومات (الوصفية) (بما في ذلك الأسعار والتوافر) المعروضة على موقعنا
      على الإنترنت. لا يشكل موقعنا ولا ينبغي اعتباره توصية أو تأييدًا للجودة أو مستوى الخدمة.
    </p>
  </section>

  <section>
    <h5>
      2. الأسعار وضمان أفضل الأسعار
    </h5>
    <p>
      الأسعار على موقعنا تنافسية للغاية. جميع الأسعار على موقع بوت رايد هي بالساعة لرحلتك بأكملها ، ما لم يُذكر بشكل
      مختلف على موقعنا الإلكتروني أو في رسالة التأكيد الإلكترونية. في بعض الأحيان ، تتوفر أسعار أرخص على موقعنا على
      الإنترنت ليخوت معينة ؛ ومع ذلك ، قد تحمل هذه الأسعار قيودًا وشروطًا خاصة. يتم تمييز جميع العروض الخاصة والعروض
      الترويجية على هذا النحو.
    </p>
  </section>

  <section>
    <h5>
      3. الخصوصية وملفات تعريف الارتباط
    </h5>
    <p>
      ركوب القوارب يحترم خصوصيتك. يرجى إلقاء نظرة على سياسة الخصوصية وملفات تعريف الارتباط الخاصة بنا للحصول على مزيد من
      المعلومات.
    </p>
  </section>

  <section>
    <h5>
      4. مجانا
    </h5>
    <p>
      خدمتنا مجانية لأنه ، على عكس العديد من الأطراف الأخرى ، لن نفرض عليك رسومًا مقابل خدماتنا أو نضيف أي رسوم (حجز)
      إضافية إلى سعر اليخت.
    </p>
  </section>

  <section>
    <h5>
      5. الدفع المقبولة
    </h5>
    <p>
      نقبل المدفوعات عبر الإنترنت من خلال طرق متعددة ، بما في ذلك Visa و MasterCard (بطاقات الائتمان / الخصم) بالدرهم
      الإماراتي.
    </p>
  </section>

  <section>
    <h5>
      6. الإلغاء
    </h5>
    <p>
      من خلال إجراء حجز مع بوت رايد ، فإنك تقبل وتوافق على سياسة الإلغاء وعدم الحضور ذات الصلة الخاصة بركوب القوارب ،
      وعلى أي شروط وأحكام إضافية لركوب القوارب قد تنطبق على حجزك ، بما في ذلك الخدمات المقدمة و / أو المنتجات المعروضة
      بواسطة بوت رايد. يتم توفير سياسة الإلغاء وعدم الحضور العامة على موقعنا الإلكتروني ، أثناء إجراء الحجز وفي رسالة
      التأكيد عبر البريد الإلكتروني. يرجى ملاحظة أن بعض الأسعار أو العروض الخاصة غير مؤهلة للإلغاء أو التغيير.
    </p>
    <p>
      يرجى التحقق من تفاصيل اليخت بدقة لمعرفة أي شروط من هذا القبيل قبل إجراء الحجز الخاص بك. يرجى ملاحظة أنه قد يتم
      إلغاء الحجز الذي يتطلب دفعة مقدمة أو (كليًا أو جزئيًا) الدفع المسبق (بدون إشعار مسبق بالتقصير أو التحذير) طالما لا
      يمكن تحصيل المبلغ (المبالغ) ذات الصلة (المتبقية) بالكامل في تاريخ الدفع ذي الصلة في وفقًا لسياسة الدفع ذات الصلة
      الخاصة بركوب القوارب. الدفع المتأخر ، أو تفاصيل البنك أو الخصم أو بطاقة الائتمان الخاطئة ، أو بطاقات الائتمان /
      الخصم غير الصالحة ، أو الأموال غير الكافية كلها على مسؤوليتك الخاصة وعلى حسابك الخاص ولا يحق لك استرداد أي مبلغ
      مدفوع مقدمًا (غير قابل للاسترداد) ما لم توافق بوت رايد أو تسمح بخلاف ذلك بموجب سياسة الدفع والإلغاء (المسبقة)
      الخاصة بها.
    </p>
    <p>
      إذا كنت ترغب في مراجعة أو تعديل أو إلغاء الحجز الخاص بك ، يرجى الرجوع إلى البريد الإلكتروني للتأكيد واتباع
      التعليمات الواردة فيه. يرجى ملاحظة أنه قد يتم تحصيل رسوم منك مقابل الإلغاء وفقًا لسياسة إلغاء القوارب والدفع
      (المسبق) وعدم الحضور أو لن يحق لك سداد أي مبلغ مدفوع (مسبقًا). نوصيك بقراءة سياسة الإلغاء والدفع (المسبق) وعدم
      الحضور بعناية قبل إجراء الحجز وتذكر سداد مدفوعات أخرى في الوقت المحدد كما هو مطلوب للحجز ذي الصلة.
    </p>
    <p>
      ملاحظة: لن يتم رد الأموال إلا من خلال طريقة الدفع الأصلية.
    </p>
  </section>

  <section>
    <h5>
      7. نزاع أو مطالبة
    </h5>
    <ul class="mx-5">
      <li>
        يخضع أي نزاع أو مطالبة تنشأ عن أو فيما يتعلق بهذا الموقع الإلكتروني ويتم تفسيره وفقًا لقوانين دولة الإمارات
        العربية المتحدة.
      </li>
      <li>
        الإمارات العربية المتحدة هي بلد إقامتنا.
      </li>
      <li>
        لا يجوز للعميل الذي يستخدم موقع الويب وهو قاصر / أقل من 18 عامًا التسجيل كمستخدم للموقع ولا يجوز له التعامل أو
        استخدام الموقع.

      </li>
      <li>
        إذا قمت بالدفع مقابل منتجاتنا أو خدماتنا على موقعنا الإلكتروني ، فسيتم تقديم التفاصيل التي يُطلب منك إرسالها
        مباشرةً إلى مزود الدفع الخاص بنا عبر اتصال آمن.
      </li>
      <li>
        يجب على حامل البطاقة الاحتفاظ بنسخة من سجلات المعاملات وسياسات التاجر وقواعده.
      </li>
    </ul>
  </section>

  <section>
    <h5>
      8. قانون دولة الإمارات العربية المتحدة
    </h5>
    <p>
      لن يتعامل Boisride.com أو يقدم أي خدمات أو منتجات إلى أي من البلدان الخاضعة لعقوبات مكتب مراقبة الأصول الأجنبية
      وفقًا لقانون دولة الإمارات العربية المتحدة.
    </p>
  </section>

</section>
