<!--Services Section-->
<section class="services-section">
  <div class="title-box">
    <div class="image-layer" style="background-image: url(./assets/images/background/image-1.jpg);"></div>
    <div class="auto-container">
      <div class="sec-title centered light with-border">
        <div class="upper-text">What We Do For You</div>
        <h2>Experience The <strong>Thrill</strong></h2>
        <p style="text-align:center;font-size:18px"><span style="color:#5f727f">Our luxury yachts will take you in several of the city’s sights, including Palm Jumeirah, the sail-shaped Burj Al Arab, Jumeirah Beach, World Island, Dubai Canal, Dubai Creek ... </span></p>
        <div class="separator"></div>
      </div>
    </div>
  </div>
  <div class="auto-container">
    <carousel *ngIf="waterSports.length" [margin]="20" [height]="600" [cellWidth]="400" [cellsToShow]="numberofcells"
              [autoplay]="true" [dots]="true" [arrowsOutside]="true" [transitionDuration]="100">
      <div class="carousel-cell" *ngFor="let watersport of waterSports">
        <div class="service-block">
          <div class="inner-box">

            <div class="yacht-wrap">

              <article class="yacht">


                <div class="img-wrap flip-container">
                  <div>
                    <img *ngIf="watersport.images[0].image" src="{{watersport.images[0].image}}" class="front">
<!--                    <img *ngIf="watersport.images[1].image" src="{{watersport.images[1].image}}" class="back">-->
                  </div>
                </div> <!-- img-wrap.// -->

              </article> <!-- yacht .// -->
            </div>


            <div class="lower-box">
              <div class="lower-content">
                <div class="icon-box"><span class="flaticon-surf-sea"></span></div>
                <h4><a href="">{{watersport.name}}</a></h4>
                <div class="link-box">
                  <a routerLink="/water-sports/{{watersport.slug}}" class="default-link">
                    <span class="icon flaticon-logout"></span> <span class="link-text">Read More</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </carousel>
  </div>
</section>
