<header class="main-header header-style-one fixed-header d-none d-lg-block d-xl-block">
  <div class="logo-desktop"
       style="background: url('./assets/images/logo-container.png') left top no-repeat">
    <div class="logo">
      <a routerLink="/" title="Boats Ride - Rental Luxury Yacht In Dubai">
        <img src="assets/images/logoooo.png"
             alt="Boats Ride - Rental Luxury Yacht In Dubai"
             title="Boats Ride -Rental Yacht In Dubai ">
      </a>
    </div>
  </div>
  <!-- Header Top -->
  <div class="header-top header-top-one">
    <div class="outer-container">
      <div class="inner clearfix">
        <div class="top-left clearfix">
          <!--Info-->
          <div class="info">
            <ul class="clearfix mb-0">
              <li class="phone">
                <a href="tel:+971524918686" style="direction: ltr !important;">
                  <span class="icon fas fa-phone-alt mx-1"></span>
                  <span>+971-52-491-8686</span>
                </a>
              </li>
              <li class="email">
                <a href="mailto:info@botsride.com">
                  <span class="icon fa fa-envelope mx-1"></span>
                  <span>info@boatsride.com</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="top-text">
            <span class="icon flaticon-surf-1"></span> Water Sports Activities, Experience The Thrill!.
          </div>
        </div>

        <div class="top-right clearfix">
          <!--Top Search-->
          <div class="info">
            <ul class="clearfix mb-0 lang-switch">
              <li (click)="switchLanguage('en')">
                <img src="assets/images/download.png" class="english">{{'en'|translate}}
              </li>

              <li (click)="switchLanguage('ar')">
                <img src="assets/images/img3.png" class="arabic"> {{'ar'|translate}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Upper -->
  <div class="header-upper">
    <div class="overlay3">

      <div class="outer-container">

        <div class="inner clearfix">

          <!--Logo-->
          <div class="logo-box">
            <div class="logo"><a href="index.html" title="Sailing - Water Sports HTML Template"><img
              src="assets/images/logo-two.png" alt="Sailing - Water Sports HTML Template"
              title="Sailing - Water Sports HTML Template"></a></div>
          </div>
          <div class="nav-content clearfix">
            <div class="nav-outer clearfix">
              <!--Mobile Navigation Toggler-->
              <div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>

              <!-- Main Menu -->
              <nav class="main-menu navbar-expand-md navbar-light">
                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                  <ul class="navigation clearfix">
                    <li class="sub-menu"><a routerLink="">{{'home'|translate}}</a></li>
                    <li class="sub-menu"><a routerLink="yachts">{{'yachtRent'|translate}}</a></li>
                    <li class="sub-menu"><a routerLink="water-sports">{{'waterSport'|translate}}</a>
                    <li class="sub-menu"><a routerLink="fishing-trip">{{'finishingTrip'|translate}}</a></li>
                    <li class="sub-menu"><a routerLink="services">{{'service'|translate}}</a></li>
                    <li><a routerLink="offers">{{'offer'|translate}}</a></li>
                    <li class="sub-menu"><a routerLink="destination">{{'destination'|translate}}</a></li>
                    <li class="sub-menu"><a routerLink="blogs">{{'blog'|translate}}</a></li>
                    <li><a routerLink="contact">{{'contact'|translate}}</a></li>
                    <li class="sub-menu"><a routerLink="about">{{'about'|translate}}</a></li>
                  </ul>
                </div>
              </nav>
            </div>

            <div class="other-links clearfix">
              <!--Book Btn-->
              <div class="book-btn">
                <a routerLink="/yachts"
                   class="theme-btn btn-style-one">
                  <div class="btn-title">{{'booknow'|translate}}</div>
                </a>
              </div>
              <!--Social Links-->
              <div class="social-links social-links-one">
                <ul class="clearfix">
                  <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                  <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                </ul>
              </div>
              <!--Nav Toggler-->
              <div class="max-nav-toggler">
                <button (click)="drawer.open()" class="theme-btn toggle-btn"><span class="flaticon-circled"></span>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

</header>
