<header class="main-header header-style-one fixed-header">
  <div class="logo-desktop">
    <div class="logo"><a href="index.html" title="Boats Ride - Rental Luxury Yacht In Dubai"><img src="assets/images/logo-three.png" alt="Boats Ride - Rental Luxury Yacht In Dubai" title="Boats Ride -Rental Yacht In Dubai "></a></div>
  </div>
  <!-- Header Top -->
  <div class="header-top header-top-one">
    <div class="outer-container">
      <div class="inner clearfix">
        <div class="top-left clearfix">
          <!--Info-->
          <div class="info">
            <ul class="clearfix">
              <li class="phone"><a href="tel:+971524918686"><span class="icon fa fa-phone-alt"></span>+971 52 491 8686</a></li>
              <li class="email"><a href="mailto:info@botsride.com"><span class="icon fa fa-envelope"></span> info@boatsride.com</a></li>
            </ul>
          </div>

          <div class="top-text"><span class="icon flaticon-surf-1"></span> Water Sports Activities, Experience The Thrill!.</div>
        </div>

        <div class="top-right clearfix">
          <!--Top Search-->
          <div class="info">
            <ul class="clearfix">
              <li><img src="assets/images/img3.png" style="
    width: 20px;
    height: 20px;  margin-right: 8px;">Arabic  </li>
            </ul>
          </div>
          <div class="my-account">
            <ul class="clearfix">
              <li><a href="#"><span class="icon flaticon-password"></span> Login</a></li>
              <li><a href="#"><span class="icon flaticon-user-2"></span> Signup</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Upper -->
  <div class="header-upper">
    <div class="overlay3">

      <div class="outer-container">

        <div class="inner clearfix">

          <!--Logo-->
          <div class="logo-box">
            <div class="logo"><a href="index.html" title="Sailing - Water Sports HTML Template"><img src="assets/images/logo-two.png" alt="Sailing - Water Sports HTML Template" title="Sailing - Water Sports HTML Template"></a></div>
          </div>
          <div class="nav-content clearfix">
            <div class="nav-outer clearfix">
              <!--Mobile Navigation Toggler-->
              <div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>

              <!-- Main Menu -->
              <nav class="main-menu navbar-expand-md navbar-light">
                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                  <ul class="navigation clearfix">
                    <li class="sub-menu"><a href="index.html">Home</a></li>
                    <li class="sub-menu"><a href="about.html">About</a></li>
                    <li class="sub-menu"><a href="yacht-rent.html">Yacht Rent</a></li>
                    <li class="sub-menu"><a href="water-sport.html">Water Sports</a>
                    <li class="sub-menu"><a href="fishing-trip.html">Fishing Trip</a></li>
                    <li class="sub-menu"><a href="services.html">Services</a></li>
                    <li class="sub-menu"><a href="destinations.html">Destinations</a></li>
                    <li><a href="offers.html">Offers</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </div>
              </nav>
            </div>

            <div class="other-links clearfix">
              <!--Book Btn-->
              <div class="book-btn">
                <a href="yacht-rent-buy-single.html" class="theme-btn btn-style-one"><div class="btn-title">Book Now</div></a>
              </div>
              <!--Social Links-->
              <div class="social-links social-links-one">
                <ul class="clearfix">
                  <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                  <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                </ul>
              </div>
              <!--Nav Toggler-->
              <div class="max-nav-toggler">
                <button class="theme-btn toggle-btn"><span class="flaticon-circled"></span></button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>
  <!--End Header Upper-->

  <!-- Sticky Header  -->
  <div class="sticky-header animated slideInDown">
    <div class="auto-container clearfix" style="margin: unset!important;max-width: 1200px!important;">
      <!--Logo-->
      <div class="logo pull-left">
        <a href="index.html" title=""><img src="assets/images/sticky-logo.png" alt="" title=""></a>
      </div>
      <!--Right Col-->
      <div class="pull-right clearfix">
        <!-- Main Menu --><nav class="main-menu clearfix">
        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
          <ul class="navigation clearfix">
            <li class="sub-menu"><a routerLink="">Home</a></li>
            <li class="sub-menu"><a routerLink="about">About</a></li>
            <li class="sub-menu"><a routerLink="yachtrental">Yacht Rent</a></li>
            <li class="sub-menu"><a href="water-sport.html">Water Sports</a>
            <li class="sub-menu"><a href="fishing-trip.html">Fishing Trip</a></li>
            <li class="sub-menu"><a href="services.html">Services</a></li>
            <li class="sub-menu"><a routerLink="destination">Destinations</a></li>
            <li><a routerLink="offers">Offers</a></li>
            <li><a routerLink="contact">Contact</a></li>
          </ul>
        </div>
      </nav>

        <!--Book Btn-->
        <div class="booking-link">
          <a href="yacht-rent-buy-single.html" class="theme-btn btn-style-one"><div class="btn-title">Book Now</div></a>
        </div>
      </div>
    </div>
  </div><!-- End Sticky Menu -->

  <!-- Mobile Menu  -->
  <div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><span class="icon flaticon-targeting-cross"></span></div>

    <nav class="menu-box">
      <div class="nav-logo"><a href="index.html"><img src="assets/images/nav-logo.png" alt="" title=""></a></div>
      <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
      <!--Social Links-->
      <div class="social-links">
        <ul class="clearfix">
          <li><a href="#"><span class="fab fa-twitter"></span></a></li>
          <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
          <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
          <li><a href="#"><span class="fab fa-instagram"></span></a></li>
          <li><a href="#"><span class="fab fa-youtube"></span></a></li>
        </ul>
      </div>
    </nav>
  </div><!-- End Mobile Menu -->
</header>
<section class="hidden-bar right-align">

  <div class="hidden-bar-closer">
    <button><span class="flaticon-letter-x"></span></button>
  </div>

  <!-- Hidden Bar Wrapper -->
  <div class="hidden-bar-wrapper">

    <div class="logo">
      <a href="index.html"><img src="assets/images/logo-two.png" alt="" /></a>
    </div>
    <div class="content-box">
      <h3>Get In Touch</h3>
      <div class="text">Welcome to the most important yacht and boat rental platform in Dubai, we can help you find a yacht or boat for rent in Dubai and we also organize cruises and special events such as birthdays, letters, wedding anniversaries, company parties and many other events.</div>
      <a href="contact.html" class="theme-btn btn-style-two"><div class="btn-title">Book Now</div></a>
    </div>
    <div class="contact-info">
      <h2>Contact Info</h2>
      <ul class="list-style-two">
        <li><span class="icon fa fa-map-marker-alt"></span>King Salman Bin Abdulaziz Al Saud St - Dubai Marina - Dubai, UAE.</li>
        <li><span class="icon fa fa-phone-alt"></span><a href="tel:+971524918686">+971 52 491 8686</a></li>
        <li><span class="icon fa fa-envelope-open"></span> <a href="mailto:info@boatsride.com">info@boatsride.com</a></li>
        <li><span class="icon fa fa-clock"></span>Week Days: 09:00am to 03:00am  </li>
      </ul>
    </div>
  </div><!-- / Hidden Bar Wrapper -->

</section>
