<footer class="main-footer footer-style-two">
  <div class="outer-container">
    <!--Widgets Section-->
    <div class="widgets-section">
      <div class="auto-container">
        <div class="widgets-inner">
          <div class="shape-1"></div>
          <div class="shape-2"></div>
          <div class="left-image"><img src="assets/images/resource/footer-image.png" alt="" title=""></div>
          <div class="offer-carousel-box">
            <!--Carousel-->
            <ngb-carousel [interval]="3000" [pauseOnHover]="true"
                          [wrap]="true" [showNavigationArrows]="showNavigationArrows"
                          [showNavigationIndicators]="showNavigationIndicators">
              <ng-template ngbSlide>
                <div class="offer-block">
                  <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-yacht-facing-right"></span></div>
                    <h4>We Provide <br>Some Best Offers</h4>
                    <div class="subtitle">For Newly Married Couples</div>
                    <div class="offer-price">
                      <span class="percent">40<em>%</em></span>
                      <span class="txt">Offer</span>
                    </div>
                    <div class="links-box clearfix">
                      <a href="yacht-rent.html" class="theme-btn btn-style-one"><div class="btn-title">Book Now</div></a>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="offer-block">
                  <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-yacht-facing-right"></span></div>
                    <h4>We Provide <br>Some Best Offers</h4>
                    <div class="subtitle">For Newly Married Couples</div>
                    <div class="offer-price">
                      <span class="percent">40<em>%</em></span>
                      <span class="txt">Offer</span>
                    </div>
                    <div class="links-box clearfix">
                      <a href="yacht-rent.html" class="theme-btn btn-style-one"><div class="btn-title">Book Now</div></a>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="offer-block">
                  <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-yacht-facing-right"></span></div>
                    <h4>We Provide <br>Some Best Offers</h4>
                    <div class="subtitle">For Newly Married Couples</div>
                    <div class="offer-price">
                      <span class="percent">40<em>%</em></span>
                      <span class="txt">Offer</span>
                    </div>
                    <div class="links-box clearfix">
                      <a href="yacht-rent.html" class="theme-btn btn-style-one"><div class="btn-title">Book Now</div></a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>

          <div class="row clearfix">

            <!--Column-->
            <div class="column col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="footer-widget info-widget">
                <div class="widget-content">
                  <div class="widget-title">
                    <h4>Contact Details</h4>
                  </div>
                  <div class="info">
                    <ul>
                      <li>
                        <span class="icon fa fa-map-marker-alt"></span> Boats Ride <br>King Salman Bin Abdulaziz Al Saud St  <br>- Dubai Marina - Dubai, UAE.
                      </li>
                      <li>
                        <span class="icon fa fa-phone-alt"></span>
                        Call us <a href="tel:+971524918686">+971 52 491 8686</a>
                      </li>
                      <li>
                        <span class="icon fa fa-envelope"></span>
                        <a href="mailto:info@boatsride.com">info@boatsride.com </a>
                      </li>
                    </ul>
                  </div>
                  <div class="social-links">
                    <ul class="clearfix">
                      <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                      <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                      <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                      <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!--Column-->
            <div class="column col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="footer-widget links-widget">
                <div class="widget-content">
                  <div class="widget-title">
                    <h4>What We Do</h4>
                  </div>
                  <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <ul class="links">
                        <li><a href="destinations.html">Destination</a></li>
                        <li><a href="offers.html">Offers</a></li>
                        <li><a href="destinations.html">Yacht Rent</a></li>
                        <li><a href="water-sport">Wather Sports</a></li>
                        <li><a href="fishing-trip">Fishing Tips</a></li>
                        <li><a href="ser vices.html">Services</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <ul class="links">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="testimonial.html">Testimonials</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="auto-container">
        <div class="inner clearfix">
          <div class="copyright">Copyright &copy; 2020 Seo light. All Rights Reserved.</div>
          <div class="bottom-links"><a href="#">Terms of Use</a> & <a href="#">Private Policy</a></div>
        </div>
      </div>
    </div>
  </div>

</footer>
