<section class="welcome-section">

  <section>
    <p>
      These terms and conditions, as may be amended from time to time, apply to all our services directly or indirectly
      through distributors (made available online), through any mobile device, by email, or by telephone. By accessing,
      browsing, and using our website or any of our applications through whatever platform (hereafter collectively
      referred to as the “website”) and/or by completing a reservation, you acknowledge and agree to have read,
      understood and agreed to the terms and conditions set out below (including the privacy statement).
    </p>

    <p>
      These pages, the content and infrastructure of these pages, and the online reservations service provided on these
      pages and through the website (Boats Ride) are owned, operated, and provided by Boats Ride Team. (“Boats Ride”,
      “us”, “we” or “our”) and are provided for you subjected to the terms and conditions set out below.
    </p>
  </section>

  <section>
    <h5>
      1. Scope of our Service
    </h5>
    <p>
      Through the website, we (Boats Ride and our affiliate (distribution) partners) provide an online platform through
      which all types of temporary services providers, included car rentals and cruises rental, can advertise their
      services for reservation, and through which visitors to the website can make such reservations. By making a
      reservation through Boats Ride, you enter into a direct (legally binding) contractual relationship with the
      providers with which you book services. From the point at which you make your reservation, we act solely as an
      intermediary between you and the provider, transmitting the details of your reservation to the relevant services
      provider and sending you a confirmation email for and on behalf of the services provider.
    </p>
    <p>
      When rendering reservation on Boats Ride, the information that we disclose is based on the information provided to
      us by services providers (yachts, cruises). As such, the services providers are given access to an extranet
      through which they are fully responsible for updating all rates, availability and other information displayed on
      our website. Although we will use reasonable skill and care in performing our services, we will not verify if, and
      cannot guarantee that, all information is accurate, complete or correct, nor can we be held responsible for any
      errors (including manifest and typographical errors), any interruptions (whether due to any (temporary and/or
      partial) breakdown, repair, upgrade or maintenance of our website or otherwise), inaccurate, misleading or untrue
      information or non-delivery of information. Each accommodation provider remains responsible at all times for the
      accuracy, completeness, and correctness of the (descriptive) information (including the rates and availability)
      displayed on our website. Our website does not constitute and should not be regarded as a recommendation or
      endorsement of the quality or service level.
    </p>
  </section>

  <section>
    <h5>
      2. Prices and Best Price Guarantee
    </h5>
    <p>
      The prices on our site are highly competitive. All prices on the Boats Ride website are per hour for your entire
      trip, unless stated differently on our website or in the confirmation email. Sometimes cheaper rates are available
      on our website for specific yachts; however, these rates may carry special restrictions and conditions. All
      special offers and promotions are marked as such.
    </p>
  </section>

  <section>
    <h5>
      3. Privacy and Cookies
    </h5>
    <p>
      Boats Ride respects your privacy. Please take a look at our privacy and cookies policy for further information.
    </p>
  </section>

  <section>
    <h5>
      4. Free of Charge
    </h5>
    <p>
      Our service is free of charge because, unlike many other parties, we will not charge you for our service or add
      any additional (reservation) fees to the yacht rate.
    </p>
  </section>

  <section>
    <h5>
      5. Accepted Payment
    </h5>
    <p>
      We accept payments online through multiple methods, including Visa and MasterCard (credit/debit cards) in AED.
    </p>
  </section>

  <section>
    <h5>
      6. Cancellation
    </h5>
    <p>
      By making a reservation with Boats Ride, you accept and agree to the relevant cancellation and no-show policy of
      Boats Ride, and to any additional terms and conditions of Boats Ride that may apply to your reservation, including
      services rendered and/or products offered by Boats Ride. The general cancellation and no-show policy is made
      available on our website, during the reservation procedure and in the confirmation email. Please note that certain
      rates or special offers are not eligible for cancellation or change.
    </p>
    <p>
      Please check the yacht details thoroughly for any such conditions prior to making your reservation. Please note
      that a reservation which requires down payment or (wholly or partly) prepayment may be cancelled (without a prior
      notice of default or warning) insofar the relevant (remaining) amount(s) cannot be collected in full on the
      relevant payment date in accordance with the relevant payment policy of Boats Ride. Late payment, wrong bank,
      debit or credit card details, invalid credit/debit cards, or insufficient funds are all at your own risk and on
      your own account and you shall not be entitled to any refund of any (non-refundable) prepaid amount unless Boats
      Rides agrees or allows otherwise under its (pre)payment and cancellation policy.
    </p>
    <p>
      If you wish to review, adjust, or cancel your reservation, please revert to the confirmation email and follow the
      instructions therein. Please note that you may be charged for your cancellation in accordance with the Boats Ride
      cancellation, (pre)payment, and no-show policy or you will not be entitled to any repayment of any (pre)paid
      amount. We recommend that you read the cancellation, (pre)payment, and no-show policy carefully prior to making
      your reservation and remember to make further payments on time as may be required for the relevant reservation.
    </p>
    <p>
      Note: Refunds will be done only through the Original Mode of Payment.
    </p>
  </section>

  <section>
    <h5>
      7. Dispute or Claim
    </h5>
    <ul class="mx-5">
      <li>
        Any dispute or claim arising out of or in connection with this website shall be governed and construed in
        accordance with the laws of UAE.
      </li>
      <li>
        United Arab of Emirates is our country of domicile.
      </li>
      <li>
        The customer using the website who is minor/under the age of 18 shall not register as a user of the website and
        shall not transact on or use the website.
      </li>
      <li>
        If you make a payment for our products or services on our website, the details you are asked to submit will be
        provided directly to our payment provider via a secured connection.
      </li>
      <li>
        The cardholder must retain a copy of transaction records and merchant policies and rules.
      </li>
    </ul>
  </section>

  <section>
    <h5>
      8. UAE Law
    </h5>
    <p>
      boatsride.com will NOT deal or provide any services or products to any of OFAC sanctions countries to be in
      accordance with the law of UAE.
    </p>
  </section>


</section>
