<!--yacht video Section-->
<section class="testimonials-section-two direction-left">
    <div class="auto-container">
      <div class="sec-title-two centered with-border">
        <h2 role="button" routerLink="yachts">Frequently Asked Questions (FAQs)</h2>
        <div class="separator"></div>
      </div>
    </div>
    <div class="auto-container">       
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    1. What services does BoatsRide offer?
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    BoatsRide offers a range of services including Yacht Rentals, Private Yacht Charter, VIP Yacht Charter, Speed Boat Rides, Mini Yacht Trips, and special packages like Yacht Rental for Couples. We also offer additional services such as private chef and butler services, entertainment systems, and more.                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    2. What types of yachts are available for rent?
                </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    We offer a diverse fleet of yachts including Marina Yachts, Gulf Craft Majesty, Majesty Yacht, Azimuth Yachts, Nuvari Yachts, Sunseeker models, and the Gugu Boat. We also have speed boats and mini yachts for smaller groups or quick trips.                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    3. How can I book a yacht at BoatsRide?
                </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    You can book a yacht by visiting our website, selecting your preferred yacht, and following the booking procedure. Alternatively, you can contact our customer service team who will guide you through the booking process.                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading4">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        4. What are your yacht charter Dubai rates?
                  </button>
                  </h5>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                  <div class="card-body">
                    Our yacht charter rates vary depending on the type of yacht, duration of the trip, and additional services requested. For detailed pricing, please check the specific yacht pages on our website or contact our customer service team.                 </div>
                </div>
              </div>
              <div class="card">
              <div class="card-header" id="heading5">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    5. What is included in the VIP Yacht Charter?
                </button>
                </h5>
              </div>
              <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                <div class="card-body">
                    Our VIP Yacht Charter includes an exclusive yacht experience with a range of premium amenities such as a private chef, personal butler, top-of-the-line entertainment systems, and more.                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading6">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    6. Do you offer any special packages for couples?
                </button>
                </h5>
              </div>
              <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
                <div class="card-body">
                    Yes, we offer a Yacht Rental package specifically designed for couples. This package provides an intimate and luxurious setting for couples to create unforgettable memories.                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading7">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        7. Can I customize my yacht trip?
                  </button>
                  </h5>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
                  <div class="card-body">
                    Yes, at BoatsRide we offer fully customizable itineraries. You can explore Dubai at your own pace and according to your own preferences with our private yacht charter service.                </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading8">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        8. Where can we go on a yacht trip in Dubai?
                  </button>
                  </h5>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
                  <div class="card-body">
                    There are several beautiful destinations to explore in Dubai, including the iconic Burj Al Arab, the stunning Palm Jumeirah, and the vibrant Dubai Marina. Our team can help you plan the perfect itinerary based on your preferences.                </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading9">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        9. What safety measures are in place on your yachts?
                  </button>
                  </h5>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
                  <div class="card-body">
                    All our yachts are equipped with safety equipment in accordance with international safety standards, including life vests, life rings, and fire safety equipment. Our crew is also trained in safety procedures to ensure a safe and comfortable trip for our guests.                </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading10">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                        10. Do your yachts have any unique features?
                  </button>
                  </h5>
                </div>
                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
                  <div class="card-body">
                    Yes, many of our yachts have unique features such as slides and jacuzzis. Please check the specific yacht pages on our website for more information, or contact our customer service team.                </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading111">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse111" aria-expanded="false" aria-controls="collapse111">
                        11. What is the capacity of your yachts?
                  </button>
                  </h5>
                </div>
                <div id="collapse111" class="collapse" aria-labelledby="heading111" data-parent="#accordion">
                  <div class="card-body">
                    Our yachts can accommodate anywhere from 2 to over 50 guests depending on the type of yacht. Please check the specific yacht pages on our website for detailed information on capacity.                </div>
                </div>
              </div>
          </div>
    </div>
  </section>
  
