<section class="welcome-section">

  <section aria-label="What makes us different">
    <section>
      <p>
        خصوصيتك مهمة بالنسبة لنا. نحن نقدر ثقتك ونلتزم بحماية وحماية أي معلومات شخصية تقدمها لنا. يصف هذا المستند ، الذي
        نقوم بتحديثه من وقت لآخر ، كيفية استخدامنا لبياناتك الشخصية ومعالجتها وكيفية استخدامنا لملفات تعريف الارتباط.
        يخبرك أيضًا كيف يمكنك الاتصال بنا إذا كانت لديك أسئلة حول معلوماتك الشخصية.
      </p>
      <p>
        توفر بوت رايد خدمات السفر عبر الإنترنت من خلال مواقع الويب الخاصة بها وتطبيقات الأجهزة المحمولة ومن خلال منصات
        أخرى عبر الإنترنت مثل مواقع الويب الخاصة بالشركاء ووسائل التواصل الاجتماعي. تنطبق المعلومات التالية على كل هذه
        الأنظمة الأساسية.
      </p>
    </section>

    <section>
      <h5>
        ما الذي يجعلنا مختلفين
      </h5>
      <div>
        <h6>
          ما نوع المعلومات الشخصية التي تستخدمها "بوت رايد"؟
        </h6>
        <p>
          عند إجراء حجز ، سيُطلب منك اسمك وعنوانك ورقم هاتفك وعنوان بريدك الإلكتروني وتفاصيل الدفع وأسماء الضيوف
          المسافرين
          معك و تفضيلاتك بالنسبة إلى إقامتك. لتسهيل إدارة حجوزاتك ، يمكنك فتح حساب مستخدم. يتيح لك ذلك حفظ إعداداتك
          الشخصية ومراجعة الحجوزات السابقة وإدارة الحجوزات المستقبلية. عندما تزور موقعنا على الويب ، حتى إذا لم تقم
          بإجراء
          حجز ، فقد نجمع معلومات معينة ، مثل عنوان IP الخاص بك ، أو المتصفح ، ومعلومات حول نظام تشغيل جهاز الكمبيوتر
          الخاص
          بك ، وإصدار التطبيق ، وإعدادات اللغة والصفحات التي تم عرضها لـ أنت. إذا كنت تستخدم جهازًا جوّالاً ، فقد نجمع
          أيضًا البيانات التي تحدد جهازك الجوّال ، والإعدادات والخصائص الخاصة بالجهاز وتفاصيل خطوط الطول / العرض. قد
          نتلقى
          أيضًا معلومات عنك عند استخدام بعض خدمات الوسائط الاجتماعية.
        </p>
        <p>
          الحجوزات: أولاً وقبل كل شيء ، نستخدم بياناتك الشخصية لإكمال وإدارة حجزك عبر الإنترنت وإرسال تفاصيل حجزك إلى
          مكان
          الإقامة الذي حجزته.
        </p>
        <p>
          خدمة العملاء: نقدم خدمة عملاء دولية على مدار الساعة طوال أيام الأسبوع من مكاتبنا المحلية بأكثر من 4 لغات. تتيح
          مشاركة التفاصيل الخاصة بك مع خدمة العملاء العالمية لدينا استجابة سريعة عندما تحتاج إلينا - بما في ذلك مساعدتك
          في
          العثور على الخدمات المناسبة وأي أسئلة قد تكون لديك حول حجزك
        </p>
      </div>
    </section>

    <section>
      <h6>
        لماذا تجمع بوت رايد بياناتك الشخصية وتستخدمها وتشاركها؟.
      </h6>
      <p>
        تقييمات الضيوف: قد نستخدم معلومات الاتصال الخاصة بك لدعوتك لكتابة مراجعة ضيف بعد إقامتك. يمكن أن يساعد هذا
        المسافرين الآخرين في اختيار مكان للإقامة يناسبهم بشكل أفضل
      </p>
      <p>
        إدارة الحساب: نحن نقدم خدمة حساب المستخدم على موقعنا. نستخدم المعلومات التي تقدمها لنا لإدارة ذلك ، مما يسمح لك
        بإدارة حجوزاتك ، والاستفادة من العروض الخاصة ، وإجراء الحجوزات المستقبلية بسهولة أكبر وإدارة إعداداتك الشخصية.
        تتيح لك إدارة الإعدادات الشخصية الاحتفاظ بالقوائم ومشاركتها ، ومشاركة الصور ، والاطلاع على الخصائص التي بحثت
        عنها من قبل ، والاطلاع على المعلومات الأخرى التي قدمتها حول أماكن الإقامة والوجهات.
      </p>
      <p>
        كما يسمح لك بمشاهدة أي مراجعات أرسلتها حول الأماكن التي مكثت فيها. إذا أردت ، يمكنك مشاركة معلومات معينة في حساب
        المستخدم الخاص بك عن طريق إنشاء ملف تعريف عام مرتبط إما باسمك الأول أو اسم الشاشة الذي تختاره. يتضمن نوع
        المعلومات التي يمكنك مشاركتها على هذا النظام الأساسي صورتك وأسماء الأماكن التي أقمت فيها وقوائمك وخططك للرحلات
        المستقبلية وآرائك ومعلومات أخرى حول الخدمات والوجهات
      </p>
      <p>أنشطة التسويق: نستخدم أيضًا معلوماتك لأنشطة التسويق ، وفقًا لما يسمح به القانون. على سبيل المثال:</p>
      <p>
        عند إجراء حجز معنا أو إعداد حساب مستخدم ، قد نستخدم معلومات الاتصال الخاصة بك لنرسل لك أخبارًا حول المنتجات
        والخدمات المماثلة المتعلقة بالسفر. كما نرسل لعملائنا رسائل إخبارية منتظمة عبر البريد الإلكتروني. يمكنك إلغاء
        الاشتراك أو إلغاء الاشتراك في الاتصالات التسويقية في أي وقت
      </p>
      <p>
        استنادًا إلى المعلومات التي تشاركها معنا ، قد يتم عرض العروض الفردية لك على موقع بوت رايد على الويب أو في
        تطبيقات الهاتف المحمول أو على مواقع الويب التابعة لجهات خارجية ، بما في ذلك مواقع التواصل الاجتماعي عندما نعتقد
        أن عرضًا معينًا قد يثير اهتمامك ، فقد نقرر الاتصال بك عبر الهاتف.
      </p>
      <p>
        الاتصالات الأخرى: قد تكون هناك أوقات أخرى نتواصل فيها عبر البريد الإلكتروني أو البريد أو الهاتف أو عن طريق إرسال
        رسالة نصية إليك ، اعتمادًا على معلومات الاتصال التي تشاركها معنا. ربما يوجد عدة اسباب لهذا قد نحتاج إلى
        الاستجابة والتعامل مع الطلبات التي قدمتها.
      </p>
      <p>
        إذا لم تكن قد انتهيت من الحجز عبر الإنترنت ، فقد نرسل إليك تذكيرًا بالبريد الإلكتروني لمتابعة الحجز. نعتقد أن
        هذه الخدمة الإضافية مفيدة لك لأنها تتيح لك الاستمرار في الحجز دون الحاجة إلى البحث عن عناصر الخدمة مرة أخرى أو
        ملء جميع تفاصيل الحجز من البداية.
      </p>
      <p>
        عندما تستخدم خدماتنا ، قد نرسل لك استبيانًا أو ندعوك لتقديم مراجعة حول تجربتك مع بوت رايد.
      </p>
      <p>
        قد نرسل لك أيضًا مواد أخرى متعلقة بالحجز ، مثل كيفية الاتصال بـ بوت رايد إذا كنت بحاجة إلى مساعدة أثناء غيابك ،
        أو ملخصًا للحجوزات السابقة التي أجريتها باستخدام بوت رايد
      </p>
      <p>
        أبحاث السوق: نطلب أحيانًا من عملائنا المشاركة في أبحاث السوق. لن يتم استخدام أي تفاصيل شخصية إضافية تقدمها لنا
        كجزء من أبحاث السوق إلا بموافقتك
      </p>
      <p>
        كشف الاحتيال والوقاية منه: قد نستخدم البيانات الشخصية لاكتشاف ومنع الاحتيال والأنشطة غير القانونية أو غير
        المرغوب فيها الأخرى
      </p>
      <p>
        تحسين خدماتنا: أخيرًا ، نستخدم المعلومات الشخصية لأغراض تحليلية ، لتحسين خدماتنا ، وتعزيز تجربة المستخدم ،
        وتحسين وظائف وجودة خدمات السفر عبر الإنترنت.
      </p>
    </section>

    <section>
      <h6>
        كيف تستخدم بوت رايد وسائل التواصل الاجتماعي؟
      </h6>
      <p>
        نحن نستخدم وسائل التواصل الاجتماعي للترويج لممتلكات شركائنا في الخدمات ولتعزيز موقع الويب الخاص بالخدمات الخاصة
        بنا
        وتحسينه وتسهيله. على سبيل المثال ، قمنا بدمج مكونات الوسائط الاجتماعية الإضافية في موقع بوت رايد. لذلك عند النقر
        فوق أحد الأزرار والتسجيل في حساب الوسائط الاجتماعية الخاص بك ، تتم مشاركة المعلومات مع مزود الوسائط الاجتماعية
        الخاص بك ، وربما يتم عرضها على ملف تعريف الوسائط الاجتماعية الخاص بك لمشاركتها مع الآخرين في شبكتك. بالإضافة إلى
        تنفيذ هذه الأزرار ، تستخدم بوت رايد وسائل التواصل الاجتماعي من خلال الاحتفاظ بحسابات على العديد من مواقع التواصل
        الاجتماعي ومن خلال تقديم تطبيقات اجتماعية. قد تسمح لك خدمات الوسائط الاجتماعية هذه بمشاركة المعلومات مع المسافر.
        عند التسجيل باستخدام أحد تطبيقات الشبكات الاجتماعية ، سيتم إخبارك بالمعلومات التي ستتم مشاركتها مع بوت رايد. قد
        تتضمن المعلومات التي تختار مشاركتها معنا المعلومات الأساسية المتوفرة بالفعل في ملف تعريف الوسائط الاجتماعية
        وعنوان البريد الإلكتروني وتحديثات الحالة وقائمة الأصدقاء. هذه المعلومات ضرورية لخلق تجربة مستخدم فريدة سواء في
        التطبيق نفسه أو على موقعنا. إنه يسهل أشياء مثل تخصيص موقعنا الإلكتروني ليناسب احتياجاتك ، وربطك بأصدقائك في
        وجهات السفر وتحليل وتعزيز خدماتنا المتعلقة بالسفر
      </p>
      <p>
        قد نتيح لك أيضًا تسجيل الدخول إلى خدمات بوت رايد باستخدام حسابات الوسائط الاجتماعية الخاصة بك. سيتمكن مزود
        الوسائط الاجتماعية الخاص بك من إخبارك المزيد حول كيفية استخدام ومعالجة بياناتك في مثل هذه الحالات
      </p>
    </section>

    <section>
      <h6>
        كيف تشارك بوت رايد بياناتك مع أطراف ثالثة؟
      </h6>
      <p>
        في ظروف معينة ، قد نشارك بياناتك الشخصية مع أطراف ثالثة.
      </p>
      <p>
        مكان الإقامة الذي حجزته: لإكمال الحجز ، نحتاج إلى نقل تفاصيل الحجز ذات الصلة إلى الخدمات (القوارب / اليخوت /
        والرحلات البحرية) التي حجزتها بها. قد يشمل ذلك معلومات مثل اسمك وتفاصيل الاتصال والدفع وأسماء الضيوف المسافرين
        معك وأي تفضيلات تحددها عند إجراء الحجز
      </p>
      <p>
        مكتب بوت رايد المحلي الخاص بك: من أجل دعمك أثناء عملية الحجز وطوال إقامتك ، قد تتم مشاركة بياناتك مع الشركات
        التابعة لعائلة شركة بوت رايدe. لمعرفة المزيد عن عائلة شركة بوت رايد ، تفضل بزيارة عن بوت رايد. قد يتم أيضًا
        مشاركة معلوماتك مع أعضاء آخرين في مجموعة بوت رايد (على سبيل المثال: groupon.com. Agoda.com ، Rentalcars.com و
        Kayak.com) لتحليلها لتزويدك بالعروض المتعلقة بالسفر التي قد تهمك لك ولتقديم خدمة مخصصة لك.
      </p>
      <p>
        مقدمو الخدمات من الأطراف الثالثة: يجوز لنا استخدام موفري الخدمات الخارجيين لمعالجة معلوماتك الشخصية نيابة عنا
        للأغراض المحددة أعلاه. على سبيل المثال ، قد نستخدم مزودي الخدمة لإرسال معلومات الحجز نيابة عنا إلى عنصر الخدمة
        الذي حجزته للتو ، أو قد نطلب من الأطراف الثالثة الاتصال بك. عندما يتطلب الحجز ذلك ، يجوز لنا أيضًا العمل مع
        موفري خدمة الدفع التابعين لجهات خارجية لتسهيل الدفع أو ضمانات الدفع. نحن نعمل أيضًا مع شبكات الإعلانات التابعة
        لجهات خارجية لتسويق أماكن الإقامة والخدمات الخاصة بنا على منصات أخرى ، أو إشراك موفري الطرف الثالث لأغراض
        تحليلية. ستلتزم هذه الأطراف الثالثة المشاركة في أي من هذه الخدمات باتفاقيات السرية ولن يُسمح لها باستخدام
        معلوماتك الشخصية لأي أغراض أخرى غير تلك المحددة أعلاه
      </p>
      <p>
        السلطات المختصة: نعمل مع مواقع الويب الشريكة حول العالم لتوزيع عناصر الخدمة المدرجة على موقعنا الإلكتروني
        وتطبيقات الهاتف المحمول (القوارب / اليخوت / والرحلات البحرية). عند إجراء حجز على أحد مواقع الويب لشركاء الأعمال
        هؤلاء ، فقد تتم مشاركة بعض المعلومات الشخصية التي تقدمها لهم معنا. وبالمثل ، قد نشارك المعلومات مع هذا الشريك
        التجاري ، على سبيل المثال ، كجزء من إدارة حسابك ، من أجل إدارة حجزك ، حتى يتمكنوا من معالجة الاستفسارات المتعلقة
        بحجزك ولأغراض تسويقية. في هذا السياق ، تخضع معلوماتك لسياسات الخصوصية لشركاء الأعمال هؤلاء.
      </p>
      <p>
        شركاء العمل: نحن نعمل مع شركاء الأعمال حول العالم لتوزيع الخدمات أو الإعلان عنها ولمساعدة شركائنا في العمل على
        توزيع خدماتهم المتعلقة بالسفر والإعلان عنها. قد يعني هذا أن خدماتهم مدمجة في موقعنا الإلكتروني أو تم تمكينها
        لعرض إعلان مخصص على موقعنا - أو أننا نعلن عن خدماتهم. عند إجراء حجز على أحد مواقع شركاء العمل لدينا ، سيتم إرسال
        بعض البيانات الشخصية التي تقدمها إلينا. قد يتلقى بعض شركاء الأعمال بياناتك الشخصية منا إذا طلبت ذلك. عند إجراء
        حجز على موقع ويب شركاء الأعمال ، يرجى قراءة سياسات الخصوصية على مواقع شركاء الأعمال هؤلاء لمزيد من المعلومات.
      </p>
    </section>

    <section>
      <h6>
        كيف تستخدم بوت رايد تفاصيل بطاقة الائتمان / الخصم الخاصة بك؟
      </h6>
      <p>
        "جميع تفاصيل بطاقات الائتمان / الخصم و معلومات التعريف الشخصية لن يتم تخزينها أو بيعها أو مشاركتها أو تأجيرها أو
        تأجيرها لأي طرف ثالث".
      </p>
      <p>
        - "قد يتم تغيير أو تحديث سياسات الموقع الإلكتروني والشروط والأحكام من حين لآخر لتلبية المتطلبات والمعايير. لذلك
        يتم تشجيع العملاء على زيارة هذه الأقسام بشكل متكرر حتى يتم تحديثهم بشأن التغييرات على موقع الويب. ستكون
        التعديلات سارية المفعول في يوم نشرها ".
      </p>
    </section>

    <section>
      <h6>
        كيف تستخدم بوت رايد الأجهزة المحمولة؟
      </h6>
      <p>
        لدينا تطبيقات مجانية لمجموعة متنوعة من الأجهزة المحمولة ونستخدم إصدارات من موقعنا الإلكتروني العادي والتي تم
        تحسينها للجوال. تعالج هذه التطبيقات ومواقع الأجهزة المحمولة بياناتك الشخصية بطريقة مماثلة لما يفعله موقعنا
        الإلكتروني - كما أنها تسمح لك باستخدام خدمات الموقع للعثور على خدمات في مكان قريب
      </p>
    </section>

    <section>
      <h6>
        كيف تستخدم بوت رايد تقييمات الضيوف والمعلومات الأخرى المتعلقة بالوجهة التي تشاركها معنا؟
      </h6>
      <p>
        بعد استخدامك لأي خدمة تم حجزها من خلالنا ، ستتم دعوتك لإرسال مراجعة ضيف ، والتي قد تطلب معلومات حول عنصر الخدمة
        والمناطق المحيطة والوجهة. إذا كنت لا تريد أن يظهر اسمك مع تعليقك ، فيمكنك استخدام اسم الشاشة (الذي يمكنك اختياره
        في حساب المستخدم الخاص بك) أو يمكن عرضه بشكل مجهول. من خلال إكمال مراجعة الضيف ، فإنك توافق على أنه يمكن عرضها
        (كما هو موضح بمزيد من التفصيل في الشروط والأحكام الخاصة بنا) على ، على سبيل المثال ، صفحة معلومات الخدمة ذات
        الصلة على مواقعنا الإلكترونية ، وفي تطبيقات الأجهزة المحمولة الخاصة بنا ، وفي حسابات وسائل التواصل الاجتماعي
        الخاصة بنا و في التطبيقات الاجتماعية ، أو على موقع الويب الخاص بالممتلكات ذات الصلة أو على موقع الويب الخاص
        بشريكنا التجاري ، لإبلاغ المسافرين الآخرين بجودة عنصر الخدمة الذي استخدمته.
      </p>
      <p>
        إذا أشرت إلى أن تقييم الضيف كان مفيدًا - أو لم يكن مفيدًا - فسنجمع ذلك مع التعليقات الواردة من العملاء الآخرين
        من أجل فرز مراجعات النزلاء وتحديد أولوياتها. قد نستخدم المعلومات الموجودة في قوائمك أو في معلومات أخرى متعلقة
        بالوجهة تشاركها معنا بتنسيق مجهول لمساعدة المسافرين الآخرين في العثور على الوجهة الصحيحة.
      </p>
    </section>
  </section>

  <section aria-label="Cookies">
    <section>
      <h5>
        ما هو ملف تعريف الارتباط؟
      </h5>
      <p>
        ملف تعريف الارتباط هو كمية صغيرة من البيانات التي يتم وضعها في متصفح جهاز الكمبيوتر الخاص بك أو على جهازك
        المحمول.
        تنطبق سياسة الخصوصية وملفات تعريف الارتباط هذه على ملفات تعريف الارتباط والتقنيات المماثلة (يشار إليها فيما بعد
        باسم "ملفات تعريف الارتباط ").
      </p>
    </section>

    <section>
      <h6>
        لماذا تستخدم ملفات تعريف الارتباط؟
      </h6>
      <p>
        صفحات الويب ليس لها ذاكرة. إذا كنت تتصفح من صفحة إلى أخرى داخل موقع ويب ، فلن يتم التعرف عليك على أنك نفس
        المستخدم عبر الصفحات. تتيح ملفات تعريف الارتباط التعرف على متصفحك من خلال موقع الويب. لذلك تُستخدم ملفات تعريف
        الارتباط بشكل أساسي لتذكر الاختيارات التي حددتها - خيارات مثل اللغة التي تفضلها والعملة التي تستخدمها. سوف
        يتأكدون أيضًا من التعرف عليك عند العودة إلى موقع الويب
      </p>
    </section>

    <section>
      <h6>
        هل كل ملفات تعريف الارتباط تفعل نفس الشيء؟
      </h6>
      <p>
        لا ، هناك أنواع مختلفة من ملفات تعريف الارتباط وطرق مختلفة لاستخدامها. يمكن تصنيف ملفات تعريف الارتباط وفقًا
        لوظيفتها وعمرها ووفقًا لمن يضعها على موقع الويب
      </p>
    </section>

    <section>
      <h6>
        كيف يتم استخدام ملفات تعريف الارتباط؟
      </h6>
      <p>
        يستخدم موقعنا الإلكتروني الأنواع التالية من ملفات تعريف الارتباط:
      </p>
      <p>
        ملفات تعريف الارتباط التقنية: نحاول تزويد زوارنا بموقع ويب متقدم وسهل الاستخدام يتكيف تلقائيًا مع احتياجاتهم
        ورغباتهم. لتحقيق ذلك ، نستخدم ملفات تعريف الارتباط التقنية لنعرض لك موقعنا الإلكتروني ، ولجعله يعمل بشكل صحيح ،
        ولإنشاء حساب المستخدم الخاص بك ، ولتسجيل دخولك ولإدارة حجوزاتك. تعد ملفات تعريف الارتباط التقنية هذه ضرورية
        للغاية لكي يعمل موقعنا بشكل صحيح
      </p>
      <p>
        ملفات تعريف الارتباط الوظيفية: نستخدم أيضًا ملفات تعريف الارتباط الوظيفية لتذكر تفضيلاتك ولمساعدتك على استخدام
        موقعنا الإلكتروني بكفاءة وفعالية. على سبيل المثال ، نتذكر عملتك ولغتك المفضلة وعمليات البحث والممتلكات التي
        شاهدتها سابقًا. ملفات تعريف الارتباط الوظيفية هذه ليست ضرورية تمامًا لعمل موقعنا ، ولكنها تضيف وظائف لك وتعزز
        تجربتك
      </p>
      <p>
        ملفات تعريف الارتباط التحليلية: نحن نستخدم ملفات تعريف الارتباط هذه لاكتساب نظرة ثاقبة حول كيفية استخدام زوارنا
        لموقع الويب ، ومعرفة ما يصلح وما لا يصلح ، ولتحسين موقعنا الإلكتروني وتحسينه ولضمان استمرار كوننا ممتعين
        وملائمين. تتضمن البيانات التي نجمعها صفحات الويب التي قمت بعرضها ، وصفحات الإحالة / الخروج التي قمت بإدخالها
        وغادرتها ، ونوع النظام الأساسي الذي استخدمته ، ومعلومات طابع التاريخ والوقت والتفاصيل مثل عدد النقرات التي تقوم
        بها على صفحة معينة ، والماوس. الحركات ونشاط التمرير ، وكلمات البحث التي تستخدمها والنص الذي تكتبه أثناء استخدام
        موقعنا. نستخدم أيضًا ملفات تعريف الارتباط التحليلية كجزء من حملاتنا الإعلانية عبر الإنترنت لمعرفة كيفية تفاعل
        المستخدمين مع موقعنا على الويب بعد أن يظهر لهم إعلان عبر الإنترنت ، والذي قد يتضمن إعلانات على مواقع ويب تابعة
        لجهات خارجية. لن نعرف من أنت ، ولن نحصل إلا على بيانات مجهولة المصدر ملفات تعريف الارتباط التجارية: نستخدمها
        لتظهر لك إعلانات بوت رايد على مواقع الويب الأخرى. وهذا ما يسمى "إعادة الاستهداف" ويهدف إلى أن يعتمد على أنشطة
        التصفح الخاصة بك على موقعنا ، مثل الوجهات التي كنت تبحث عنها ، والعقارات التي شاهدتها والأسعار التي تم عرضها.
      </p>
    </section>

    <section>
      <h6>
        ما هي المدة التي تظل فيها ملفات تعريف الارتباط الخاصة بركوب القوارب نشطة؟
      </h6>
      <p>
        ملفات تعريف الارتباط التي نستخدمها لها أعمار متفاوتة. الحد الأقصى للعمر الذي حددناه للبعض هو خمس سنوات من زيارتك
        الأخيرة إلى موقعنا على الإنترنت. يمكنك مسح جميع ملفات تعريف الارتباط من متصفحك في أي وقت تريده. لإزالة ملفات
        تعريف ارتباط بوت رايد من متصفحك ، انتقل إلى الرابط التالي (يرجى ملاحظة أنه عند النقر فوق هذا الرابط ، ستتم إزالة
        جميع ملفات تعريف ارتباط بوت رايد على الفور): Purge Cookies.
      </p>
    </section>

    <section>
      <h6>
        كيف يمكنك التعرف على ملفات تعريف الارتباط الخاصة بـ بوت رايد؟
      </h6>
      <p>
        يمكنك العثور على ملفات تعريف الارتباط الخاصة بنا في إعدادات المتصفح الخاص بك
      </p>
    </section>

    <section>
      <h6>
        هل تستخدم بوت رايد ملفات تعريف الارتباط للتسويق والتحليلات الخاصة بطرف ثالث؟
      </h6>
      <p>
        تستخدم شركة بوت رايد خدمات شركات الإعلان والتسويق عبر الإنترنت الموثوقة والمعترف بها. قد تستخدم بوت رايد أيضًا
        مزودي الطرف الثالث لأغراض تحليلية. لتمكين خدماتهم ، تحتاج هذه الشركات إلى وضع ملفات تعريف الارتباط.
      </p>
      <p>
        يلتزم مقدمو الخدمات الذين نستخدمهم ببناء وعي المستهلك وإنشاء ممارسات ومعايير مسؤولة لإدارة الأعمال والبيانات.
      </p>
      <p>
        عندما يتعلق الأمر بشركات الإعلان والتسويق عبر الإنترنت ، فإننا نسعى جاهدين للعمل فقط مع الشركات الأعضاء في
        مبادرة الإعلان على الشبكة (NAI) و / أو مكتب الإعلان التفاعلي (IAB). يلتزم أعضاء NAI و IAB بمعايير الصناعة وقواعد
        السلوك. يسمح لك أعضاء NAI و IAB بإلغاء الاشتراك في الإعلانات السلوكية. قم بزيارة www.networkadvertising.org و
        www.youronlinechoices.com لتحديد أعضاء NAI الذين ربما قاموا بوضع ملف تعريف ارتباط إعلاني على جهاز الكمبيوتر
        الخاص بك. لإلغاء الاشتراك في برنامج الإعلان السلوكي لأعضاء NAI أو IAB ، ما عليك سوى تحديد المربع الذي يتوافق مع
        الشركة التي ترغب في إلغاء الاشتراك منها.
      </p>
      <p>
        من أجل التحكم في جمع البيانات للأغراض التحليلية بواسطة Google Analytics ، قد ترغب في زيارة الرابط التالي: وظيفة
        المتصفح الإضافية لتعطيل التتبع في Google Analytics.
      </p>
    </section>

    <section>
      <h6>
        من لديه حق الوصول إلى بيانات ملفات تعريف الارتباط الخاصة بـ بوت رايد؟
      </h6>
      <p>
        فقط بوت رايد لديه حق الوصول إلى ملفات تعريف ارتباط بوت رايد. يمكن الوصول إلى ملفات تعريف الارتباط الموضوعة من
        قبل أطراف ثالثة من قبل هذه الأطراف الثالثة
      </p>
    </section>

    <section>
      <h6>
        كيف يمكنك إدارة تفضيلات ملفات تعريف الارتباط الخاصة بك؟
      </h6>
      <p>
        باستخدام إعدادات المستعرض الخاص بك ، على سبيل المثال ، Internet Explorer أو Safari أو Firefox أو Chrome ، يمكنك
        تعيين ملفات تعريف الارتباط التي تريد قبولها وأيها تريد رفضه. يعتمد مكان العثور على هذه الإعدادات على المتصفح
        الذي تستخدمه. استخدم وظيفة "المساعدة" في متصفحك لتحديد الإعدادات التي تحتاجها.
      </p>
      <p>
        إذا اخترت عدم قبول ملفات تعريف ارتباط معينة ، فقد لا تتمكن من استخدام بعض الوظائف على موقعنا. بالإضافة إلى ذلك ،
        لا يعني إلغاء الاشتراك في شبكة إعلانية عبر الإنترنت أنك لن تتلقى إعلانات عبر الإنترنت أو تحليلات تسويقية ولن
        تخضع لها. هذا يعني أن الشبكة التي ألغيت الاشتراك فيها لن تقدم بعد الآن إعلانات مخصصة لتفضيلات الويب وأنماط
        التصفح لديك.
      </p>
    </section>

    <section>
      <h6>
        هل تستخدم بوت رايد منارات الويب؟
      </h6>
      <p>
        بالإضافة إلى استخدام ملفات تعريف الارتباط ، تستخدم بوت رايد أحيانًا إشارات الويب. إشارة الويب هي صورة رسومية
        صغيرة من بكسل واحد فقط يتم تسليمها إلى جهاز الكمبيوتر الخاص بك إما كجزء من طلب صفحة ويب أو في رسالة بريد
        إلكتروني بتنسيق HTML. إما بشكل مباشر أو من خلال مزودي الخدمة ، فإننا نستخدم هذه البكسل كجزء من إعلاناتنا عبر
        الإنترنت إما على موقعنا على الويب أو على مواقع الطرف الثالث لمعرفة ما إذا كان المستخدم الذي يظهر إعلانًا عبر
        الإنترنت قد قام بالحجز أيضًا ؛ لتتبع التحويل مع مواقع الويب الشريكة ولتحليل أنماط حركة مرور المستخدم من أجل
        تحسين الخدمات المتعلقة بالسفر التي نقدمها لك
      </p>
    </section>
  </section>

  <section aria-label="Security">
    <h5>
      حماية
    </h5>

    <section>
      <h6>
        ما الإجراءات الأمنية التي تطبقها بوت رايد لحماية بياناتك الشخصية؟
      </h6>
      <p>
        نلاحظ الإجراءات المعقولة لمنع الوصول غير المصرح به وإساءة استخدام المعلومات الشخصية.
      </p>
      <p>
        نحن نستخدم أنظمة وإجراءات عمل مناسبة لحماية وحماية المعلومات الشخصية التي تزودنا بها. نستخدم أيضًا إجراءات
        الأمان والقيود الفنية والمادية للوصول إلى المعلومات الشخصية واستخدامها على خوادمنا. يُسمح فقط للأفراد المصرح لهم
        بالوصول إلى المعلومات الشخصية في سياق عملهم
      </p>
    </section>


  </section>

  <section aria-label="Kids">
    <section>
      <h5>
        أطفال
      </h5>
      <p>
        الخدمات التي تقدمها بوت رايد ليست موجهة للأطفال دون سن 18 عامًا. لا يُسمح باستخدام أي من خدماتنا إلا بموافقة
        صالحة من أحد الوالدين أو الوصي. إذا تلقينا معلومات من طفل أقل من 18 عامًا ، فإننا نحتفظ بالحق في حذفها
      </p>
    </section>
  </section>

  <section aria-label="Contact">
    <h5>
      اتصال
    </h5>

    <section>
      <h6>
        كيف يمكنك التحكم في البيانات الشخصية التي قدمتها إلى بوت رايد؟
      </h6>
      <p>
        لديك دائمًا الحق في مراجعة المعلومات الشخصية التي نحتفظ بها عنك. يمكنك طلب نظرة عامة على بياناتك الشخصية عن طريق
        مراسلتنا عبر البريد الإلكتروني على info@boatsride.com. يرجى كتابة "طلب معلومات شخصية" في سطر الموضوع في بريدك
        الإلكتروني وتضمين نسخة من بطاقة هويتك لمساعدتنا في منع الأفراد غير المصرح لهم من الوصول إلى بياناتك الشخصية. إذا
        كانت المعلومات الشخصية التي لدينا غير صحيحة ، فسنقوم بتحديثها بناءً على طلبك. يمكنك أيضًا أن تطلب منا إزالة
        بياناتك الشخصية من قاعدة بيانات العملاء لدينا عن طريق إرسال بريد إلكتروني إلى info@boatsride.com.ae مع "طلب
        إزالة المعلومات الشخصية" في سطر الموضوع. ومع ذلك ، قد نحتاج إلى الاحتفاظ بمعلومات معينة ، على سبيل المثال ،
        لأغراض قانونية أو إدارية ، مثل حفظ السجلات أو الكشف عن الأنشطة الاحتيالية. يمكنك حذف حساب المستخدم الخاص بك في
        أي وقت عن طريق تسجيل الدخول إلى حسابك على موقع بوت رايد واختيار إزالة حسابك.
      </p>
    </section>
  </section>


</section>
