<!-- Main Header -->
<header class="main-header header-style-three d-block d-md-block d-lg-none" style="background: #061138">
  <!-- Header Top -->
  <div class="header-top header-top-three">
    <div class="auto-container">
      <div class="inner clearfix">
        <div class="top-left clearfix">
          <div class="language">
            <ul class="clearfix">
              <li>
                <a (click)="switchLanguage('en')">
                  English
                </a>
              </li>
              <li>
                <a (click)="switchLanguage('ar')">
                  العربية
                </a>
              </li>
            </ul>
          </div>
          <div class="social-links">
            <ul class="clearfix">
              <li><a href="https://www.facebook.com/boatsride" target="_blank"><span
                class="fab fa-facebook-f"></span></a></li>
              <li><a href="https://www.instagram.com/boats_ride/" target="_blank"><span class="fab fa-instagram"></span></a>
              </li>
              <li><a href="https://twitter.com/ride_boats" target="_blank"><span class="fab fa-twitter"></span></a></li>
              <li><a href="https://www.youtube.com/channel/UCp0HqhmM9xIQe-JnqcazTYQ" target="_blank"><span
                class="fab fa-youtube"></span></a></li>

            </ul>
          </div>
        </div>

        <div class="contact-text">
          <span class="icon flaticon-assistance"></span>
          <span class="txt">Speak to Tour Planner :
            <a href="tel:+971524918686">+971 52 491 8686</a>
            <span class="icon fa fa-clock" style="padding-left: 5px"></span>Week Days: 09:00am to 03:00am  </span>


        </div>
      </div>
    </div>
  </div>

  <app-mobile-menu></app-mobile-menu>
  <!--  &lt;!&ndash; Sticky Header  &ndash;&gt;-->
  <!--  <div class="sticky-header">-->
  <!--    <div class="auto-container clearfix">-->
  <!--      &lt;!&ndash;Logo&ndash;&gt;-->
  <!--      <div class="logo pull-left">-->
  <!--        <a href="../../../index.html" title=""><img src="../../../assets/images/sticky-logo.png" alt="" title=""></a>-->
  <!--      </div>-->
  <!--      &lt;!&ndash;Right Col&ndash;&gt;-->
  <!--      <div class="pull-right clearfix">-->
  <!--        &lt;!&ndash; Main Menu &ndash;&gt;-->
  <!--        <nav class="main-menu clearfix">-->
  <!--          &lt;!&ndash;Keep This Empty / Menu will come through Javascript&ndash;&gt;-->
  <!--        </nav>&lt;!&ndash; Main Menu End&ndash;&gt;-->


  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>&lt;!&ndash; End Sticky Menu &ndash;&gt;-->

  <!--  &lt;!&ndash; Mobile Menu  &ndash;&gt;-->
  <!--  <div class="mobile-menu">-->
  <!--    <div class="menu-backdrop"></div>-->
  <!--    <div class="close-btn"><span class="icon flaticon-targeting-cross"></span></div>-->

  <!--    <nav class="menu-box">-->
  <!--      <div class="nav-logo"><a href="../../../index.html"><img src="../../../assets/images/nav-logo.png" alt=""-->
  <!--                                                               title=""></a></div>-->
  <!--      <div class="menu-outer">&lt;!&ndash;Here Menu Will Come Automatically Via Javascript / Same Menu as in Header&ndash;&gt;</div>-->
  <!--      &lt;!&ndash;Social Links&ndash;&gt;-->
  <!--      <div class="social-links">-->
  <!--        <ul class="clearfix">-->
  <!--          <li><a href="#"><span class="fab fa-twitter"></span></a></li>-->
  <!--          <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>-->
  <!--          <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>-->
  <!--          <li><a href="#"><span class="fab fa-instagram"></span></a></li>-->
  <!--          <li><a href="#"><span class="fab fa-youtube"></span></a></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--    </nav>-->
  <!--  </div>&lt;!&ndash; End Mobile Menu &ndash;&gt;-->
</header>
<!-- End Main Header -->



