<!--Testimonials Section-->
<section class="testimonials-section-two direction-left">
  <div class="auto-container">
    <div class="sec-title-two centered with-border">
      <div class="upper-text">{{'test'|translate}}</div>
      <h2>{{'travel'|translate}}<strong> {{'exp1'|translate}}</strong></h2>
      <div class="separator"></div>
    </div>
  </div>
  <div class="auto-container">
    <carousel [margin]="20" [height]="390" [cellWidth]="400" [cellsToShow]="numberofcells"
              [autoplay]="true" [dots]="true" [arrowsOutside]="true" [transitionDuration]="100">
      <div class="carousel-cell">
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="content">
              <div class="icon-box"><span class="flaticon-quote-1"></span></div>
              <div class="info">
                <h5> {{ 'testimonial.first.title' | translate }}</h5>
              </div>
              <div class="rating">
                <div class="curve"></div>
                <div class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="text">
                {{ 'testimonial.first.description' | translate }}  ❤️
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="content">
              <div class="icon-box"><span class="flaticon-quote-1"></span></div>
              <div class="info">
                <h5> {{ 'testimonial.second.title' | translate }}</h5>
              </div>
              <div class="rating">
                <div class="curve"></div>
                <div class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="text">
                {{ 'testimonial.second.description' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="content">
              <div class="icon-box"><span class="flaticon-quote-1"></span></div>
              <div class="info">
                <h5> {{ 'testimonial.third.title' | translate }}</h5>
              </div>
              <div class="rating">
                <div class="curve"></div>
                <div class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="text">
                {{ 'testimonial.third.description' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </carousel>
  </div>
</section>
