<!--Testimonials Section-->
<section class="testimonials-section-two direction-left">
  <div class="auto-container">
    <div class="sec-title-two centered with-border">
      <div class="upper-text">{{'test'|translate}}</div>
      <h2>{{'travel'|translate}}<strong> {{'exp1'|translate}}</strong></h2>
      <div class="separator"></div>
    </div>
  </div>
  <div class="auto-container">
    <carousel [margin]="20" [height]="450" [cellWidth]="400" [cellsToShow]="numberofcells"
              [autoplay]="true" [dots]="true" [arrowsOutside]="true" [transitionDuration]="100">
      <div class="carousel-cell">
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="content">
              <div class="icon-box"><span class="flaticon-quote-1"></span></div>
              <div class="image"><img src="assets/images/resource/author-image-6.jpg" alt="" title=""></div>
              <div class="info">
                <h5>Anastasia Rodey</h5>
                <div class="designation">Interior Designer</div>
              </div>
              <div class="rating">
                <div class="curve"></div>
                <div class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="text"> They was  a good host for the trip! The boat is clean. The seats are comfortable to sit on. We are 6 people and there are plenty of room. He was a good tour guide. </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="content">
              <div class="icon-box"><span class="flaticon-quote-1"></span></div>
              <div class="image"><img src="assets/images/resource/author-image-6.jpg" alt="" title=""></div>
              <div class="info">
                <h5>Anastasia Rodey</h5>
                <div class="designation">Interior Designer</div>
              </div>
              <div class="rating">
                <div class="curve"></div>
                <div class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="text"> They was  a good host for the trip! The boat is clean. The seats are comfortable to sit on. We are 6 people and there are plenty of room. He was a good tour guide. </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="content">
              <div class="icon-box"><span class="flaticon-quote-1"></span></div>
              <div class="image"><img src="assets/images/resource/author-image-6.jpg" alt="" title=""></div>
              <div class="info">
                <h5>Anastasia Rodey</h5>
                <div class="designation">Interior Designer</div>
              </div>
              <div class="rating">
                <div class="curve"></div>
                <div class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="text"> They was  a good host for the trip! The boat is clean. The seats are comfortable to sit on. We are 6 people and there are plenty of room. He was a good tour guide. </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="content">
              <div class="icon-box"><span class="flaticon-quote-1"></span></div>
              <div class="image"><img src="assets/images/resource/author-image-6.jpg" alt="" title=""></div>
              <div class="info">
                <h5>Anastasia Rodey</h5>
                <div class="designation">Interior Designer</div>
              </div>
              <div class="rating">
                <div class="curve"></div>
                <div class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="text"> They was  a good host for the trip! The boat is clean. The seats are comfortable to sit on. We are 6 people and there are plenty of room. He was a good tour guide. </div>
            </div>
          </div>
        </div>
      </div>
    </carousel>
  </div>
</section>
