<!--Testimonials Section-->
<section class="testimonials-section-two">
  <div class="auto-container">
    <div class="sec-title-two centered with-border">
      <div class="upper-text">Testimonials</div>
      <h2>Travellers <strong>Experiences</strong></h2>
      <div class="separator"></div>
    </div>
  </div>
  <div class="auto-container">
    <div class="carousel-box">
      <div class="testimonial-carousel-two owl-theme owl-carousel">
        <!--Testimonial Block-->
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="content">
              <div class="icon-box"><span class="flaticon-quote-1"></span></div>
              <div class="image"><img src="assets/images/resource/author-image-6.jpg" alt="" title=""></div>
              <div class="info">
                <h5>Anastasia Rodey</h5>
                <div class="designation">Interior Designer</div>
              </div>
              <div class="rating">
                <div class="curve"></div>
                <div class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="text"> They was  a good host for the trip! The boat is clean. The seats are comfortable to sit on. We are 6 people and there are plenty of room. He was a good tour guide. </div>
            </div>
          </div>
        </div>
        <!--Testimonial Block-->
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="content">
              <div class="icon-box"><span class="flaticon-quote-1"></span></div>
              <div class="image"><img src="assets/images/resource/author-image-2.jpg" alt="" title=""></div>
              <div class="info">
                <h5>Chris Bannan</h5>
                <div class="designation">Netherland, 2017</div>
              </div>
              <div class="rating">
                <div class="curve"></div>
                <div class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="text">I first rented a yacht from a Boats Ride in 2017. Since then I have spent many of my vacations on yacht trips with my family through this team..</div>
            </div>
          </div>
        </div>
        <!--Testimonial Block-->
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="content">
              <div class="icon-box"><span class="flaticon-quote-1"></span></div>
              <div class="image"><img src="assets/images/resource/author-image-1.jpg" alt="" title=""></div>
              <div class="info">
                <h5>Noah Oliver</h5>
                <div class="designation">Cruising To The Cyclades</div>
              </div>
              <div class="rating">
                <div class="curve"></div>
                <div class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="text">The holiday of a lifetime, our yachting adventure in The World Islands in Dubai was without a doubt our favorite, I advise to deal with them .</div>
            </div>
          </div>
        </div>
        <!--Testimonial Block-->
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="content">
              <div class="icon-box"><span class="flaticon-quote-1"></span></div>
              <div class="image"><img src="assets/images/resource/author-image-1.jpg" alt="" title=""></div>
              <div class="info">
                <h5>Hassan AL Harety</h5>
                <div class="designation">KSA, 2019</div>
              </div>
              <div class="rating">
                <div class="curve"></div>
                <div class="rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="text">Boats Ride  was great. Communicative and easy going - couldn't have been a better, more smooth experience. We'll rent from him again for sure.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
