
<section class="page-banner inner-banner-height">
  <div class="image-layer" style="background-image:url(./assets/Banners/fishing-01.jpg);background-position-y: top;"></div>
  <div class="banner-inner">
    <div class="overlay22">

      <div class="auto-container">
        <div class="inner-container clearfix">
          <h1 class="inner-banner-height-title">{{'finishingTrip'|translate}}</h1>
          <div class="page-nav">
            <ul class="bread-crumb clearfix">
              <li><a routerLink="/">{{'home'|translate}}</a></li>
              <li>{{'finishingTrip'|translate}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Banner Section -->
<!-- ========================= SECTION ABOUT ========================= -->
<section class="section-content padding-section">
  <div class="container">
    <div class="row padding-section">
      <div class="col-sm-6">
        <picture>
          <img src="assets/images/resource/fishing-trip3.jpg" class="img-rounded img-thumbnail">
        </picture>
      </div> <!-- col.// -->
      <div class="col-sm-6">
        <article class="article">
          <h2 class="title-lead">{{'t21'|translate}} </h2>

          <p class="b">{{'t22'|translate}}</p>
          <p class="b">{{'t23'|translate}}</p>
        </article>
      </div> <!-- col.// -->
    </div> <!-- row.// -->
    <br>
    <div class="row padding-section">
      <div class="col-sm-6">
        <article class="article">
          <br>
          <h3 class="title-lead">{{'t24'|translate}}</h3>
          <br>
          <p class="b">{{'t25'|translate}}</p>
          <p class="b">{{'t26'|translate}}</p>
        </article>
      </div> <!-- col.// -->
      <div class="col-sm-6">
        <picture>
          <img src="assets/images/resource/Deep-sea-dubai.jpg" class="img-rounded img-thumbnail">
        </picture>
      </div> <!-- col.// -->
    </div> <!-- row.// -->

  </div><!-- container // -->
</section>
<section class="top-destinations">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Attraction Block-->
      <div class="attraction-block col-lg-6 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <a href="yacht-tour-1.html"><img src="assets/images/resource/112.jpg" alt="" title=""></a>
            </figure>
          </div>
          <div class="lower-box">
            <div class="sec-title">
              <h2><strong>{{'t27'|translate}}</strong></h2>
              <div class="title-text">{{'t28'|translate}}</div>
              <div class="link-box">
                <a routerLink="/yachts" class="theme-btn btn-style-five"><div class="btn-title">{{'booknow'|translate}}</div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Attraction Block-->
      <div class="destinations-box col-lg-6 col-md-12 col-sm-12">
        <div class="destinations">
          <div class="row clearfix">
            <!--Destination Block-->
            <div class="destination-block-three col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <a href="#"><img src="assets/images/resource/fishing-5.jpg" alt="" title=""></a>
                  </figure>
                </div>
                <div class="caption-box">

                </div>

              </div>
            </div>




          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!--&lt;!&ndash;Destinations Section&ndash;&gt;-->
<!--<section class="destinations-section">-->
<!--  <div class="auto-container">-->
<!--    <div class="destinations-box">-->
<!--      <div class="row clearfix">-->
<!--        &lt;!&ndash;Destination Block&ndash;&gt;-->
<!--        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <figure class="image">-->
<!--                <a href="yacht-rent-buy.html"><img src="assets/images/resource/107.jpg" alt="" title=""></a>-->
<!--              </figure>-->

<!--              <div class="hover-box">-->
<!--                <div class="hover-inner">-->
<!--                  <div class="hover-content">-->
<!--                    <div class="link-box">-->
<!--                      <a href="yacht-rent.html" class="theme-btn btn-style-two"><div class="btn-title">Book NOW</div></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="title-box">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Destination Block&ndash;&gt;-->
<!--        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <figure class="image">-->
<!--                <a href="yacht-rent-buy.html"><img src="assets/images/resource/108.jpg" alt="" title=""></a>-->
<!--              </figure>-->
<!--              <div class="caption-box">-->
<!--                <div class="count"> </div>-->
<!--              </div>-->
<!--              <div class="hover-box">-->
<!--                <div class="hover-inner">-->
<!--                  <div class="hover-content">-->
<!--                    <div class="link-box">-->
<!--                      <a href="yacht-rent.html" class="theme-btn btn-style-two"><div class="btn-title">Book NOW</div></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="title-box">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Destination Block&ndash;&gt;-->
<!--        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <figure class="image">-->
<!--                <a href="yacht-rent-buy.html"><img src="assets/images/resource/110.jpg" alt="" title=""></a>-->
<!--              </figure>-->
<!--              <div class="caption-box">-->
<!--                <div class="count"> </div>-->
<!--              </div>-->
<!--              <div class="hover-box">-->
<!--                <div class="hover-inner">-->
<!--                  <div class="hover-content">-->
<!--                    <div class="link-box">-->
<!--                      <a href="yacht-rent.html" class="theme-btn btn-style-two"><div class="btn-title">Book NOW</div></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="title-box">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Destination Block&ndash;&gt;-->
<!--        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <figure class="image">-->
<!--                <a href="yacht-rent-buy.html"><img src="assets/images/resource/111.jpg" alt="" title=""></a>-->
<!--              </figure>-->
<!--              <div class="caption-box">-->
<!--                <div class="count">15</div>-->
<!--              </div>-->
<!--              <div class="hover-box">-->
<!--                <div class="hover-inner">-->
<!--                  <div class="hover-content">-->
<!--                    <div class="link-box">-->
<!--                      <a href="yacht-rent-buy.html" class="theme-btn btn-style-two"><div class="btn-title">View All Yachts</div></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="title-box">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="see-all">-->
<!--      <a href="fishing-trip.html" class="default-link">-->
<!--        <span class="icon flaticon-logout"></span>-->
<!--        <span class="link-text">Book Fishing Trip </span>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<app-popular-destination></app-popular-destination>-->


<section class="facts-section">
  <div class="image-layer" style="background-image: url(./assets/images/background/image-8.jpg);"></div>
  <div class="auto-container">
    <div class="sec-title light centered">
      <h2><strong>{{'t29'|translate}}</strong></h2>
      <div class="lower-text">{{'t30'|translate}} </div>
    </div>
    <div class="row clearfix">
      <!--Featured Service-->
      <div class="featured-service-block-two col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <span class="flaticon-yacht-facing-right"></span>
          </div>
          <div class="content-box">
            <div class="title-box">
              <h4>{{'chooseyacht'|translate}}</h4>
            </div>
          </div>
          <div class="link-box">
            <a [routerLink]="'/yachts'" class="theme-btn link">{{'t33'|translate}}</a>
          </div>
        </div>
      </div>
      <!--Featured Service-->
      <div class="featured-service-block-two col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <span class="flaticon-boat-race"></span>
          </div>
          <div class="content-box">
            <div class="title-box">
              <h4>{{'choosecrew'|translate}}</h4>
            </div>
          </div>
          <div class="link-box">
            <a [routerLink]="'/about'" class="theme-btn link">{{'t34'|translate}}</a>
          </div>
        </div>
      </div>
      <!--Featured Service-->
      <div class="featured-service-block-two col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <span class="flaticon-wallet"></span>
          </div>
          <div class="content-box">
            <div class="title-box">
              <h4>{{'enjouwithus'|translate}}</h4>
            </div>
          </div>
          <div class="link-box">
            <a [routerLink]="'/contact'" class="theme-btn link">{{'t35'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Facts Section-->

<ngb-carousel  [wrap]="true" [interval]="2500" [pauseOnHover]="true"
              [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide>
    <section class="facts-section">
      <div class="image-layer" style="background-image: url(./assets/images/background/image-9.jpg);"></div>
          <!--Facts Box-->
          <div class="facts-box">
            <div class="inner">
              <div class="video-link">
                <a href="https://www.youtube.com/" class="theme-btn lightbox-image"><span class="icon flaticon-media-play-symbol"></span></a>
              </div>
              <div class="subtitle">{{'t31'|translate}}</div>
              <h1 class="title">{{'t32'|translate}}</h1>
              <div class="count">1,235<sup>+</sup></div>
            </div>
          </div>
    </section>
  </ng-template>
</ngb-carousel>

<!--<section class="testimonials-section-three">-->
<!--  <div class="image-layer left-layer" style="background-image: url(./assets/images/background/image-10.png);"></div>-->

<!--  <div class="auto-container">-->
<!--    <div class="sec-title centered">-->
<!--      <h2>Travellers <strong>Experiences</strong></h2>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="auto-container">-->

<!--    <div class="carousel-box">-->
<!--      <ngb-carousel  [wrap]="true" [interval]="2500" [pauseOnHover]="true"-->
<!--                     [showNavigationArrows]="showNavigationArrows1" [showNavigationIndicators]="showNavigationIndicators1">-->
<!--        <ng-template ngbSlide>-->
<!--          <div class="testimonial-block-two">-->
<!--            <div class="inner-box">-->
<!--              <div class="content">-->
<!--                <div class="title-box">-->
<!--                  <h3>“The Holiday of Our Life Time”.</h3>-->
<!--                </div>-->
<!--                <div class="rating">-->
<!--                  <div class="curve"></div>-->
<!--                  <div class="rate">-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="text">We had an amazing deep sea fishing experience with this company.  They were extremely helpful with the fishing and cooked the most delish freshly-caught-by-us fish. It truly was a memorable experience and I can recommend them to anyone, even if you have never fished before.</div>-->
<!--                <div class="info">-->
<!--                  <div class="icon-box"><span class="flaticon-quote"></span></div>-->
<!--                  <div class="name">Hassan Alrashidi</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--        <ng-template ngbSlide>-->
<!--          <div class="testimonial-block-two">-->
<!--            <div class="inner-box">-->
<!--              <div class="content">-->
<!--                <div class="title-box">-->
<!--                  <h3>“The Holiday of Our Life Time”.</h3>-->
<!--                </div>-->
<!--                <div class="rating">-->
<!--                  <div class="curve"></div>-->
<!--                  <div class="rate">-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="text">We had an amazing deep sea fishing experience with this company.  They were extremely helpful with the fishing and cooked the most delish freshly-caught-by-us fish. It truly was a memorable experience and I can recommend them to anyone, even if you have never fished before.</div>-->
<!--                <div class="info">-->
<!--                  <div class="icon-box"><span class="flaticon-quote"></span></div>-->
<!--                  <div class="name">Hassan Alrashidi</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--      </ngb-carousel>-->
<!--    </div>-->

<!--  </div>-->
<!--</section>-->


<br> <br>
<section class="subscribe-section wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
  <div class="auto-container">
    <div class="inner">
      <div class="title">
        <h4>{{'newsub'|translate}}</h4>
        <div class="subtitle">{{'newssubtopic'|translate}}</div>
      </div>
      <div class="default-form subscribe-form-two">
        <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/contact.html">
          <div class="row clearfix">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="text" name="field-name" placeholder="{{'yourname'|translate}}" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="email" name="field-name" placeholder="{{'email'|translate}}" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-12 col-sm-12">
              <button type="submit" class="theme-btn btn-style-six"><span class="btn-title">{{'subnow'|translate}}</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

