
<section class="page-banner inner-banner-height">
  <div class="image-layer" style="background-image:url(./assets/images/resource/512.jpg);"></div>
  <div class="banner-inner">
    <div class="overlay22">

      <div class="auto-container">
        <div class="inner-container clearfix">
          <h1 class="inner-banner-height-title">Fishing Trip</h1>
          <div class="page-nav">
            <ul class="bread-crumb clearfix">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/yachts">Yacht</a></li>
              <li>Fishing Trip</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Banner Section -->
<!-- ========================= SECTION ABOUT ========================= -->
<section class="section-content padding-section">
  <div class="container">
    <div class="row padding-section">
      <div class="col-sm-6">
        <picture>
          <img src="assets/images/resource/fishing-trip3.jpg" class="img-rounded img-thumbnail">
        </picture>
      </div> <!-- col.// -->
      <div class="col-sm-6">
        <article class="article">
          <h2 class="title-lead">Welcome to Fishing Trip  </h2>

          <p class="b">Join us for an unforgettable full day fishing charter in Dubai. Fishing in Dubai will give you an authentic local experience. This fishing charter in Dubai is on a private basis on a boat with capacity and fishing gear for up to 6 people. We’d like to welcome you aboard our  Beat TWO 36FT to take you on a fishing trip for 6 or 8 hours.</p>
          <p class="b">Do you wonder what this fishing charter in Dubai is about? This fishing experience is a basic type of fishing. There is no technicality to it, being great for beginners or for people who just want to have a relaxed and fun day fishing. The fishing charter in Dubai is suitable for all levels of experience and all ages. </p>
        </article>
      </div> <!-- col.// -->
    </div> <!-- row.// -->
    <br>
    <div class="row padding-section">
      <div class="col-sm-6">
        <article class="article">
          <br>
          <h3 class="title-lead">Book Fishing Trip In Dubai </h3>
          <br>
          <p class="b">No matter if you are a beginner fisherman or a professional angler, the warm Arabian waters are full of all types of fish, including cobia, king fish, small shark, hammour, Sultan Ibrahim, sherry and barracuda. This makes it no surprise that fishing in Dubai has become such a popular past time for natives, as well as tourists.</p>
          <p class="b">We are the only Fishing Charter Company in Dubai that will Guarantee fishing, we use special fishing techniques and equipments that can assist you in finding the biggest catch and gives you the best results. We try our best to take you as far as possible minimum 45km north of Dubai near World islands to guarantee the results and to get the best fish catching and best experience.</p>
        </article>
      </div> <!-- col.// -->
      <div class="col-sm-6">
        <picture>
          <img src="assets/images/resource/Deep-sea-dubai.jpg" class="img-rounded img-thumbnail">
        </picture>
      </div> <!-- col.// -->
    </div> <!-- row.// -->

  </div><!-- container // -->
</section>
<section class="top-destinations">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Attraction Block-->
      <div class="attraction-block col-lg-6 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <a href="yacht-tour-1.html"><img src="assets/images/resource/112.jpg" alt="" title=""></a>
            </figure>
          </div>
          <div class="lower-box">
            <div class="sec-title">
              <h2>Enjoy <strong>With Us</strong></h2>
              <div class="title-text">Book with Boats Ride and enjoy an exciting fishing trip.</div>
              <div class="link-box">
                <a routerLink="/yachts" class="theme-btn btn-style-five"><div class="btn-title">Book Now</div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Attraction Block-->
      <div class="destinations-box col-lg-6 col-md-12 col-sm-12">
        <div class="destinations">
          <div class="row clearfix">
            <!--Destination Block-->
            <div class="destination-block-three col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <a href="#"><img src="assets/images/resource/fishing-5.jpg" alt="" title=""></a>
                  </figure>
                </div>
                <div class="caption-box">

                </div>

              </div>
            </div>
            <!--Destination Block-->
            <div class="destination-block-three col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <a href="#"><img src="assets/images/resource/fishing-7.jpg" alt="" title=""></a>
                  </figure>
                </div>
                <div class="caption-box">

                </div>

              </div>
            </div>
            <!--Destination Block-->
            <div class="destination-block-three col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <a href="#"><img src="assets/images/resource/fishing-9.jpg" alt="" title=""></a>
                  </figure>
                </div>


              </div>
            </div>
            <!--Destination Block-->
            <div class="destination-block-three col-lg-6 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <a href="#"><img src="assets/images/resource/fishing-trip5.jpg" alt="" title=""></a>
                  </figure>
                </div>


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!--&lt;!&ndash;Destinations Section&ndash;&gt;-->
<!--<section class="destinations-section">-->
<!--  <div class="auto-container">-->
<!--    <div class="destinations-box">-->
<!--      <div class="row clearfix">-->
<!--        &lt;!&ndash;Destination Block&ndash;&gt;-->
<!--        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <figure class="image">-->
<!--                <a href="yacht-rent-buy.html"><img src="assets/images/resource/107.jpg" alt="" title=""></a>-->
<!--              </figure>-->

<!--              <div class="hover-box">-->
<!--                <div class="hover-inner">-->
<!--                  <div class="hover-content">-->
<!--                    <div class="link-box">-->
<!--                      <a href="yacht-rent.html" class="theme-btn btn-style-two"><div class="btn-title">Book NOW</div></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="title-box">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Destination Block&ndash;&gt;-->
<!--        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <figure class="image">-->
<!--                <a href="yacht-rent-buy.html"><img src="assets/images/resource/108.jpg" alt="" title=""></a>-->
<!--              </figure>-->
<!--              <div class="caption-box">-->
<!--                <div class="count"> </div>-->
<!--              </div>-->
<!--              <div class="hover-box">-->
<!--                <div class="hover-inner">-->
<!--                  <div class="hover-content">-->
<!--                    <div class="link-box">-->
<!--                      <a href="yacht-rent.html" class="theme-btn btn-style-two"><div class="btn-title">Book NOW</div></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="title-box">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Destination Block&ndash;&gt;-->
<!--        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <figure class="image">-->
<!--                <a href="yacht-rent-buy.html"><img src="assets/images/resource/110.jpg" alt="" title=""></a>-->
<!--              </figure>-->
<!--              <div class="caption-box">-->
<!--                <div class="count"> </div>-->
<!--              </div>-->
<!--              <div class="hover-box">-->
<!--                <div class="hover-inner">-->
<!--                  <div class="hover-content">-->
<!--                    <div class="link-box">-->
<!--                      <a href="yacht-rent.html" class="theme-btn btn-style-two"><div class="btn-title">Book NOW</div></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="title-box">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Destination Block&ndash;&gt;-->
<!--        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <figure class="image">-->
<!--                <a href="yacht-rent-buy.html"><img src="assets/images/resource/111.jpg" alt="" title=""></a>-->
<!--              </figure>-->
<!--              <div class="caption-box">-->
<!--                <div class="count">15</div>-->
<!--              </div>-->
<!--              <div class="hover-box">-->
<!--                <div class="hover-inner">-->
<!--                  <div class="hover-content">-->
<!--                    <div class="link-box">-->
<!--                      <a href="yacht-rent-buy.html" class="theme-btn btn-style-two"><div class="btn-title">View All Yachts</div></a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="title-box">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="see-all">-->
<!--      <a href="fishing-trip.html" class="default-link">-->
<!--        <span class="icon flaticon-logout"></span>-->
<!--        <span class="link-text">Book Fishing Trip </span>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<app-popular-destination></app-popular-destination>-->


<section class="facts-section">
  <div class="image-layer" style="background-image: url(./assets/images/background/image-8.jpg);"></div>
  <div class="auto-container">
    <div class="sec-title light centered">
      <h2>Reason For <strong>Choose Us</strong></h2>
      <div class="lower-text">Where do you want to go? </div>
    </div>
    <div class="row clearfix">
      <!--Featured Service-->
      <div class="featured-service-block-two col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <span class="flaticon-yacht-facing-right"></span>
          </div>
          <div class="content-box">
            <div class="title-box">
              <h4>Luxury and Quality <br>Yacht</h4>
            </div>
            <div class="text">Their duty through weakness it will which is the same as saying through some shrinking from toil.</div>
          </div>
          <div class="link-box">
            <a href="yacht-rent-buy.html" class="theme-btn link">Choose Yacht</a>
          </div>
        </div>
      </div>
      <!--Featured Service-->
      <div class="featured-service-block-two col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <span class="flaticon-boat-race"></span>
          </div>
          <div class="content-box">
            <div class="title-box">
              <h4>Professional and Expert <br>Crews</h4>
            </div>
            <div class="text">Their duty through weakness it will which is the same as saying through some shrinking from toil.</div>
          </div>
          <div class="link-box">
            <a href="about.html" class="theme-btn link">Meet Crews</a>
          </div>
        </div>
      </div>
      <!--Featured Service-->
      <div class="featured-service-block-two col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <span class="flaticon-wallet"></span>
          </div>
          <div class="content-box">
            <div class="title-box">
              <h4>Value for Spending <br>Money</h4>
            </div>
            <div class="text">Their duty through weakness it will which is the same as saying through some shrinking from toil.</div>
          </div>
          <div class="link-box">
            <a href="Contact.html" class="theme-btn link">Pricing Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Facts Section-->

<ngb-carousel  [wrap]="true" [interval]="2500" [pauseOnHover]="true"
              [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide>
    <section class="facts-section">
      <div class="image-layer" style="background-image: url(./assets/images/background/image-9.jpg);"></div>
          <!--Facts Box-->
          <div class="facts-box">
            <div class="inner">
              <div class="video-link">
                <a href="https://www.youtube.com/" class="theme-btn lightbox-image"><span class="icon flaticon-media-play-symbol"></span></a>
              </div>
              <div class="subtitle">Interesting Facts in Numbers</div>
              <h1 class="title">Tours Organized In Dubai</h1>
              <div class="count">1,235<sup>+</sup></div>
            </div>
          </div>
    </section>
  </ng-template>
  <ng-template ngbSlide>
    <section class="facts-section">
      <div class="image-layer" style="background-image: url(./assets/images/background/image-9.jpg);"></div>
      <!--Facts Box-->
      <div class="facts-box">
        <div class="inner">
          <div class="video-link">
            <a href="https://www.youtube.com/" class="theme-btn lightbox-image"><span class="icon flaticon-media-play-symbol"></span></a>
          </div>
          <div class="subtitle">Interesting Facts in Numbers</div>
          <h1 class="title">Tours Organized In Dubai</h1>
          <div class="count">1,235<sup>+</sup></div>
        </div>
      </div>
    </section>
  </ng-template>
</ngb-carousel>

<!--<section class="testimonials-section-three">-->
<!--  <div class="image-layer left-layer" style="background-image: url(./assets/images/background/image-10.png);"></div>-->

<!--  <div class="auto-container">-->
<!--    <div class="sec-title centered">-->
<!--      <h2>Travellers <strong>Experiences</strong></h2>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="auto-container">-->

<!--    <div class="carousel-box">-->
<!--      <ngb-carousel  [wrap]="true" [interval]="2500" [pauseOnHover]="true"-->
<!--                     [showNavigationArrows]="showNavigationArrows1" [showNavigationIndicators]="showNavigationIndicators1">-->
<!--        <ng-template ngbSlide>-->
<!--          <div class="testimonial-block-two">-->
<!--            <div class="inner-box">-->
<!--              <div class="content">-->
<!--                <div class="title-box">-->
<!--                  <h3>“The Holiday of Our Life Time”.</h3>-->
<!--                </div>-->
<!--                <div class="rating">-->
<!--                  <div class="curve"></div>-->
<!--                  <div class="rate">-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="text">We had an amazing deep sea fishing experience with this company.  They were extremely helpful with the fishing and cooked the most delish freshly-caught-by-us fish. It truly was a memorable experience and I can recommend them to anyone, even if you have never fished before.</div>-->
<!--                <div class="info">-->
<!--                  <div class="icon-box"><span class="flaticon-quote"></span></div>-->
<!--                  <div class="name">Hassan Alrashidi</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--        <ng-template ngbSlide>-->
<!--          <div class="testimonial-block-two">-->
<!--            <div class="inner-box">-->
<!--              <div class="content">-->
<!--                <div class="title-box">-->
<!--                  <h3>“The Holiday of Our Life Time”.</h3>-->
<!--                </div>-->
<!--                <div class="rating">-->
<!--                  <div class="curve"></div>-->
<!--                  <div class="rate">-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                    <span class="fa fa-star"></span>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="text">We had an amazing deep sea fishing experience with this company.  They were extremely helpful with the fishing and cooked the most delish freshly-caught-by-us fish. It truly was a memorable experience and I can recommend them to anyone, even if you have never fished before.</div>-->
<!--                <div class="info">-->
<!--                  <div class="icon-box"><span class="flaticon-quote"></span></div>-->
<!--                  <div class="name">Hassan Alrashidi</div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--      </ngb-carousel>-->
<!--    </div>-->

<!--  </div>-->
<!--</section>-->


<br> <br>
<section class="subscribe-section wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
  <div class="auto-container">
    <div class="inner">
      <div class="title">
        <h4>Subscribe to our newsletter</h4>
        <div class="subtitle">Subscribe & Get Updates in Your Inbox </div>
      </div>
      <div class="default-form subscribe-form-two">
        <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/contact.html">
          <div class="row clearfix">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="text" name="field-name" placeholder="Your Name" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="email" name="field-name" placeholder="Email Address" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-12 col-sm-12">
              <button type="submit" class="theme-btn btn-style-six"><span class="btn-title">Subscribe Now</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

