<!--Page Title-->
<section class="page-banner inner-banner-height" *ngIf="water_sport">
  <div class="image-layer" style="background-image:url(../../../assets/images/background/banner-1.jpg);"></div>
  <div class="banner-inner">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <h1 class="inner-banner-height-title">{{water_sport.name}}</h1>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li>
              <a [routerLink]="'/'">{{'home'|translate}}</a>
            </li>
            <li>
              <a routerLink="/water-sports">{{'waterSport'|translate}}</a>
            </li>

            <li>{{water_sport.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="item" *ngIf="!water_sport">
  <ngx-skeleton-loader count="1" appearance="circle" class="d-flex justify-content-between" [theme]="{
            height: '700px',
            width: '100%',
            'border-radius': '10px'
            }">
  </ngx-skeleton-loader>
</div>


<div class="info-pop">
  <div class="auto-container">
    <div class="inner">
      <div class="text">{{'outtour'|translate}}</div>
<!--      <div class="close-btn"><span class="flaticon-letter-x"></span></div>-->
    </div>
  </div>
</div>


<!--Yacht Tours Section-->
<section class="yacht-tours-container alternate-bg-two">
  <div class="auto-container">

    <div class="content-container">
      <div class="row clearfix">

        <div class="item col-lg-8 col-md-12 col-sm-12" *ngIf="!water_sport">
          <ngx-skeleton-loader count="1" appearance="circle" class="d-flex justify-content-between" [theme]="{
            height: '700px',
            width: '100%',
            'border-radius': '10px'
            }">
          </ngx-skeleton-loader>
        </div>

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12" *ngIf="water_sport">
          <div class="content-inner">
            <!--Tour Details-->
            <div class="tour-details pt-0">

              <ngx-gallery [options]="galleryOptions"
                           [images]="galleryImages"
                           style="height: 462px !important;"
                           class="ngx-gallery d-block w-100 mb-4">
              </ngx-gallery>

              <div class="text-block">
                <h4>{{'desc'|translate}}</h4>
                <p [innerHTML]="water_sport.water_sport_description"></p>
              </div>

              <div class="text-block">
                <h4>{{'whatexpect'|translate}}</h4>
                <p [innerHTML]="water_sport.what_to_expect_description"></p>
              </div>

              <div class="text-block">
                <h4>{{'routes'|translate}}</h4>
                <p [innerHTML]="water_sport.routes"></p>
              </div>

            </div>
          </div>
        </div>

        <!--Widgets Side-->
        <div class="widgets-side col-lg-4 col-md-6 col-sm-12">
          <div class="widgets-content">
            <!--Widget-->
            <div class="tour-widget single-booking-widget">
              <div class="widget-inner">
                <br>
                <div class="default-form main-booking-form">
                  <h5>{{'price'|translate}}</h5>

                  <div class="estimate-table" *ngIf="!water_sport.special_price">
                    <ul>
                      <li class="totals clearfix">
                        <span class="ttle">{{'price'|translate}}:</span>
                        <span class="dtl">
                            {{'ead'|translate}} {{water_sport?.selling_per_hour}} / {{'hour'|translate}}
                          </span>
                      </li>
                    </ul>
                  </div>
                  <div class="price" style="padding-left: 0px!important;" *ngIf="water_sport?.special_price">
                    <div style="display: inline-block;padding-left: 5px">
                      <del class="price-old">{{'ead'|translate}} {{water_sport?.selling_per_hour}}/{{'hour'|translate}}</del>
                    </div>
                    <div style="display: inline-block; margin-left: 10px;" data-toggle="tooltip" data-html="true" title=""
                         data-original-title="Summer Offer">
                    <span class="blink" style="color: red;font-size: 15px;border-radius: 5px;font-weight: bolder;"><i
                      class="fa fa-info-circle"></i> {{'ead'|translate}} {{water_sport.special_price}}</span>
                    </div>
                  </div>
                  <br>
                  <div class="info displaying">
                    <span class="icon flaticon-wall-clock pad_info"></span>{{'reservation'|translate}}: 24 / 7
                  </div>
                  <br>
                  <div class="form-group">
                    <button type="button"
                            (click)="openBooking()"
                            class="theme-btn">
                      <span class="btn-title">{{'booknow'|translate}}</span>
                    </button>
                  </div>

<!--                  <div class="instruction">Do you need suggestion pls contact our expert team.</div>-->
                </div>
              </div>

              <!--Widget-->
              <div class="tour-widget advisor-widget">
                <div class="widget-inner">
                  <!--Advisor Block-->
                  <div class="advisor-block">
                    <div class="inner-box">
                      <div class="image-box">
                        <a href="#"><img src="../../../assets/images/resource/team-6.jpg" alt="" title=""></a>
                      </div>
                      <div class="lower-box clearfix">
                        <div class="lower-content">
                          <h4><a href="#">Mohammed Sahraoui</a></h4>
                          <div class="info">
                            <span class="icon flaticon-assistance"></span>+971 52 491 8686 [24/Hours]
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<app-service-section></app-service-section>

