<!--Page Title-->
<section class="page-banner inner-banner-height">
  <div class="image-layer" style="background-image:url(./assets/images/background/banner-1.jpg);"></div>

  <div class="banner-inner">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <h1 class="inner-banner-height-title">{{'blog'|translate}}</h1>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li><a routerLink="/">{{'home'|translate}}</a></li>
            <li>{{'blog'|translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!--News Section-->
<section class="news-section-three">
  <div class="auto-container">
    <div class="news-list">
      <div class="item" *ngIf="!blogs.length">
        <ngx-skeleton-loader count="2" appearance="circle" class="d-flex justify-content-between" [theme]="{
            height: '700px',
            width: '100%',
            'border-radius': '10px'
        }">
        </ngx-skeleton-loader>
      </div>
      <!--News Block-->
      <div class="news-block-five" *ngFor="let blog of blogs">
        <div class="inner-box">
          <div class="row clearfix">
            <div class="image-column col-lg-5 col-md-12 col-sm-12">
              <figure class="image h-100">
                <a routerLink="/blogs/{{blog.slug}}"><img class="object-fit-cover h-100" src="{{blog.image}}" alt="" title=""></a>
                <a routerLink="/blogs/{{blog.slug}}" class="link-layer"><span class="icon flaticon-link-3"></span></a>
              </figure>
            </div>
            <div class="content-column col-lg-7 col-md-12 col-sm-12">
              <div class="inner">
                <div class="content">
                  <div class="meta-info">
                    <ul class="clearfix">
<!--                      <li>-->
<!--                        <span class="icon fa fa-folder-open"></span>-->
<!--                        <a>Boats Ride</a>-->
<!--                      </li>-->
                      <li>
                        <span class="icon fa fa-user"></span>
                        <a>By {{blog.author}}</a>
                      </li>
                    </ul>
                  </div>
                  <h3><a routerLink="/blogs/{{blog.slug}}">
                    {{ blog.title }}
                  </a></h3>
                  <div class="text" [innerHTML]="blog.description"></div>
                  <div class="link-box">
                    <a routerLink="/blogs/{{blog.slug}}">
                      <span class="icon flaticon-logout"></span>
                      <span class="link-text">{{'continueread'|translate}}</span>
                    </a>
                  </div>

                </div>
                <div class="other-info">
<!--                  <div class="post-date"><span class="day">10</span><span class="month">Nov</span></div>-->
                  <div class="add-to-fav">
                    <a href="#"><span class="icon flaticon-heart"></span></a>
                  </div>
                  <div class="add-comment">
                    <a href="#"><span class="icon flaticon-chat-comment-oval-speech-bubble-with-text-lines"></span></a>
                  </div>
                  <div class="share-it">
                    <a class="share-btn" href="#"><span class="icon flaticon-share"></span></a>
                    <div class="share-list">
                      <ul>
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Pagination-->
<!--    <div class="pagination-box text-right">-->
<!--      <ul class="styled-pagination">-->
<!--        <li><a href="#" class="prev"><span class="icon flaticon-back"></span></a></li>-->
<!--        <li><a href="#" class="active">1</a></li>-->
<!--        <li><a href="#">2</a></li>-->
<!--        <li><a href="#" class="next"><span class="icon flaticon-next"></span></a></li>-->
<!--      </ul>-->
<!--    </div>-->

  </div>
</section>

