
<section class="page-banner">

  <div class="image-layer" style="background-image:url(./assets/images/background/banner-1.jpg);">

  </div>

  <div class="banner-inner">



    <div class="auto-container">
      <div class="inner-container clearfix">

        <br><br><br><br><br><br>
        <h1>{{'about'|translate}} </h1>
        <br><br><br>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li><a [routerLink]="''">{{'home'|translate}}</a></li>
            <li>{{'about'|translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>




</section>

<!--Welcome Section-->
<section class="welcome-section">
  <div class="auto-container">
    <div class="title-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
      <h2>{{'welcometo'|translate}} <strong>{{'boatride'|translate}}</strong></h2>
      <p style="text-align:center;font-size:18px"><span style="color:#5f727f">{{'t1'|translate}}</span></p>
      <p style="text-align:center;font-size:18px"><span style="color:#5f727f">{{'t2'|translate}}</span></p>
    </div>
    <div class="image-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
      <img src="assets/images/resource/b3f4a732-aee6-4c62-a3ae-c51398a00ade-h.jpeg" alt="">
    </div>
  </div>
</section>
<!--Testimonials Section-->
<section class="testimonials-section-three">
  <div class="image-layer left-layer" style="background-image: url(./assets/images/background/image-10.png);"></div>

  <div class="auto-container">
    <div class="sec-title centered">
      <h2><strong>{{'boatrental'|translate}} </strong></h2>
      <div class="lower-text">{{'t3'|translate}}</div>
      <div class="lower-text">{{"t4"|translate}}</div>
    </div>
  </div>
  <div class="auto-container">

    <div class="carousel-box">
      <div class="testimonial-carousel-three owl-theme owl-carousel">





      </div>
    </div>

  </div>
</section>

<!--About Section-->
<section class="about-section-three">
  <div class="bg-image-layer" style="background-image: url(./assets/images/background/image-10.jpg);"></div>
  <div class="image-box-left wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
    <div class="image-layer" style="background-image: url(./assets/images/resource/team-1.jpg);"></div>
  </div>
  <div class="auto-container">
    <div class="content-outer clearfix">
      <div class="content-inner">
        <h2>“{{'t5'|translate}} <br>{{'t6'|translate}} <br> {{'t7'|translate}}.”</h2>
        <div class="info">
          <div class="name">Mohamed Sahraoui </div>
          <div class="designation">CEO &amp; Founder</div>
        </div>
        <div class="signature">
          <img src="assets/images/resource/signature.png" alt="" title="">
        </div>
      </div>
    </div>

  </div>
</section>
<!--&lt;!&ndash;Services Section Three&ndash;&gt;-->
<!--<section class="services-section-three">-->
<!--  <div class="main-image-layer" style="background-image:url(./assets/images/background/image-13.jpg);"></div>-->

<!--  <div class="upper-row">-->
<!--    <div class="image-layer" style="background-image:url(./assets/images/background/image-14.jpg);"></div>-->
<!--    <div class="auto-container">-->
<!--      <div class="row clearfix">-->

<!--        &lt;!&ndash;Left Column&ndash;&gt;-->
<!--        <div class="left-col col-xl-5 col-lg-12 col-md-12 col-sm-12">-->
<!--          <div class="inner">-->
<!--            <div class="sec-title">-->
<!--              <h2>Special Services</h2>-->
<!--              <div class="lower-text">Wer aim to offer 100% satisfaction services TO OUR CUSTOMERS </div>-->
<!--            </div>-->
<!--            <div class="text">Welcome to the most important yacht and boat rental platform in addition to water games in Dubai, we can help you find a yacht or boat for rent in Dubai, and we also organize cruises and special events such as birthdays, weddings, wedding anniversaries, company parties and many water games..</div>-->
<!--            <div class="info">-->
<!--              <h5>For Best Yachting Services, Call Us</h5>-->
<!--              <div class="phone"><a href="tel:+971524918686">+971 52 491 8686</a></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;Right Column&ndash;&gt;-->
<!--        <div class="right-col col-xl-7 col-lg-12 col-md-12 col-sm-12">-->
<!--          <div class="inner">-->
<!--            <carousel [margin]="20" [height]="500" [cellWidth]="250" [cellsToShow]="2" [arrows]="false" [loop]="true"-->
<!--                      [autoplay]="true" [dots]="true" [transitionDuration]="100">-->
<!--              <div class="carousel-cell">-->
<!--                <div class="featured-block">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="image-box"><a href="#"><img src="assets/images/resource/1568796959waterslide2.jpg" alt="" title=""></a> </div>-->
<!--                    <br>-->
<!--                    <h4>Birthday  Party </h4>-->
<!--                    <div class="text">We know how important birthdays can be, which is why we’ve curated a birthday package for you. Celebrate with your loved ones, by hosting your party aboard  on one of our luxury yachts.</div>-->
<!--                    <div class="link-box"><a href="yacht-rent.html">Book Now</a></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="carousel-cell">-->
<!--                <div class="featured-block">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="image-box"><a href="#"><img src="assets/images/resource/1568796959waterslide2.jpg" alt="" title=""></a> </div>-->
<!--                    <br>-->
<!--                    <h4>Birthday  Party </h4>-->
<!--                    <div class="text">We know how important birthdays can be, which is why we’ve curated a birthday package for you. Celebrate with your loved ones, by hosting your party aboard  on one of our luxury yachts.</div>-->
<!--                    <div class="link-box"><a href="yacht-rent.html">Book Now</a></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="carousel-cell">-->
<!--                <div class="featured-block">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="image-box"><a href="#"><img src="assets/images/resource/1568796959waterslide2.jpg" alt="" title=""></a> </div>-->
<!--                    <br>-->
<!--                    <h4>Birthday  Party </h4>-->
<!--                    <div class="text">We know how important birthdays can be, which is why we’ve curated a birthday package for you. Celebrate with your loved ones, by hosting your party aboard  on one of our luxury yachts.</div>-->
<!--                    <div class="link-box"><a href="yacht-rent.html">Book Now</a></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="carousel-cell">-->
<!--                <div class="featured-block">-->
<!--                  <div class="inner-box">-->
<!--                    <div class="image-box"><a href="#"><img src="assets/images/resource/1568796959waterslide2.jpg" alt="" title=""></a> </div>-->
<!--                    <br>-->
<!--                    <h4>Birthday  Party </h4>-->
<!--                    <div class="text">We know how important birthdays can be, which is why we’ve curated a birthday package for you. Celebrate with your loved ones, by hosting your party aboard  on one of our luxury yachts.</div>-->
<!--                    <div class="link-box"><a href="yacht-rent.html">Book Now</a></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </carousel>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="lower-row">-->
<!--    <div class="auto-container">-->
<!--      <div class="process-container">-->
<!--        <div class="row clearfix">-->
<!--          &lt;!&ndash;Block&ndash;&gt;-->
<!--          <div class="process-block col-lg-4 col-md-12 col-sm-12">-->
<!--            <div class="inner-box">-->
<!--              <div class="inner">-->
<!--                <div class="count"><span>01</span></div>-->
<!--                <div class="title-box">-->
<!--                  <div class="link"><a href="#">Start Here</a></div>-->
<!--                  <h4>Choose Your Yacht</h4>-->
<!--                </div>-->
<!--                <div class="text">Select from our diversified package the yacht that fits you well.</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash;Block&ndash;&gt;-->
<!--          <div class="process-block col-lg-4 col-md-12 col-sm-12">-->
<!--            <div class="inner-box">-->
<!--              <div class="inner">-->
<!--                <div class="count"><span>02</span></div>-->
<!--                <div class="title-box">-->
<!--                  <div class="link"><a href="#">Start Here</a></div>-->
<!--                  <h4>Choose Your Crew</h4>-->
<!--                </div>-->
<!--                <div class="text">Select from our diversified package the yacht that fits you well.</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash;Block&ndash;&gt;-->
<!--          <div class="process-block col-lg-4 col-md-12 col-sm-12">-->
<!--            <div class="inner-box">-->
<!--              <div class="inner">-->
<!--                <div class="count"><span>03</span></div>-->
<!--                <div class="title-box">-->
<!--                  <div class="link"><a href="#">Start Here</a></div>-->
<!--                  <h4>Pay & Start Sail</h4>-->
<!--                </div>-->
<!--                <div class="text">Make your payment when done and start the best sailing tour.</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</section>-->

<!--Features Section-->
<section class="features-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Feature-->
      <div class="feature-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <div class="octagonWrap">
              <div class="octagon"></div>
            </div>
            <span class="icon flaticon-scuba"></span>
          </div>
          <div class="content">
            <h4>{{'luxuaryyacht'|translate}}</h4>
            <div class="text">{{'topic1'|translate}}</div>
            <div class="link-box">
            </div>
          </div>
        </div>
      </div>
      <!--Feature-->
      <div class="feature-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <div class="octagonWrap">
              <div class="octagon"></div>
            </div>
            <span class="icon flaticon-boat-race"></span>
          </div>
          <div class="content">
            <h4>{{'safety'|translate}}</h4>
            <div class="text">{{'topic2'|translate}}</div>
            <div class="link-box">

            </div>
          </div>
        </div>
      </div>
      <!--Feature-->
      <div class="feature-block col-lg-4 col-md-12 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <div class="octagonWrap">
              <div class="octagon"></div>
            </div>
            <span class="icon flaticon-wallet"></span>
          </div>
          <div class="content">
            <h4>{{'value'|translate}}</h4>
            <div class="text">{{'topic3'|translate}} </div>
            <div class="link-box">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--&lt;!&ndash;Team Section&ndash;&gt;-->
<!--<section class="team-section">-->
<!--  <div class="auto-container">-->
<!--    <div class="sec-title centered">-->
<!--      <h2>Meet Your <strong>Team</strong></h2>-->
<!--      <div class="lower-text">Meet Our Expert Team</div>-->
<!--    </div>-->

<!--    <div class="team-box">-->
<!--      <div class="row clearfix">-->
<!--        &lt;!&ndash;Team Block&ndash;&gt;-->
<!--        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <a href="#"><img src="assets/images/resource/team-1.jpg" alt="" title=""></a>-->
<!--            </div>-->
<!--            <div class="lower-box clearfix">-->
<!--              <div class="lower-content">-->
<!--                <h4><a href="#">Justin <br>Homerey</a></h4>-->
<!--                <div class="designation">CEO & Founder</div>-->
<!--                <div class="social-links"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Team Block&ndash;&gt;-->
<!--        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <a href="#"><img src="assets/images/resource/team-2.jpg" alt="" title=""></a>-->
<!--            </div>-->
<!--            <div class="lower-box clearfix">-->
<!--              <div class="lower-content">-->
<!--                <h4><a href="#">Krick <br>Jonathan</a></h4>-->
<!--                <div class="designation">Tour Coordinator</div>-->
<!--                <div class="social-links"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Team Block&ndash;&gt;-->
<!--        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <a href="#"><img src="assets/images/resource/team-3.jpg" alt="" title=""></a>-->
<!--            </div>-->
<!--            <div class="lower-box clearfix">-->
<!--              <div class="lower-content">-->
<!--                <h4><a href="#">Martin <br>Leonard</a></h4>-->
<!--                <div class="designation">Senior Captain</div>-->
<!--                <div class="social-links">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Team Block&ndash;&gt;-->
<!--        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <a href="#"><img src="assets/images/resource/team-1.jpg" alt="" title=""></a>-->
<!--            </div>-->
<!--            <div class="lower-box clearfix">-->
<!--              <div class="lower-content">-->
<!--                <h4><a href="#">Justin <br>Homerey</a></h4>-->
<!--                <div class="designation">CEO & Founder</div>-->
<!--                <div class="social-links"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Team Block&ndash;&gt;-->
<!--        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <a href="#"><img src="assets/images/resource/team-2.jpg" alt="" title=""></a>-->
<!--            </div>-->
<!--            <div class="lower-box clearfix">-->
<!--              <div class="lower-content">-->
<!--                <h4><a href="#">Krick <br>Jonathan</a></h4>-->
<!--                <div class="designation">Tour Coordinator</div>-->
<!--                <div class="social-links"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Team Block&ndash;&gt;-->
<!--        <div class="team-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">-->
<!--          <div class="inner-box">-->
<!--            <div class="image-box">-->
<!--              <a href="#"><img src="assets/images/resource/team-3.jpg" alt="" title=""></a>-->
<!--            </div>-->
<!--            <div class="lower-box clearfix">-->
<!--              <div class="lower-content">-->
<!--                <h4><a href="#">Martin <br>Leonard</a></h4>-->
<!--                <div class="designation">Senior Captain</div>-->
<!--                <div class="social-links">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

<!--    <div class="see-all">-->
<!--      <a href="contact.html" class="default-link">-->
<!--        <span class="icon flaticon-logout"></span>-->
<!--        <span class="link-text">Contact Us</span>-->
<!--      </a>-->
<!--    </div>-->

<!--  </div>-->
<!--</section>-->

<!--Subscribe Section-->
<section class="subscribe-section style-two wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
  <div class="auto-container">
    <div class="inner">
      <div class="title">
        <h4>{{'newsub'|translate}}</h4>
        <div class="subtitle">{{'newssubtopic'|translate}}</div>
      </div>
      <div class="default-form subscribe-form-two">
        <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/contact.html">
          <div class="row clearfix">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="text" name="field-name" placeholder="{{'yourname'|translate}}" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="email" name="field-name" placeholder="{{'email'|translate}}" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-12 col-sm-12">
              <button type="submit" class="theme-btn btn-style-three"><span class="btn-title">{{'subnow'|translate}}</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
