<footer class="main-footer">
  <!--Widgets Section-->
  <div class="widgets-section">
    <div class="auto-container">
      <div class="row clearfix">

        <!--Column-->
        <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="footer-widget info-widget">
            <div class="logo">
              <a routerLink="/"><img src="../../../assets/images/footer-logo.png" alt=""></a>
            </div>
            <div class="info">
              <ul>
                <li>
                  <span class="icon fa fa-map-marker-alt"></span> Boats Ride <br>King Salman Bin Abdulaziz Al Saud St  <br>- Dubai Marina - Dubai, UAE.
                <li>
                  <span class="icon fa fa-phone-alt"></span>
                  Call us <a href="tel:+971524918686">+971 52 491 8686</a></li>
                <li>
                  <span class="icon fa fa-envelope"></span>
                  <a href="mailto:info@boatsride.com">info@boatsride.com</a>
                </li>
              </ul>
            </div>
            <div class="social-links">
              <ul class="clearfix">
                <li><a href="https://www.facebook.com/boatsride" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                <li><a href="https://www.instagram.com/boats_ride/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                <li><a href="https://twitter.com/ride_boats" target="_blank"><span class="fab fa-twitter"></span></a></li>
                <li><a href="https://www.youtube.com/channel/UCp0HqhmM9xIQe-JnqcazTYQ" target="_blank"><span class="fab fa-youtube"></span></a></li>
              </ul>
            </div>
          </div>
        </div>

        <!--Column-->
        <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="footer-widget links-widget">
            <div class="widget-content">
              <div class="widget-title">
                <h4>What We Do</h4>
              </div>
              <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <ul class="links">
                    <li><a href="destinations.html">Destination</a></li>
                    <li><a href="offers.html">Offers</a></li>
                    <li><a href="destinations.html">Yacht Rent</a></li>
                    <li><a href="#">Wather Sports</a></li>
                    <li><a href="#">Fishing Tips</a></li>
                    <li><a href="#.html">Jet Ski</a></li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <ul class="links">
                    <li><a href="../../../index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="testimonial.html">Testimonials</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Column-->
        <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="footer-widget gallery-widget">
            <div class="widget-title">
              <h4>Instagram</h4>
            </div>
            <div class="widget-content">
              <div class="images clearfix">
                <figure class="image">
                  <img src="../../../assets/images/gallery/gallery-thumb-1.jpg" alt="">
                  <a class="lightbox-image" href="images/gallery/1.jpg" data-fancybox="gallery"><span class="icon flaticon-cross"></span></a>
                </figure>
                <figure class="image">
                  <img src="../../../assets/images/gallery/gallery-thumb-2.jpg" alt="">
                  <a class="lightbox-image" href="images/gallery/2.jpg" data-fancybox="gallery"><span class="icon flaticon-cross"></span></a>
                </figure>
                <figure class="image">
                  <img src="../../../assets/images/gallery/gallery-thumb-3.jpg" alt="">
                  <a class="lightbox-image" href="images/gallery/3.jpg" data-fancybox="gallery"><span class="icon flaticon-cross"></span></a>
                </figure>
                <figure class="image">
                  <img src="../../../assets/images/gallery/gallery-thumb-4.jpg" alt="">
                  <a class="lightbox-image" href="images/gallery/4.jpg" data-fancybox="gallery"><span class="icon flaticon-cross"></span></a>
                </figure>
                <figure class="image">
                  <img src="../../../assets/images/gallery/gallery-thumb-5.jpg" alt="">
                  <a class="lightbox-image" href="images/gallery/5.jpg" data-fancybox="gallery"><span class="icon flaticon-cross"></span></a>
                </figure>
                <figure class="image">
                  <img src="../../../assets/images/gallery/gallery-thumb-6.jpg" alt="">
                  <a class="lightbox-image" href="images/gallery/6.jpg" data-fancybox="gallery"><span class="icon flaticon-cross"></span></a>
                </figure>
                <figure class="image">
                  <img src="../../../assets/images/gallery/gallery-thumb-7.jpg" alt="">
                  <a class="lightbox-image" href="images/gallery/7.jpg" data-fancybox="gallery"><span class="icon flaticon-cross"></span></a>
                </figure>
                <figure class="image">
                  <img src="../../../assets/images/gallery/gallery-thumb-8.jpg" alt="">
                  <a class="lightbox-image" href="images/gallery/8.jpg" data-fancybox="gallery"><span class="icon flaticon-cross"></span></a>
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="inner clearfix">
        <div class="copyright">Copyright &copy; 2020 Seo light. All Rights Reserved.</div>
        <div class="bottom-links"><a href="#">Terms of Use</a> & <a href="#">Private Policy</a></div>
      </div>
    </div>
  </div>

</footer>
