<section class="booking-section">
  <div class="image-layer" style="background-image: url(assets/images/background/pattern-image-2.png);"></div>
  <div class="auto-container">
    <div class="row clearfix">
      <!--Title Column-->
      <div class="title-col col-xl-4 col-lg-12 col-md-12 col-sm-12">
        <div class="inner">
          <div class="title-box">
            <h2><span>{{'book'|translate}}</span> {{'now'|translate}}</h2>
            <div class="subtitle">{{'largetsyacht'|translate}}</div>
          </div>
        </div>
      </div>

      <!--Form Column-->
      <div class="form-col col-xl-8 col-lg-12 col-md-12 col-sm-12">
        <div class="inner">
          <div class="default-form booking-form">
            <form method="post" action="http://boatsride.com/yacht-rent.html">
              <div class="row clearfix">

                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                  <div class="field-inner">
                    <div class="field-icon"><span class="flaticon-maps-and-flags"></span></div>
                    <select class="custom-select-box" name="field-name">
                      <option>{{'offers'|translate}}</option>
                      <option>Rental Yacht</option>
                      <option>Water Sport </option>
                      <option>Fishing Trip </option>
                      <option>Jet Ski </option>
                    </select>
                  </div>
                </div>

                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                  <div class="field-inner">
                    <div class="field-icon"><span class="flaticon-calendar"></span></div>
                    <input type="text" class="datetime-picker" name="field-name" placeholder="{{'dateandtime'|translate}}" required="" value="" >
                  </div>
                </div>

                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                  <div class="field-inner">
                    <div class="field-icon"><span class="flaticon-stopwatch"></span></div>
                    <select class="custom-select-box" name="field-name">
                      <option>{{'duration'|translate}}</option>
                      <option>01 Hour</option>
                      <option>02 Hours</option>
                      <option>03 Hours</option>
                      <option>04 Hours</option>
                      <option>05 Hours</option>
                      <option>06 Hours</option>
                    </select>
                  </div>
                </div>

                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                  <div class="field-inner">
                    <div class="field-icon"><span class="flaticon-user-3"></span></div>
                    <select class="custom-select-box" name="field-name">
                      <option>{{'guestno'|translate}}</option>
                      <option>01 - 05 People</option>
                      <option>05 - 10 People</option>
                      <option>10 - 15 People</option>
                      <option>15 - 20 People</option>
                      <option>20 - 30 People</option>
                    </select>
                  </div>
                </div>



                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                  <button type="submit"
                          routerLink="/yachts"
                          class="theme-btn btn-style-three">
                    <span class="btn-title">{{'booknow'|translate}}</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
