<div class="tap-top top-cls" (click)="gotoTop()" *ngIf="isShow">
  <div>
    <i class="fa fa-angle-double-up"></i>
  </div>
</div>
<div class="tap-top-whatsapp top-cls">
  <a [href]="'https://api.whatsapp.com/send/?phone='+settings?.whatsapp_number+'&text&app_absent=0'" target="_blank" style="color: white!important;">
    <div style="font-size: 30px">
      <i class="fab fa-whatsapp"></i>
    </div>
  </a>
</div>

<div class="tap-top-whatsapp top-cls top-call-us">
  <a [href] = "'tel:+971524918686'" style="color: white!important;">
    <div style="font-size: 25px">
      <i class="fas fa-phone-alt"></i>
    </div>
  </a>
</div>
<footer class="main-footer footer-style-two">
  <div class="outer-container">
    <!--Widgets Section-->
    <div class="widgets-section">
      <div class="auto-container">
        <div class="widgets-inner">
          <div class="shape-1"></div>
          <div class="shape-2"></div>
          <div class="left-image"><img src="../../../assets/images/resource/footer-image.png" alt="" title=""></div>
          <div class="offer-carousel-box" *ngIf="isBrowser">
            <!--Carousel-->
            <ngb-carousel [interval]="3000" [pauseOnHover]="true" [wrap]="true"
                           [showNavigationArrows]="showNavigationArrows"
                          [showNavigationIndicators]="showNavigationIndicators">
              <ng-template ngbSlide>
                <div class="offer-block">
                  <div class="inner-box">
                    <div class="icon-box"><span class="flaticon-yacht-facing-right"></span></div>
                    <h4>{{'weprovide'|translate}} <br>{{'bestoffers'|translate}}</h4>
<!--                    <div class="subtitle">{{'newmarry'|translate}}</div>-->
                    <div class="offer-price">
                      <span class="percent">10<em>%</em></span>
                      <span class="txt">{{'offer'|translate}}</span>
                    </div>
                    <div class="links-box clearfix">
                      <a routerLink="/yachts"
                         class="theme-btn btn-style-one">
                        <div class="btn-title">{{'booknow'|translate}}</div>
                      </a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>

          <div class="row clearfix">

            <!--Column-->
            <div class="column col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="footer-widget info-widget">
                <div class="widget-content">
                  <div class="widget-title">
                    <h4>{{'contact'|translate}}</h4>
                  </div>
                  <div class="info">
                    <ul>
                      <li>
                        <span class="icon fas fa-map-marker-alt"></span>
                        <span>
                            {{'boatride'|translate}} <br> {{'addressboat'|translate}}
                        </span>
                      </li>
                      <li *ngIf="lang == 'en'">
                        <span class="icon fas fa-phone-alt"></span>
                        <span>
                          {{'callus'|translate}}: <a href="tel:+971524918686">+971 52 491 8686</a>
                        </span>
                      </li>
                      <li *ngIf="lang == 'ar'">
                        <span class="icon fas fa-phone-alt"></span>
                        <span>
                          {{'callus'|translate}}: <a href="tel:+971524918686">8686 491 52 971+</a>
                        </span>
                      </li>
                      <li>
                        <span class="icon fa fa-envelope"></span>
                        <span>
                          <a href="mailto:info@boatsride.com">info@boatsride.com</a>
                        </span>
                      </li>
                    </ul>
                  </div>

                  <div aria-label="evaluation">
                    <div id="TA_cdswritereviewlg560" class="TA_cdswritereviewlg">
                      <ul id="mmUDyoJyBx" class="TA_links BVX8qW0pBE">
                        <li id="mBPmvVmSi" class="ID2ctl"><a target="_blank"
                                                             href="https://www.tripadvisor.com/Attraction_Review-g295424-d23649271-Reviews-Boats_Ride-Dubai_Emirate_of_Dubai.html"><img
                          src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg"
                          alt="TripAdvisor"/></a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="social-links">
                    <ul class="clearfix">
                      <li><a href="https://www.facebook.com/boatsride" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                      <li><a href="https://www.instagram.com/boats_ride/" target="_blank"><span class="fab fa-instagram"></span></a></li>
                      <li><a href="https://twitter.com/ride_boats" target="_blank"><span class="fab fa-twitter"></span></a></li>
                      <li><a href="https://www.youtube.com/channel/UCp0HqhmM9xIQe-JnqcazTYQ" target="_blank"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                  </div>

                  <div class="social-links payments-img">
                    <img src = "../../../assets/images/newpayments.png" />
                   </div>

                </div>
              </div>
            </div>

            <!--Column-->
            <div class="column col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="footer-widget links-widget">
                <div class="widget-content">
                  <div class="widget-title">
                    <h4>{{'whatwedo'|translate}}</h4>
                  </div>
                  <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <ul class="links">
                        <li><a [routerLink]="'/'">{{'home'|translate}}</a></li>
                        <li><a [routerLink]="'/about'">{{'about'|translate}}</a></li>
                        <li><a [routerLink]="'/blogs'">{{'blog'|translate}}</a></li>
                        <li><a [routerLink]="'/contact'">{{'contact'|translate}}</a></li>
                        <li><a [routerLink]="'/destination'">{{'destination'|translate}}</a></li>
                        <li><a [routerLink]="'/offers'">{{'offer'|translate}}</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <ul class="links">
                        <li><a [routerLink]="'/yachts'">{{'yachtRent'|translate}}</a></li>
                        <li><a [routerLink]="'/water-sports'">{{'waterSport'|translate}}</a></li>
                        <li><a [routerLink]="'/fishing-trip'">{{'finishingTrip'|translate}}</a></li>
                        <li><a [routerLink]="'/services'">{{'service'|translate}}</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="auto-container">
        <div class="inner clearfix">
          <div class="copyright">{{'right'|translate}}.
            <br>
            Owned By BOATS RIDE PORTAL
          </div>
          <div class="bottom-links">
            <a [routerLink]="'terms-and-conditions'">{{'term'|translate}}</a> & <a [routerLink]="'policy-and-policy'">{{'privacy'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
