<!--Destinations Section-->
<section class="destinations-section">
  <div class="auto-container">
    <div class="title-row clearfix">
      <div class="sec-title-two centered with-border">
        <h2>RENTAL  <strong> YACHT  DUBAI</strong></h2>
        <p style="text-align:center;font-size:18px"><span style="color:#5f727f">Our luxury yachts will take you in several of the city’s sights, including Palm Jumeirah, the sail-shaped Burj Al Arab, Jumeirah Beach, World Island, Dubai Canal, Dubai Creek ... </span></p>
        <div class="separator"></div>
      </div>
    </div>

    <div class="destinations-box">
      <div class="row clearfix">
        <!--Destination Block-->
        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="birthday-party-yacht.html"><img src="assets/images/resource/86.jpg" alt="" title=""></a>
              </figure>
              <div class="caption-box">
                <div class="count">24 / 7 </div>
              </div>
              <div class="hover-box">
                <div class="hover-inner">
                  <div class="hover-content">
                    <h5 class="title">24 Hours  / 7 Days</h5>
                    <div class="link-box">
                      <a href="yacht-rent.html" class="theme-btn btn-style-two"><div class="btn-title">View All Yachts</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="title-box">
              <h4><a href="birthday-party-yacht.html">Birthday Party Yacht</a></h4>
            </div>
            <div class="meta-info">
            </div>
          </div>
        </div>
        <!--Destination Block-->
        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="private-party-yacht.html"><img src="assets/images/resource/75.png" alt="" title=""></a>
              </figure>
              <div class="caption-box">
              </div>
              <div class="hover-box">
                <div class="hover-inner">
                  <div class="hover-content">
                    <div class="link-box">
                      <a href="yacht-rent.html" class="theme-btn btn-style-two"><div class="btn-title">View All Yachts</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="title-box">
              <h4><a href="private-party-yacht.html">Private Party Yacht </a></h4>
            </div>
            <div class="meta-info">

            </div>
          </div>
        </div>
        <!--Destination Block-->
        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="fishing-trip.html"><img src="assets/images/resource/78.jpg" alt="" title=""></a>
              </figure>
              <div class="caption-box">
              </div>
              <div class="hover-box">
                <div class="hover-inner">
                  <div class="hover-content">
                    <h5 class="title">24 Hours  / 7 Days</h5>
                    <div class="link-box">
                      <a href="yacht-rent.html" class="theme-btn btn-style-two"><div class="btn-title">View All Yachts</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="title-box">
              <h4><a href="fishing-trip.html">Fishing Trip Yacht</a></h4>
            </div>
            <div class="meta-info">
            </div>
          </div>
        </div>
        <!--Destination Block-->
        <div class="destination-block col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="image-box">
              <figure class="image">
                <a href="water-sport.html"><img src="assets/images/resource/77.jpg" alt="" title=""></a>
              </figure>
              <div class="caption-box">
              </div>
              <div class="hover-box">
                <div class="hover-inner">
                  <div class="hover-content">
                    <h5 class="title">24 Hours  / 7 Days</h5>
                    <div class="link-box">
                      <a href="yacht-rent.html" class="theme-btn btn-style-two"><div class="btn-title">View All Yachts</div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="title-box">
              <h4><a href="water-sport.html">Water Sport</a></h4>
            </div>
            <div class="meta-info">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="see-all">
      <a href="offers.html" class="default-link">
        <span class="icon flaticon-logout"></span>
        <span class="link-text">View All Offers</span>
      </a>
    </div>
  </div>
</section>
