<!--Destinations Section-->
<section class="destinations-section mb-4">
  <div class="auto-container">
    <div class="title-row clearfix">
      <div class="sec-title-two centered with-border">
        <h2>
          <span>{{ 'YACHT' | translate }}</span>
          <strong>
            {{ 'RENTAL_DUBAI' | translate }}
          </strong>
        </h2>

        <app-english-text *ngIf="lang == 'en'"></app-english-text>
        <app-arabic-text *ngIf="lang == 'ar'"></app-arabic-text>

        <div class="separator"></div>
      </div>
    </div>

    <div class="item" *ngIf="is_loading">
      <ngx-skeleton-loader count="3" appearance="circle" class="d-flex justify-content-between" [theme]="{
            height: '300px',
            width: '33%',
            'border-radius': '10px'
            }">
      </ngx-skeleton-loader>
    </div>

<!--    <app-service-slider [Services]="Services" [numberOfCell]="numberofcells"></app-service-slider>-->

    <app-services-box [Services]="Services"></app-services-box>

    <div class="see-all mb-5 mt-4">
      <a [routerLink]="'/services'" class="default-link">
        <span class="icon flaticon-logout"></span>
        <span class="link-text">
          {{ 'view_all_services' | translate }}
        </span>
      </a>
    </div>
  </div>
</section>
