<p>
  <span>Our </span>
  <span class="dark-red" [routerLink]="'/yachts'"> luxury yacht rental Dubai Marina </span>
  <span>will take you to several of the city’s sights, including Palm Jumeirah, the sail-shaped Burj Al Arab, Jumeirah Beach, World Island, Dubai Canal, Dubai Creek. Find the best </span>
  <span class="dark-red" [routerLink]="'/yachts'">boat rental in Dubai Marina.</span>
  <span> Simple, easy and secure.
    If you are looking for a good place to rent a boat, Dubai is the perfect place. With Boats Ride you can find over 30 different charters of yachts, boats and water experiences.</span>
</p>

<p>
  Feel free to check out the other exceptional services we offer such as  <span class="dark-red" [routerLink]="'/yachts/luxury-jet-car'">Jet Car Dubai, </span> <span class="dark-red" [routerLink]="'/yachts/azimut-with-jacuzzi-80ft'">yacht rental dubai with jacuzzi, </span> <span class="dark-red" [routerLink]="'/yachts/party-yacht-gugu'">gugu boat, </span> <span class="dark-red" [routerLink]="'/offers'">yacht rental dubai offers, </span> <span class="dark-red" [routerLink]="'/services/birthday-party'">yacht birthday party, </span> <span class="dark-red" [routerLink]="'/water-sports/water-slide'">yacht with slide, </span>
</p>
