<p>
  <span>Our </span>
  <span class="dark-red" [routerLink]="'/yachts'"> luxury yacht rental </span>
  <span>will take you to several of the city’s sights, including Palm Jumeirah, the sail-shaped Burj Al Arab, Jumeirah Beach, World Island, Dubai Canal, Dubai Creek. Find the best </span>
  <span class="dark-red" [routerLink]="'/yachts'">boat rental service in Dubai.</span>
  <span> Simple, easy and secure.</span>
</p>

<p>
  If you are looking for a good place to rent a boat, Dubai is the perfect place. With Boats Ride you can find over 30 different charters of yachts, boats and water experiences.
</p>
