<!--Featured Service Section-->
<section class="featured-services">
  <div class="image-layer" style="background-image: url(assets/images/background/image-4.jpg);"></div>
  <div class="auto-container">
    <div class="sec-title-two centered with-border">
      <h2>{{'welcometo'|translate}}<strong>  {{'boatride'|translate}}</strong></h2>
      <p class="b">{{'abouttopics1'|translate}}</p>
      <p>{{'abouttopics2'|translate}}</p>
    </div>
  </div>
</section>

<app-rental-yacht-dubai></app-rental-yacht-dubai>
