<!--Featured Service Section-->
<section class="featured-services">
  <div class="image-layer" style="background-image: url(assets/images/background/image-4.jpg);"></div>
  <div class="auto-container">
    <div class="sec-title-two centered with-border">
      <h2>{{'welcometo'|translate}}<strong>  {{'boatride_feature_section'|translate}}</strong></h2>

      <app-feature-paragraph-english *ngIf="lang == 'en'"></app-feature-paragraph-english>

      <app-feature-paragraph-arabic *ngIf="lang == 'ar'"></app-feature-paragraph-arabic>

    </div>
  </div>
</section>

<app-rental-yacht-dubai></app-rental-yacht-dubai>
