<section class="section-route hidden-xs direction-left map-section overflow-hidden">
<!--  <a href="cruise-map.html" class="link-route-more"><i class="fa fa-chevron-right"></i> Other routes </a>-->

  <!-- <a href="javascript:void(0)" class="place-wrap one-and-one">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">One and only royal mirage</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-one.jpg" src="assets/images/posts/loc-one.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap yachtclub">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">Yacht Club</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-yachtclub.jpg" src="assets/images/posts/loc-yachtclub.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap marina">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">Marina</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-marina.jpg" src="assets/images/posts/loc-marina.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap jbr">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">JBR</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-jbr.jpg" src="assets/images/posts/loc-jbr.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap rixos">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">Rixos</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-rixos.jpg" src="assets/images/posts/loc-rixos.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap lagoon">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">Lagoon</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-lagoon.jpg" src="assets/images/posts/loc-lagoon.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap blue">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">Blue water</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-blue.jpg" src="assets/images/posts/loc-blue.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap anantara">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">Anantara the Palm</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-anantara.jpg" src="assets/images/posts/loc-anantara.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap westin">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">The Westin</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-westin.jpg" src="assets/images/posts/loc-westin.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap onepalm">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">one and Only Palm</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-onepalm.jpg" src="assets/images/posts/loc-onepalm.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap jumeirah">
    <span class="pin"><span class="circle-pulse"></span> <span class="text" style="width:120px;">Jumeirah Beach Hotel</span></span>
    <span class="info" style="left:-90px;"><img class="lazyload" data-src="images/posts/loc-jumeirah.jpg" src="assets/images/posts/loc-jumeirah.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap zabeel">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">Zabeel Saray</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-zabeel.jpg" src="assets/images/posts/loc-zabeel.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap palm">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">Palm island</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-palm.jpg" src="assets/images/posts/loc-palm.jpg"></span>
  </a>

  <a href="javascript:void(0)" class="place-wrap kempinski">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">Kempinski hotel</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-kempinski.jpg" src="assets/images/posts/loc-kempinski.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap atlantis">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">Atlantis</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-atlantis.jpg" src="assets/images/posts/loc-atlantis.jpg"></span>
  </a>
  <a href="javascript:void(0)" class="place-wrap burjalarab">
    <span class="pin"><span class="circle-pulse"></span> <span class="text">Burj al arab</span></span>
    <span class="info"><img class="lazyload" data-src="images/posts/loc-burjalarab.jpg" src="assets/images/posts/loc-burjalarab.jpg"></span>
  </a> -->
  <img class="lazyload"   src="assets/images/map-new.jpg">
</section>
