
<section class="page-banner">
  <div class="image-layer" style="background-image:url(./assets/images/background/banner-1.jpg);"></div>

  <div class="banner-inner">

    <div class="auto-container">
      <div class="inner-container clearfix">
        <h1>{{'getintouch'|translate}}</h1>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li><a routerLink="">{{'home'|translate}}</a></li>
            <li>{{'contact'|translate}}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>

<!--Contact Section-->
<section class="contact-section">
  <div class="auto-container">
    <div class="location-filter">
      <div class="filter-box">
        <div class="default-form">
          <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/contact.html">
            <div class="form-group">
              <div class="sec-title">
                <h2><strong>{{'contact'|translate}}</strong></h2>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="info-container">
      <div class="row clearfix">
        <!--Info Block-->
        <div class="info-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="icon-box">
              <span class="flaticon-address"></span>
            </div>
            <div class="title-box">
              <h4>{{'address'|translate}}</h4>
<!--              <div class="subtitle">For Visit Our Office</div>-->
            </div>
            <div class="content-box">
              <div class="text">King Salman Bin Abdulaziz Al Saud St - Dubai Marina - Dubai, UAE.</div>
            </div>
          </div>
        </div>
        <!--Info Block-->
        <div class="info-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="icon-box">
              <span class="flaticon-smartphone-3"></span>
            </div>
            <div class="title-box">
              <h4>{{'phone'|translate}}</h4>
<!--              <div class="subtitle">For mobile fans</div>-->
            </div>
            <div class="content-box">
              <div class="text">Call Us On:<br> +971 52 491 8686 <br>+971 56 415 7579 </div>
            </div>
          </div>
        </div>
        <!--Info Block-->
        <div class="info-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="icon-box">
              <span class="flaticon-email-1"></span>
            </div>
            <div class="title-box">
              <h4>{{'email'|translate}}</h4>
<!--              <div class="subtitle">For Ask Anything</div>-->
            </div>
            <div class="content-box">
              <div class="text">Send Message To:<br>info@boatsride.com <br> support@boatsride.com </div>
            </div>
          </div>
        </div>
        <!--Info Block-->
        <div class="info-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
          <div class="inner-box">
            <div class="icon-box">
              <span class="flaticon-clock"></span>
            </div>
            <div class="title-box">
              <h4>Op. Hrs</h4>
<!--              <div class="subtitle">For Comfortable Visit</div>-->
            </div>
            <div class="content-box">
              <div class="text">Week Days:<br>09:00am to 02:00pm<br>03:00pm to 03:00am</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-container">
      <div class="row clearfix">
        <!--Form-->
        <div class="form-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="sec-title">
              <h2><strong>{{'sendmessage'|translate}}</strong></h2>
<!--              <div class="lower-text">Don’t Hesitate to Contact US</div>-->
            </div>
            <div class="default-form contact-form">
              <form method="post" id="contact-form" action="http://st.ourhtmldemo.com/new/sailing-demo/sendemail.php">
                <div class="row clearfix">
                  <div class="form-group col-lg-6 col-md-6 col-sm-12">
                    <div class="field-label">{{'yourname'|translate}}</div>
                    <div class="field-inner">
                      <input type="text" name="username" placeholder="{{'yourname'|translate}}" required="" value="">
                    </div>
                  </div>

                  <div class="form-group col-lg-6 col-md-6 col-sm-12">
                    <div class="field-label">{{'email'|translate}}</div>
                    <div class="field-inner">
                      <input type="email" name="email" placeholder="{{'email'|translate}}" required="" value="">
                    </div>
                  </div>

                  <div class="form-group col-lg-12 col-md-12 col-sm-12">
                    <div class="field-label">{{'subject'|translate}}</div>
                    <div class="field-inner">
                      <select class="custom-select-box" name="subject">
                        <option>{{'subject'|translate}}</option>
                        <option>Yacht Rental</option>
                        <option>Water Surfing</option>
                        <option>Fishing Trip </option>

                      </select>
                    </div>
                  </div>

                  <div class="form-group col-lg-12 col-md-12 col-sm-12">
                    <div class="field-label">{{'message'|translate}}</div>
                    <div class="field-inner">
                      <textarea name="message" placeholder="Write your message..." required=""></textarea>
                    </div>
                  </div>

                  <div class="form-group col-lg-12 col-md-12 col-sm-12">
                    <button type="submit" class="theme-btn btn-style-three"><span class="btn-title">{{'message'|translate}}</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!--Map-->
        <div class="map-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
            <!--Map Box-->
            <div class="sec-title">
              <br><br>
              <h2><strong>{{'findloc'|translate}}</strong></h2>
<!--              <div class="lower-text">Don’t Hesitate to Visit US</div>-->
            </div>
            <iframe style="width:100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.968904810561!2d55.13413113551825!3d25.069043043040896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f13516205bfcd%3A0xc15c63bce0d16ba2!2zTWFzamlkIEFsIFJhaGltIC0g2K_YqNmKINmF2KfYsdmK2YbYpyAtINiv2KjZig!5e0!3m2!1sar!2sae!4v1611316130187!5m2!1sar!2sae" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="subscribe-section style-three no-padding-top">
  <div class="auto-container">
    <div class="inner">
      <div class="image-layer" style="background-image:url(./assets/images/background/image-12.jpg);"></div>
      <div class="title">
        <h4>{{'newsub'|translate}}</h4>
        <div class="subtitle">{{'newssubtopic'|translate}}</div>
      </div>
      <div class="default-form subscribe-form-two">
        <form method="post" action="contact.html">
          <div class="row clearfix">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="text" name="field-name" placeholder="{{'yourname'|translate}}" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="email" name="field-name" placeholder="{{'email'|translate}}" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-12 col-sm-12">
              <button type="submit" class="theme-btn btn-style-three"><span class="btn-title">{{'subnow'|translate}}</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon flaticon-back"></span></div>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script src="assets/js/jquery.fancybox.js"></script>
<script src="assets/js/validate.js"></script>
<script src="assets/js/appear.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/scrollbar.js"></script>
<script src="assets/js/element-in-view.js"></script>
<script src="assets/js/custom-script.js"></script>
<!--Google Map-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHJe2MPH8B-gLzZu5QI0Alc73nvkLuuqQ"></script>
<script src="js/map-script.js"></script>
