<div class="item" *ngIf="!yacht">
  <ngx-skeleton-loader count="2" appearance="circle" class="d-flex justify-content-between" [theme]="{
            height: '700px',
            width: '100%',
            'border-radius': '10px'
            }">
  </ngx-skeleton-loader>
</div>

<section class="yacht-details" *ngIf="yacht">
  <div class="auto-container">

    <div class="main-image-box">
      <figure class="image">
        <img src="{{yacht.images[0].image}}" alt="" title="">
      </figure>
      <div class="caption-box">
        <h2>{{yacht.name}}</h2>
        <div class="info">{{yacht.size}} {{'feet'|translate}}</div>
      </div>
    </div>
    <div class="basic-info clearfix">
      <div class="left-info">
        <div class="icon"><span class="flaticon-gas"></span></div>
        <div class="p-title">{{'price'|translate}} / {{'hour'|translate}}</div>
        <div class="p-amount">{{'ead'|translate}} {{yacht.selling_per_hour}}</div>
      </div>

    </div>

    <div class="row clearfix">
      <div class="content-column col-xl-7 col-lg-6 col-md-12 cl-sm-12">
        <div class="inner">
          <ngx-gallery [options]="galleryOptions"
                       [images]="galleryImages"
                       style="height: 500px !important;"
                       class="ngx-gallery d-block w-100 mb-4">
          </ngx-gallery>
        </div>
      </div>


      <div class="specs-column col-xl-5 col-lg-6 col-md-12 cl-sm-12">
        <div class="inner">
          <div class="title-box clearfix">
            <h4>{{yacht.name}} {{yacht.horse_Power}} {{'feet'|translate}}</h4>
          </div>
          <div class="features-list">
            <ul class="list-features row">
              <li class="col-6">
                <span class="icon-wrap">
                  <img src="../../../assets/images/icons/captain-cap.svg" style="width: 45px !important;">
                </span> {{yacht.no_of_captain}} {{'captain'|translate}}
              </li>
              <li class="col-6"><span class="icon-wrap"><img
                src="../../../assets/images/icons/long.png"></span> {{yacht.size}} {{'feet'|translate}}</li>
              <li class="col-6"><span class="icon-wrap"><img
                src="../../../assets/images/icons/people.png"></span> {{'max'|translate}}
                : {{yacht.passenger_capacity}} {{'people'|translate}} </li>
              <li class="col-6"><span class="icon-wrap"><img
                src="../../../assets/images/icons/bed.png"></span> {{'beds'|translate}}: {{yacht.beds}}</li>
              <li class="col-6" *ngIf="yacht.safety_equipment==true"><span class="icon-wrap"><img
                src="../../../assets/images/icons/safety.png"></span> {{'t43'|translate}}</li>
              <li class="col-6" *ngIf="yacht.soft_drinks_refreshments==true"><span class="icon-wrap"><img
                src="../../../assets/images/icons/drink.png"></span> {{'t44'|translate}}</li>
              <li class="col-6" *ngIf="yacht.ice_tea_water==true"><span class="icon-wrap"><img
                src="../../../assets/images/icons/tea.png"></span> {{'t45'|translate}}</li>
              <li class="col-6" *ngIf="yacht.DVD_player==true"><span class="icon-wrap"><img
                src="../../../assets/images/icons/dvd.png"></span> {{'t46'|translate}}</li>
              <li class="col-6" *ngIf="yacht.spacious_saloon==true"><span class="icon-wrap"><img
                src="../../../assets/images/icons/Sofa.png"></span> {{'t47'|translate}}</li>
              <li class="col-6" *ngIf="yacht.BBQ_grill_equipment==true"><span class="icon-wrap"><img
                src="../../../assets/images/icons/BBQ.png"></span> {{'t48'|translate}}</li>
              <li class="col-6" *ngIf="yacht.bathroom_amenities==true"><span class="icon-wrap"><img
                src="../../../assets/images/icons/shower.png"></span> {{'t49'|translate}}</li>
              <li class="col-6" *ngIf="yacht.LED_screen_tv==true"><span class="icon-wrap"><img
                src="../../../assets/images/icons/TV.png"></span> {{'t50'|translate}}</li>
              <li class="col-6" *ngIf="yacht.sunbathing_on_the_foredeck==true"><span class="icon-wrap"><img
                src="../../../assets/images/icons/Sun.png"></span> {{'t51'|translate}}</li>
            </ul>
          </div>
        </div>
        <div class="widget-inner">
          <br>
          <div class="default-form main-booking-form">
            <div>
              <div class="estimate-table" *ngIf="!yacht.yacht_special_price">
                <ul>
                  <li class="totals clearfix"><span class="ttle">{{'price'|translate}}:</span> <span
                    class="dtl">{{'ead'|translate}} {{yacht.selling_per_hour}} / {{'hour'|translate}}</span></li>
                </ul>
              </div>
              <div class="price" style="padding-left: 0px!important;" *ngIf="yacht.yacht_special_price">
                <div style="display: inline-block;padding-left: 5px">
                  <del class="price-old">{{'ead'|translate}} {{yacht.selling_per_hour}}/{{'hour'|translate}}</del>
                </div>
                <div style="display: inline-block; margin-left: 10px;" data-toggle="tooltip" data-html="true" title=""
                     data-original-title="Summer Offer">
                    <span class="blink" style="color: red;font-size: 15px;border-radius: 5px;font-weight: bolder;"><i
                      class="fa fa-info-circle"></i> {{'ead'|translate}} {{yacht.yacht_special_price}}</span>
                </div>
              </div>
              <br>
              <div class="info"><span class="icon flaticon-wall-clock"></span> {{'reservationr'|translate}}</div>
              <br>
              <div class="form-group">
                <button type="button"
                        (click)="openBooking()"
                        class="theme-btn">
                  <span class="btn-title">
                    {{ 'booknow' | translate }}
                  </span>
                </button>
              </div>

            </div>
            <!--            <div class="instruction">Do you need suggestion pls contact our expert team.</div>-->
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="text-block mb-3">
          <h4>{{'whatinclude'|translate}}</h4>
          <p [innerHTML]="yacht.what_is_included"></p>
        </div>

        <div class="text-block mb-3">
          <h4>{{'fac'|translate}}</h4>
          <p [innerHTML]="yacht.facilities"></p>
        </div>

        <div class="text-block mb-3">
          <h4>{{'whatexpect'|translate}}</h4>
          <p [innerHTML]="yacht.what_expect_description"></p>
        </div>

        <app-destinations-specification [yacht]="yacht"></app-destinations-specification>
      </div>
    </div>

  </div>
</section>
<!--<app-destination></app-destination>-->


<!--Services Section Three-->
<section class="services-section-three mt-4">
  <div class="main-image-layer" style="background-image:url(../../../assets/images/background/image-13.jpg);"></div>

  <div class="upper-row">
    <div class="image-layer" style="background-image:url(../../../assets/images/background/image-14.jpg);"></div>
    <div class="auto-container">
      <div class="row clearfix">
      </div>
    </div>
  </div>

  <div class="lower-row">
    <div class="auto-container">
      <div class="process-container">
        <div class="row clearfix">
          <!--Block-->
          <div class="process-block col-lg-4 col-md-12 col-sm-12">
            <div class="inner-box">
              <div class="inner">
                <div class="count"><span>01</span></div>
                <div class="title-box">
                  <h4>{{'chooseyacht'|translate}}</h4>
                </div>
                <div class="text">{{'t9'|translate}}</div>
              </div>
            </div>
          </div>
          <!--Block-->
          <div class="process-block col-lg-4 col-md-12 col-sm-12">
            <div class="inner-box">
              <div class="inner">
                <div class="count"><span>02</span></div>
                <div class="title-box">
                  <h4>{{'t9'|translate}}</h4>
                </div>
                <div class="text"> {{'choosecrew'|translate}}</div>
              </div>
            </div>
          </div>
          <!--Block-->
          <div class="process-block col-lg-4 col-md-12 col-sm-12">
            <div class="inner-box">
              <div class="inner">
                <div class="count"><span>03</span></div>
                <div class="title-box">
                  <h4>{{'enjouwithus'|translate}}</h4>
                </div>
                <div class="text">{{'t11'|translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<!--About Section-->
<section class="about-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Left Column-->
      <div class="left-col col-lg-12 col-md-12 col-sm-12">
        <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="upper-row clearfix">
            <div class="image-box">
              <figure class="image"><img src="../../../assets/images/resource/151.jpg" alt="" title=""></figure>
            </div>
            <div class="content">
              <div class="sec-title">
                <div class="upper-text">{{'welcometo'|translate}}</div>
                <h3>{{'boatride'|translate}}! <br>{{'agency'|translate}}</h3>
              </div>
              <div class="video-link">
                <div class="video-thumb">
                  <figure class="image"><img src="../../../assets/images/resource/video-thumb-1.jpg" alt="" title="">
                  </figure>
                  <a href="https://www.youtube.com/watch?v=UHWwQtNqtmk" class="overlink lightbox-image"><span
                    class="icon flaticon-media-play-symbol"></span></a>
                </div>
                <div class="video-title">
                  <a href="https://www.youtube.com/watch?v=UHWwQtNqtmk"
                     class="lightbox-image">{{'watchintro'|translate}}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="lower-content">
            <div *ngIf="lang == 'en'" class="text"><span>E</span>stablished in 1984 power choiceand when nothing
              prevents being able like best management to foresee the pain and trouble that are bound to ensue weakness
              of will, which is the same as saying through shrinking.
            </div>
            <div *ngIf="lang == 'ar'" style="margin-bottom: 5px">تأسس عام 1984 لاختيار السلطة وعندما لا شيء يمنع أن تكون
              قادرًا مثل أفضل إدارة على التنبؤ بالألم والمتاعب التي لا بد أن تؤدي إلى ضعف الإرادة ، وهو نفس القول من
              خلال الانكماش.
            </div>
            <div class="link-box">
              <a href="about.html" class="default-link">
                <span class="icon flaticon-logout"></span>
                <span class="link-text">
                  <a class="link-text" style="color: black" [routerLink]="'/about'">{{'about'|translate}}</a>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

