<section class="section-landing padding-section bg-sea" style="background-image:url(./assets/images/landing/bg/bg-sea.jpg);">

  <div class="container">


    <div class="gallery-wrap row">
      <div class="col-sm-6">
        <img src="assets/images/landing/fishing/gallery3.jpg">
      </div>
      <div class="col-sm-3">
        <img src="assets/images/landing/fishing/gallery7.jpg">
        <img src="assets/images/landing/fishing/gallery8.jpg">
      </div>
      <div class="col-sm-3">
        <img src="assets/images/landing/fishing/gallery5.jpg">
        <img src="assets/images/landing/fishing/gallery4.jpg">
      </div>
    </div>


  </div><!-- container // -->
</section>

<div class="wave-wrap">
  <div class="wave1" style="background-image:url(./assets/images/landing/wave1.png);"></div>
  <div class="wave2" style="background-image:url(./assets/images/landing/wave2.png);"></div>
</div>
