
<section class="page-banner inner-banner-height mb-5">
  <div class="image-layer" style="background-image:url(./assets/Banners/yacht.jpg);"></div>

  <div class="banner-inner">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <h1 class="inner-banner-height-title">{{'yachtRent'|translate}}</h1>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li>
              <a routerLink="/">{{'home'|translate}}</a>
            </li>
            <li>
              {{'yachts'|translate}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Welcome Section-->
<div class="title-row clearfix">
  <div class="sec-title-two centered with-border">
    <div class="upper-text">{{'welcometo'|translate}} {{'boatride'|translate}}</div>
    <h2><strong>{{'YACHT_RENTAL_DUBAI'|translate}}</strong></h2>
    <app-english-text *ngIf="lang == 'en'"></app-english-text>
    <app-arabic-text *ngIf="lang == 'ar'"></app-arabic-text>
    <div class="separator"></div>
  </div>
  <div class="auto-container">
    <div class="item" *ngIf="is_loading">
      <ngx-skeleton-loader count="3" appearance="circle" class="d-flex justify-content-between" [theme]="{
            height: '300px',
            width: '33%',
            'border-radius': '10px'
            }">
      </ngx-skeleton-loader>
    </div>
  </div>

</div>

<!--Rent / Buy Section-->
<section class="rent-buy-section">
  <div class="auto-container">
    <div class="results-row">
      <div class="row clearfix">

        <div class="rental-block mix all russia india service-block col-lg-4 col-md-6 col-sm-12"
             *ngFor="let yacht of yachts">
          <div class="inner-box">

            <div class="image-box" style="background-color: transparent !important;">
              <figure class="image mb-0" style="background-color: transparent !important;">
                <a routerLink="/yachts/{{yacht.slug}}">
                  <div class="offer-info force-rtl">
                    <span>{{yacht.size}} {{ 'ft' | translate }}</span>
                  </div>

                  <img class="object-fit-cover" src="{{yacht.banner_image || firstImage(yacht.images) }}" alt="" title=""></a>
              </figure>

              <div class="price-box">
                <div class="price old-price-container"> {{yacht.selling_per_hour}} {{'ead'|translate}}</div>
                <div class="cycle">
                  {{ 'per_h' | translate }}
                </div>
              </div>
            </div>

            <div class="title-box">
              <div class="more-link-box">
                <a routerLink="/yachts/{{yacht.slug}}" class="theme-btn">{{'viewdetails'|translate}}</a>
              </div>
              <h4><a routerLink="/yachts/{{yacht.slug}}">{{yacht.name}}</a></h4>
            </div>

            <div class="price align-items-center"
                 [class.force-rtl] = "!yacht.apply_vat && lang == 'ar'"
                 [class.d-flex]="yacht.apply_vat && lang == 'ar'"
                 [class.rental-div]="!yacht.apply_vat && lang == 'ar'">
              <div style="display: inline-block" class="old-price-container">
                <small *ngIf="lang == 'en'">From:  </small>
                <del class="price-old" *ngIf="lang == 'en'">{{'ead'|translate}} {{yacht.selling_per_hour}}/{{'hour'|translate}}</del>
                <del class="price-old" *ngIf="lang == 'ar'"> {{yacht.selling_per_hour}} {{'ead'|translate}}/{{'hour'|translate}}</del>
              </div>
              <div *ngIf="yacht.yacht_special_price" style="display: inline-block; margin-left: 10px;"
                   data-toggle="tooltip"
                   data-html="true"
                   title="" class="mx-2 new-price-container"
                   data-original-title="Summer Offer">
                    <span class="blink yacht_special_price" *ngIf="lang == 'en'">
                      <i class="fa fa-info-circle"></i> {{'ead'|translate}} {{yacht.yacht_special_price}}
                    </span>
                <span class="blink yacht_special_price" *ngIf="lang == 'ar'">
                      <i class="fa fa-info-circle"></i> {{yacht.yacht_special_price}} {{'ead'|translate}}
                    </span>
              </div>
              <small *ngIf="yacht.apply_vat" class="label label-warning pull-right" style="color: #fff;">{{'vat'|translate}}</small>
            </div>

            <div class="meta-info">
              <ul class="clearfix" style="margin-bottom: unset!important;">
                <li><a><img src="assets/images/icons/captain.png" style="width: unset!important;" > {{'captain'|translate}}: {{yacht.no_of_captain}}</a></li>
                <li><a><img src="assets/images/icons/crew.png"  style="width: unset!important;">{{'crew'|translate}}: {{yacht.crew_members}}</a></li>
              </ul>
              <ul class="clearfix">
                <li><a><img src="assets/images/icons/users.png" style="width: unset!important;"> {{'people'|translate}}: {{yacht.passenger_capacity}}</a></li>
                <li><a><img src="assets/images/icons/beds.png" style="width: unset!important;"> {{'beds'|translate}}: {{yacht.beds}} </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!--Pagination-->
    </div>
  </div>
</section>



