<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">
  <!-- Responsive Settings -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon flaticon-back"></span></div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/jquery-ui.js"></script>
  <script src="assets/js/jquery.fancybox.js"></script>
  <script src="assets/js/owl.js"></script>
  <script src="assets/js/mixitup.js"></script>
  <script src="assets/js/appear.js"></script>
  <script src="assets/js/wow.js"></script>
  <script src="assets/js/scrollbar.js"></script>
  <script src="assets/js/datetimepicker.js"></script>
  <script src="assets/js/validate.js"></script>
  <script src="assets/js/paroller.js"></script>
  <script src="assets/js/element-in-view.js"></script>
  <script src="assets/js/custom-script.js"></script>
  <script src="assets/plugins/jqueryLazyload/lazyload.min.js" defer="defer"></script>
  <!--Custom -->
  <script type="text/javascript" defer="defer">
    $(document).ready(function () {
      $.smartbanner({
        title: 'Asfar Yachts', // What the title of the app should be in the banner (defaults to <title>)
        author: 'Asfar', // What the author of the app should be in the banner (defaults to <meta name="author"> or hostname)
        price: 'FREE', // Price of the app
        appStoreLanguage: 'us', // Language code for App Store
        inAppStore: 'On the App Store', // Text of price for iOS
        inGooglePlay: 'In Google Play', // Text of price for Android
        inAmazonAppStore: 'In the Amazon Appstore',
        inWindowsStore: 'In the Windows Store', // Text of price for Windows
        GooglePlayParams: null, // Aditional parameters for the market
        icon: "https://asfaryacht.com/app-logo.png", // The URL of the icon (defaults to <meta name="apple-touch-icon">)
        iconGloss: null, // Force gloss effect for iOS even for precomposed
        url: null, // The URL for the button. Keep null if you want the button to link to the app store.
        button: 'VIEW', // Text for the install button
        scale: 'auto', // Scale based on viewport size (set to 1 to disable)
        speedIn: 300, // Show animation speed of the banner
        speedOut: 400, // Close animation speed of the banner
        daysHidden: 15, // Duration to hide the banner after being closed (0 = always show banner)
        daysReminder: 0, // Duration to hide the banner after "VIEW" is clicked *separate from when the close button is clicked* (0 = always show banner)
        force: null, // Choose 'ios', 'android' or 'windows'. Don't do a browser check, just always show this banner
        hideOnInstall: false, // Hide the banner after "VIEW" is clicked.
        layer: false, // Display as overlay layer or slide down the page
        iOSUniversalApp: true, // If the iOS App is a universal app for both iPad and iPhone, display Smart Banner to iPad users, too.
        appendToSelector: 'body', //Append the banner to a specific selector
        onInstall: function () {
          // alert('Click install');
        },
        onClose: function () {
          // alert('Click close');
        }
      })
    });
  </script>
  <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.eu01.nr-data.net","licenseKey":"NRJS-a04c0ca014d43c50c00","applicationID":"47857931","transactionName":"MhBSZQoZWEdYAUUNVwtacVIMEVlaFgtfAF0d","queueTime":0,"applicationTime":72,"atts":"HldRE0IDS0k=","errorBeacon":"bam.eu01.nr-data.net","agent":""}</script>

</head>
<ngx-ui-loader></ngx-ui-loader>
<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'over'"  [position]="'end'">
    <section>
      <!-- Hidden Bar Wrapper -->
      <div class="hidden-bar-wrapper">
        <div class="hidden-bar-closer">
          <button (click)="drawer.close()"><span class="flaticon-letter-x"></span></button>
        </div>
        <div class="logo">
          <a [routerLink]="'/'"><img src="assets/images/logo-two.png" alt="" /></a>
        </div>
        <div class="content-box">
          <h3>{{'getintouch'|translate}}</h3>
          <div class="text">{{'t8'|translate}}</div>
          <a [routerLink]="'/yachts'" class="theme-btn btn-style-two"><div class="btn-title">{{'booknow'|translate}}</div></a>
        </div>
        <div class="contact-info mt-5">
          <h2 style="color: white">{{'contact'|translate}}</h2>
          <ul class="list-style-two">
            <li><span class="icon"><i class="fas fa-map-marker-alt"></i></span>{{'addressboat'|translate}}</li>
            <li><span class="icon"><i class="fas fa-phone-alt"></i></span><a href="tel:+971524918686">+971 52 491 8686</a></li>
            <li><span class="icon fa fa-envelope-open"></span> <a href="mailto:info@boatsride.com">info@boatsride.com</a></li>
            <li><span class="icon fa fa-clock"></span>{{'weakdays'|translate}}: 09:00am to 03:00am  </li>
          </ul>
        </div>
      </div><!-- / Hidden Bar Wrapper -->

    </section>
  </mat-drawer>

<!--  <mat-drawer #drawermobile [mode]="'over'"  [position]="'end'">-->



<!--      <nav class="menu-box">-->
<!--        <div class="nav-logo"><a href="index.html"><img src="assets/images/nav-logo.png" alt="" title=""></a></div>-->
<!--        <div class="menu-outer">-->
<!--          <nav class="main-menu navbar-expand-md navbar-light">-->
<!--            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">-->
<!--              <ul class="navigation clearfix">-->
<!--                <li class="sub-menu"><a routerLink="">Home</a></li>-->
<!--                <li class="sub-menu"><a routerLink="about">About</a></li>-->
<!--                <li class="sub-menu"><a routerLink="yachts">Yacht Rent</a></li>-->
<!--                <li class="sub-menu"><a routerLink="watersports">Water Sports</a>-->
<!--                <li class="sub-menu"><a routerLink="fishing-trip">Fishing Trip</a></li>-->
<!--                <li class="sub-menu"><a routerLink="services">Services</a></li>-->
<!--                <li class="sub-menu"><a routerLink="blogs">Blogs</a></li>-->
<!--                <li class="sub-menu"><a routerLink="destination">Destinations</a></li>-->
<!--                <li class="sub-menu"><a routerLink="offers">Offers</a></li>-->
<!--                <li class="sub-menu"><a routerLink="contact">Contact</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </nav>-->
<!--        </div>-->
<!--        &lt;!&ndash;Social Links&ndash;&gt;-->
<!--        <div class="social-links">-->
<!--          <ul class="clearfix">-->
<!--            <li><a href="#"><span class="fab fa-twitter"></span></a></li>-->
<!--            <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>-->
<!--            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>-->
<!--            <li><a href="#"><span class="fab fa-instagram"></span></a></li>-->
<!--            <li><a href="#"><span class="fab fa-youtube"></span></a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </nav>-->

<!--  </mat-drawer>-->

  <mat-drawer-content>
    <app-secondry-header *ngIf="!isHome" [drawer]="drawer"></app-secondry-header>
    <app-header *ngIf="isHome" [drawer]="drawer"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
