<section aria-label="destination">
  <h4 class="title-detail">
    <span>
      {{ 'Destinations' | translate | uppercase }}
    </span>
  </h4>
  <ul class="list-location row">
    <li class="col-sm-6 mb-3">
      {{ 'DESTINATION_PLACES.DUBAI_MARINA' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'DESTINATION_PLACES.JUMERIAH_BEACH_RESIDENCE' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'DESTINATION_PLACES.BLUEWATER_ISLAND' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'DESTINATION_PLACES.ONE_&_ONLY_THE_PALM' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'DESTINATION_PLACES.ZABEEL_SARAY' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'DESTINATION_PLACES.Kempinski_hotel' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 't37' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'DESTINATION_PLACES.ATLANTIS_HOTEL' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'DESTINATION_PLACES.WALDORF_ASTORIA' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'DESTINATION_PLACES.RIXOS_THE_PALM' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 't38' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'DESTINATION_PLACES.JUMEIRAH_BEACH_HOTEL' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 't40' | translate | titlecase }}
    </li>
  </ul>
</section>


<section aria-label="SPECIFICATIONS">
  <h4 class="title-detail">
    <span>
      {{ 'SPECIFICATIONS.SPECIFICATION' | translate | uppercase }}
    </span>
  </h4>
  <ul class="list-bullet row">
    <li class="col-sm-6 mb-3">
      {{ 'SPECIFICATIONS.LENGTH' | translate | titlecase }}: {{ yacht.size }} {{'feet'|translate}}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'SPECIFICATIONS.HEIGHT' | translate | titlecase }}
      : {{ yacht.length }} {{ 'SPECIFICATIONS.Meter' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'SPECIFICATIONS.BEAM' | translate | titlecase }}
      : {{ yacht.beam }} {{ 'SPECIFICATIONS.Meter' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'SPECIFICATIONS.CRUSING_SPEED' | translate | titlecase }}
      : {{ yacht.cruising_speed }} {{ 'SPECIFICATIONS.KNOTS' | translate | titlecase }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'SPECIFICATIONS.YEAR' | translate | titlecase }}: 2013
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'SPECIFICATIONS.MANUFACTURER' | translate | titlecase }}: {{ yacht.manufacturer }}
    </li>
    <li class="col-sm-6 mb-3">
      {{ 'SPECIFICATIONS.MODEL' | translate | titlecase }}: Majesty 56
    </li>
  </ul>
</section>
