<nav class="main-menu navbar navbar-expand-lg auto-container" style="background: #ffff">
  <div class="logo-box navbar-brand">
    <div class="logo">
      <a href="../../../index.html" title="Sailing - Water Sports HTML Template">
        <img src="../../../assets/images/logo-three.png"
             alt="Sailing - Water Sports HTML Template"
             title="Sailing - Water Sports HTML Template"  style="height: 50px">
      </a>
    </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navigation clearfix navbar-nav mr-auto">
      <li class="sub-menu"><a [routerLink]="''">Home</a></li>
      <li class="sub-menu"><a [routerLink]="'/about'">About</a></li>
      <li class="sub-menu"><a [routerLink]="'/yachts'">Yacht Rent</a>
      </li>
      <li class="sub-menu"><a [routerLink]="'/water-sports'">Water Sports</a>
      <li class="sub-menu"><a [routerLink]="'/fishing-trip'">Fishing Trip</a>
      </li>
      <li class="sub-menu"><a [routerLink]="'/destination'">Destinations</a>
      </li>
      <li class="sub-menu"><a [routerLink]="'/blogs'">Blogs</a>
      </li>
      <li class="sub-menu"><a [routerLink]="'/offers'">Offers</a></li>
      <li class="sub-menu"><a [routerLink]="'/services'">Services</a></li>
      <li class="sub-menu"><a [routerLink]="'/contact'">Contact</a></li>
    </ul>
    <div class="header-upper d-md-block d-none">
      <div class="max-nav-toggler">
        <button class="theme-btn toggle-btn"><span class="flaticon-menu-5"></span></button>
      </div>
    </div>
  </div>
</nav>
