<!--Widget-->
<div class="tour-widget recommended-widget carousel-widget">
  <div class="widget-inner">
    <div class="tour-widget-title"><h4>{{'rec'|translate}}</h4></div>
    <carousel *ngIf="isBrowser" [margin]="20" [height]="300" [cellWidth]="300" [cellsToShow]="1" [arrows]="false"
              [autoplay]="true" [dots]="true" [arrowsOutside]="true" [transitionDuration]="100">
      <div class="carousel-cell">
        <div class="recommend-block">
          <div class="inner">
            <div class="pricing">
              <div class="price">
                <!--                            <div class="price-title">From</div>-->
                <div class="unit"><span>{{'ead'|translate}} 199</span></div>
              </div>
            </div>
            <div class="image-box">
              <a href="yacht-tour-single.html"><img src="assets/images/resource/31 - Copy.jpeg" alt=""
                                                    title=""></a>
            </div>
            <div class="content">
              <h4><a href="yacht-tour-single.html">Dinner Cruise </a></h4>
              <div class="info">
                <ul class="clearfix">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="recommend-block">
          <div class="inner">
            <div class="pricing">
              <div class="price">
                <!--                            <div class="price-title">From</div>-->
                <div class="unit"><span> {{'ead'|translate}} 199</span></div>
              </div>
            </div>
            <div class="image-box">
              <a href="yacht-tour-single.html"><img src="assets/images/resource/31 - Copy.jpeg" alt=""
                                                    title=""></a>
            </div>
            <div class="content">
              <h4><a href="yacht-tour-single.html">Dinner Cruise </a></h4>
              <div class="info">
                <ul class="clearfix">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </carousel>
  </div>

</div>
