<div class="tour-widget offers-widget">
  <div class="widget-inner">
    <div class="tour-widget-title"><h4>{{'bestoffers'|translate}}</h4></div>

    <!--Post-->
    <div class="post">
      <div class="post-inner">
        <div class="post-thumb">
          <a href="#"><img src="assets/images/resource/54.png" alt="" title=""></a>
          <div class="off-price">-40%</div>
        </div>
        <h5><a href="#">JetPack</a></h5>
        <div class="info"><span class="icon flaticon-wall-clock"></span>{{'reservationr'|translate}}</div>
        <div class="price"><span class="new">{{'ead'|translate}} 499</span> <span class="original">{{'ead'|translate}} 650</span></div>
      </div>
    </div>

    <!--Post-->
    <div class="post">
      <div class="post-inner">
        <div class="post-thumb">
          <a href="#"><img src="assets/images/resource/55.jpg" alt="" title=""></a>
          <div class="off-price">-40%</div>
        </div>
        <h5><a href="#">Jet Ski</a></h5>
        <div class="info"><span class="icon flaticon-wall-clock"></span> Duration: 4D + 5N</div>
        <div class="price"><span class="new">{{'ead'|translate}} 499</span> <span class="original">{{'ead'|translate}} 650</span></div>
      </div>
    </div>

    <!--Post-->
    <div class="post">
      <div class="post-inner">
        <div class="post-thumb">
          <a href="#"><img src="assets/images/resource/56.jpg" alt="" title=""></a>
          <div class="off-price">-40%</div>
        </div>
        <h5><a href="#">Water Shark </a></h5>
        <div class="info"><span class="icon flaticon-wall-clock"></span>{{'reservationr'|translate}}</div>
        <div class="price"><span class="new">{{'ead'|translate}} 499</span> <span class="original">{{'ead'|translate}} 650</span></div>
      </div>
    </div>
    <!--Post-->
    <div class="post">
      <div class="post-inner">
        <div class="post-thumb">
          <a href="#"><img src="assets/images/resource/57.jpg" alt="" title=""></a>
          <div class="off-price">-40%</div>
        </div>
        <h5><a href="#">Sea Bob </a></h5>
        <div class="info"><span class="icon flaticon-wall-clock"></span>{{'reservationr'|translate}}</div>
        <div class="price"><span class="new">{{'ead'|translate}} 499</span> <span class="original">{{'ead'|translate}} 650</span></div>
      </div>
    </div>

  </div>
</div>
