<app-secondry-header></app-secondry-header>
<!--Page Title-->
<section class="page-banner">
  <div class="image-layer" style="background-image:url(./assets/images/resource/448.jpeg);"></div>
  <div class="banner-inner">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <br><br><br><br><br><br>
        <h1>Additional Services</h1>
        <br><br><br>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li><a href="index.html">Home</a></li>
            <li><a href="yacht-rent.html">Yacht</a></li>
            <li>Additional Services</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
<!--End Banner Section -->


<!--Yacht Tours Section-->
<section class="yacht-tours-container">
  <div class="auto-container">
    <div class="main-title"><h3>Additional Services</h3></div>
    <div class="default-form yacht-search-form">
      <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/yacht-tour-single.html">
        <div class="row clearfix">

        </div>
      </form>
    </div>

    <div class="content-container">
      <div class="row clearfix">
        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">
          <div class="content-inner">
            <div class="lower-filter-row clearfix">
              <div class="results-count">
                <span></span>
              </div>


            </div>

            <div class="results-row">
              <!--Activity Block-->
              <div class="activity-block-two">
                <div class="inner-box clearfix">
                  <div class="image-layer" style="background-image:url(./assets/images/resource/46.jpeg);"></div>

                  <div class="image-box">
                    <a href="yacht-decoration.html"><img src="images/resource/46.jpeg" alt="" title=""></a>
                  </div>

                  <div class="content-box">
                    <div class="overlay22" style="height: 310px; margin: -40px;">
                      <div class="content">
                        <h4><a href="yacht-decoration.html">Yachts Decoration</a></h4>
                        <br>
                        <div class="info">
                          <ul class="clearfix">
                            <div class="text">Boats Ride have team of designers and party management specialists to prepare a beautiful decoration for the yacht you request, in order to celebrate your birthday, graduation, etc.. </div>
                          </ul>
                        </div>
                      </div>
                      <div class="ratings">
                        <div class="rate-text"><strong>4.0</strong> <a href="#">[101 Reviews]</a></div>
                        <div class="rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star empty-star"></span>
                        </div>
                      </div>
                      <div class="links-box clearfix">
                        <div class="link">
                          <a href="yacht-decoration.html" class="theme-btn btn-style-two"><span class="btn-title">More Details</span></a>
                          <a href="contact.html" class="theme-btn btn-style-two"><span class="btn-title">Book Now</span></a>
                        </div>
                        <div class="link">
                          <div class="info-btn-box">
                            <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                            <div class="info-panel">
                              <div class="panel-inner">
                                <div class="panel-title">Includes</div>
                                <ul class="panel-list">
                                  <li>Hotel pick-up/drop-off</li>
                                  <li>Free Life Vest</li>
                                  <li>Soft Drinks</li>
                                  <li>Seafood Barbecue</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!--Activity Block-->
              <div class="activity-block-two">
                <div class="inner-box clearfix">
                  <div class="image-layer" style="background-image:url(./assets/images/resource/48.jpeg);"></div>

                  <div class="image-box">
                    <a href="birthday-party-yacht.html"><img src="assets/images/resource/48.jpeg" alt="Birthday Party" title=""></a>
                  </div>

                  <div class="content-box">
                    <div class="overlay22" style="height: 310px; margin: -40px;">

                      <div class="content">
                        <h4><a href="birthday-party-yacht.html">Birthday Party </a></h4>
                        <br>
                        <div class="info">
                          <ul class="clearfix">
                            <div class="text">Contact our charter experts now to help you with all aspects of your event plan. From food menu choices, themes to music and games, we can make you spend a birthday you will never forget!</div>
                          </ul>
                        </div>
                      </div>
                      <div class="ratings">
                        <div class="rate-text"><strong>5.0</strong> <a href="#">[208 Reviews]</a></div>
                        <div class="rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star empty-star"></span>
                        </div>
                      </div>
                      <div class="links-box clearfix">
                        <div class="link">

                          <a href="yacht-decoration.html" class="theme-btn btn-style-two"><span class="btn-title">More Details</span></a>
                          <a href="contact.html" class="theme-btn btn-style-two"><span class="btn-title">Book Now</span></a>
                        </div>
                        <div class="link">
                          <div class="info-btn-box">
                            <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                            <div class="info-panel">
                              <div class="panel-inner">
                                <div class="panel-title">Includes</div>
                                <ul class="panel-list">
                                  <li>Hotel pick-up/drop-off</li>
                                  <li>Free Life Vest</li>
                                  <li>Soft Drinks</li>
                                  <li>Seafood Barbecue</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Activity Block-->
              <div class="activity-block-two">
                <div class="inner-box clearfix">
                  <div class="image-layer" style="background-image:url(./assets/images/resource/49.jpg);"></div>

                  <div class="image-box">
                    <a href="anniversary-and-proposal.html"><img src="assets/images/resource/49.jpg" alt="" title=""></a>
                  </div>

                  <div class="content-box">
                    <div class="overlay22" style="height: 310px; margin: -40px;">

                      <div class="content">
                        <h4><a href="anniversary-and-proposal.html">Anniversary & Proposal</a></h4>
                        <br>
                        <div class="info">
                          <ul class="clearfix">
                            <div class="text"> The yacht proposal and anniversary celebration allows us to provide incredible ideas to turn your tour into an unforgettable day. Book now and let Boats Ride specialists fascinate you!</div>
                          </ul>
                        </div>
                      </div>
                      <div class="ratings">
                        <div class="rate-text"><strong>4.6</strong> <a href="#">[184 Reviews]</a></div>
                        <div class="rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star empty-star"></span>
                        </div>
                      </div>
                      <div class="links-box clearfix">
                        <div class="link">
                          <a href="anniversary-and-proposal.html" class="theme-btn btn-style-two"><span class="btn-title">More Details</span></a>
                          <a href="contact.html" class="theme-btn btn-style-two"><span class="btn-title">Book Now</span></a>
                        </div>
                        <div class="link">
                          <div class="info-btn-box">
                            <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                            <div class="info-panel">
                              <div class="panel-inner">
                                <div class="panel-title">Includes</div>
                                <ul class="panel-list">
                                  <li>Hotel pick-up/drop-off</li>
                                  <li>Free Life Vest</li>
                                  <li>Soft Drinks</li>
                                  <li>Seafood Barbecue</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Activity Block-->
              <div class="activity-block-two">
                <div class="inner-box clearfix">
                  <div class="image-layer" style="background-image:url(./assets/images/resource/51.jpg);"></div>

                  <div class="image-box">
                    <a href="wedding-party.html"><img src="assets/images/resource/51.jpg" alt="" title=""></a>
                  </div>

                  <div class="content-box">
                    <div class="overlay22" style="height: 310px; margin: -40px;">

                      <div class="content">
                        <h4><a href="wedding-party.html">Wedding Party</a></h4>
                        <br>
                        <div class="info">
                          <ul class="clearfix">
                            <div class="text"> Boats Ride provides you with the opportunity to announce your marriage in the most breath-taking atmosphere in the middle of the fascinating ocean. Have an unforgettable wedding night!</div>
                          </ul>
                        </div>
                      </div>
                      <div class="ratings">
                        <div class="rate-text"><strong>5.0</strong> <a href="#">[221 Reviews]</a></div>
                        <div class="rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star empty-star"></span>
                        </div>
                      </div>
                      <div class="links-box clearfix">
                        <div class="link">
                          <a href="wedding-party.html" class="theme-btn btn-style-two"><span class="btn-title">More Details </span></a>
                          <a href="contact.html" class="theme-btn btn-style-two"><span class="btn-title">Book Now</span></a>
                        </div>
                        <div class="link">
                          <div class="info-btn-box">
                            <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                            <div class="info-panel">
                              <div class="panel-inner">
                                <div class="panel-title">Includes</div>
                                <ul class="panel-list">
                                  <li>Hotel pick-up/drop-off</li>
                                  <li>Free Life Vest</li>
                                  <li>Soft Drinks</li>
                                  <li>Seafood Barbecue</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Activity Block-->
              <div class="activity-block-two">
                <div class="inner-box clearfix">
                  <div class="image-layer" style="background-image:url(./assets/images/resource/81.jpg);"></div>

                  <div class="image-box">
                    <a href="new-year-party.html"><img src="assets/images/resource/81.jpg" alt="" title=""></a>
                  </div>

                  <div class="content-box">
                    <div class="overlay22" style="height: 310px; margin: -40px;">

                      <div class="content">
                        <h4><a href="new-year-party.html">New Year Party</a></h4>
                        <br>
                        <div class="info">
                          <ul class="clearfix">
                            <div class="text">Enjoy a water slide awaits you on one of our yachts Our boats and yachts are now equipped with great water sports in Dubai and water skiing in Dubai to get more fun and excitement.</div>
                          </ul>
                        </div>
                      </div>
                      <div class="ratings">
                        <div class="rate-text"><strong>5.0</strong> <a href="#">[221 Reviews]</a></div>
                        <div class="rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star empty-star"></span>
                        </div>
                      </div>
                      <div class="links-box clearfix">
                        <div class="link">
                          <a href="new-year-party.html" class="theme-btn btn-style-two"><span class="btn-title">More Details</span></a>
                          <a href="contact.html" class="theme-btn btn-style-two"><span class="btn-title">Book Now</span></a>
                        </div>
                        <div class="link">
                          <div class="info-btn-box">
                            <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                            <div class="info-panel">
                              <div class="panel-inner">
                                <div class="panel-title">Includes</div>
                                <ul class="panel-list">
                                  <li>Hotel pick-up/drop-off</li>
                                  <li>Free Life Vest</li>
                                  <li>Soft Drinks</li>
                                  <li>Seafood Barbecue</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Activity Block-->
              <div class="activity-block-two">
                <div class="inner-box clearfix">
                  <div class="image-layer" style="background-image:url(./assets/images/resource/82.jpg);"></div>

                  <div class="image-box">
                    <a href="yacht-tour-single.html"><img src="images/resource/82.jpg" alt="" title=""></a>
                  </div>

                  <div class="content-box">
                    <div class="overlay22" style="height: 310px; margin: -40px;">

                      <div class="content">
                        <h4><a href="lunsh-dinner-party.html">Lunsh & Dinner Party  </a></h4>
                        <br>
                        <div class="info">
                          <ul class="clearfix">
                            <div class="text">Enjoy a water slide awaits you on one of our yachts Our boats and yachts are now equipped with great water sports in Dubai and water skiing in Dubai to get more fun and excitement.</div>
                          </ul>
                        </div>
                      </div>
                      <div class="ratings">
                        <div class="rate-text"><strong>5.0</strong> <a href="#">[221 Reviews]</a></div>
                        <div class="rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star empty-star"></span>
                        </div>
                      </div>
                      <div class="links-box clearfix">
                        <div class="link">
                          <a href="lunsh-dinner-party.html" class="theme-btn btn-style-two"><span class="btn-title">More Details</span></a>
                          <a href="contact.html" class="theme-btn btn-style-two"><span class="btn-title">Book Now</span></a>
                        </div>
                        <div class="link">
                          <div class="info-btn-box">
                            <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                            <div class="info-panel">
                              <div class="panel-inner">
                                <div class="panel-title">Includes</div>
                                <ul class="panel-list">
                                  <li>Hotel pick-up/drop-off</li>
                                  <li>Free Life Vest</li>
                                  <li>Soft Drinks</li>
                                  <li>Seafood Barbecue</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Activity Block-->
              <div class="activity-block-two">
                <div class="inner-box clearfix">
                  <div class="image-layer" style="background-image:url(./assets/images/resource/53.png);"></div>

                  <div class="image-box">
                    <a href="vip-party.html"><img src="assets/images/resource/53.png" alt="" title=""></a>
                  </div>

                  <div class="content-box">
                    <div class="overlay22" style="height: 310px; margin: -40px;">

                      <div class="content">
                        <h4><a href="vip-party.html">VIP Party</a></h4>
                        <br>
                        <div class="info">
                          <ul class="clearfix">
                            <div class="text"> Boats Ride is a well-known name in the yachting industry in Dubai for its hospitality. We utterly realise our clients’ desires when they hire our extravagant yachts to hold a VIP Party.</div>
                          </ul>
                        </div>
                      </div>
                      <div class="ratings">
                        <div class="rate-text"><strong>4.5</strong> <a href="#">[184 Reviews]</a></div>
                        <div class="rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star empty-star"></span>
                        </div>
                      </div>
                      <div class="links-box clearfix">
                        <div class="link">
                          <a href="vip-party.html" class="theme-btn btn-style-two"><span class="btn-title">More Details</span></a>
                          <a href="contact.html" class="theme-btn btn-style-two"><span class="btn-title">Book Now</span></a>
                        </div>
                        <div class="link">
                          <div class="info-btn-box">
                            <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                            <div class="info-panel">
                              <div class="panel-inner">
                                <div class="panel-title">Includes</div>
                                <ul class="panel-list">
                                  <li>Hotel pick-up/drop-off</li>
                                  <li>Free Life Vest</li>
                                  <li>Soft Drinks</li>
                                  <li>Seafood Barbecue</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>

          </div>
        </div>



        <!--Widgets Side-->
        <div class="widgets-side col-lg-4 col-md-6 col-sm-12">
          <div class="widgets-content">
            <!--Widget-->
            <div class="divboxes">
              <div class="box1">
                <div class="content1">
                  <a href="https://sirene.ancorathemes.com/services/sailing/" id="sc_services_1061452142_icon-2" class="sc_services_item_icon icon-2"></a>
                  <p class="title">Sailing</p>
                  <p style="width: 200px; margin: auto;">We offer an excellent way to learn the basics of boat sailing.</p>
                </div>
              </div>
              <div class="box2">
                <div class="content1">
                  <a href="https://sirene.ancorathemes.com/services/club/" id="sc_services_1061452142_icon-3" class="sc_services_item_icon icon-3"></a>
                  <p class="title">Club</p>
                  <p style="width: 200px; margin: auto;">Join our premier private yacht club in the Pacific ocean.</p>
                </div>
              </div>
              <div class="box3">
                <div class="content1">
                  <a href="https://sirene.ancorathemes.com/services/diving/" id="sc_services_1310323539_icon-4" class="sc_services_item_icon icon-4"></a>
                  <p class="title">Diving</p>
                  <p style="width: 200px; margin: auto;">All our yachts are equipped with everything divers need.</p>
                </div>
              </div>
              <div class="box4">
                <div class="content1">
                  <a href="https://sirene.ancorathemes.com/services/fishing/" id="sc_services_1062841435_icon-5" class="sc_services_item_icon icon-5"></a>
                  <p class="title">Fishing</p>
                  <p style="width: 200px; margin: auto;">Our yachts are built to explore untouched fishing grounds.</p>
                </div>
              </div>
              <div class="box5">
                <div class="content1">
                  <a href="https://sirene.ancorathemes.com/services/tours/" id="sc_services_1062841435_icon-6" class="sc_services_item_icon icon-6"></a>
                  <p class="title">Tours</p>
                  <p style="width: 200px; margin: auto;">We offer you exclusive yacht tours with professional crew.</p>
                </div>
              </div>



            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<app-yacht-rental></app-yacht-rental>
<app-service-section></app-service-section>
<!--Subscribe Section-->
<section class="subscribe-section style-three">
  <div class="auto-container">
    <div class="inner">
      <div class="image-layer" style="background-image:url(./assets/images/background/image-12.jpg);"></div>
      <div class="title">
        <h4>Subscribe to our newsletter</h4>
        <div class="subtitle">Subscribe & Get Updates in Your Inbox </div>
      </div>
      <div class="default-form subscribe-form-two">
        <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/contact.html">
          <div class="row clearfix">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="text" name="field-name" placeholder="Your Name" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="email" name="field-name" placeholder="Email Address" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-12 col-sm-12">
              <button type="submit" class="theme-btn btn-style-three"><span class="btn-title">Subscribe Now</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<app-secondry-footer></app-secondry-footer>
