<section class="testimonials-section-two direction-left">
    <div class="auto-container">
      <div class="sec-title-two centered with-border">
        <h2 role="button">Our fleet</h2>
        <div class="separator"></div>
      </div>
    </div>
    <div class="auto-container">       
        <p>
          <span [routerLink]="'/yachts/boat-33ft'">33 FEET</span> - <span [routerLink]="'/yachts/mini-yacht-40-feet'">40 FEET</span> - 
          <span [routerLink]="'/yachts/gulf-craft-45ft'">45 FEET yacht rental dubai</span> - <span [routerLink]="'/yachts/majesty-48ft'"> 48 FEET boat rental dubai</span> - 
          <span [routerLink]="'/yachts/48ft-vip'">48 FEET VIP yacht rental dubai marina</span> - <span [routerLink]="'/yachts/majesty-50feet'">50 FEET yacht rentals</span> - 
          <span [routerLink]="'/yachts/50ft-azimot'">50 FEET my cruises for luxury yacht rental dubai</span> - <span [routerLink]="'/yachts/majesty-50ft'">50 FEET luxury yacht rental</span> - 
          <span [routerLink]="'/yachts/azimot-52ft'">52 FEET boat rental</span> - <span [routerLink]="'/yachts/52ft-vip'">52 FEET VIP luxury yacht rental dubai</span> - 
          <span [routerLink]="'/yachts/gulf-craft-55ft'">55 FEET cheap yacht rental dubai</span> - <span [routerLink]="'/yachts/azimut-5feet'"> 55 FEET yacht rental dubai price</span> - 
          <span [routerLink]="'/yachts/majesty-56ft'">56 FEET small yacht rental duba</span> - <span [routerLink]="'/yachts/sunseeker-56ft'">56 FEET best yacht rentals dubai</span> - 
          <span [routerLink]="'/yachts/56feet-searay'">56 FEET boat rental dubai marina</span> - <span [routerLink]="'/yachts/abacus-62ft'">62 FEET marina yacht rental</span> - 
          <span [routerLink]="'/yachts/majesty-63ft'">63 FEET party yacht rental dubai</span> - <span [routerLink]="'/yachts/majesty-63ft'">63 FEET royal blue coast yachts rental</span> - 
          <span [routerLink]="'/yachts/seline-yacht-63ft'">63 FEET boat rental service</span> - <span [routerLink]="'/yachts/sunseeker-64feet-vip'">64 FEET VIP columbus dubai yachts & boats rental</span> - 
          <span [routerLink]="'/yachts/64feet'">64 FEET cheap yacht rental dubai marina</span> - <span [routerLink]="'/yachts/66feet-majesty'">66 FEET private yacht rental dubai</span> - 
          <span [routerLink]="'/yachts/ferrette-67ft-vip-yacht-charter'">67 FEET yacht rental dubai marina price</span> - <span [routerLink]="'/yachts/nuvari-68ft'">68 FEET cheap boat rental dubai</span> - 
          <span [routerLink]="'/yachts/gulf-craft-71ft'">71 FEET day & night passenger yachts & boats rental</span> - <span [routerLink]="'/yachts/72ft-vip-princess'">72 FEET VIP best boat club and rentals</span> - 
          <span [routerLink]="'/yachts/tisck-72ft-yacht-water-slide-rentals'">72 FEET party cruise dubai charter yacht rental dubai</span> - <span [routerLink]="'/yachts/majesty-ruby-75ft'">75 FEET yacht vacation rentals</span> - 
          <span [routerLink]="'/yachts/77-feet'">77 FEET 1 day yacht rentals</span> - <span [routerLink]="'/yachts/galleon-78feet'">78 FEET yacht party rentals long beach</span> - 
          <span [routerLink]="'/yachts/ferrette-78ft-vip-yacht'">68 FEET VIP  yacht party rentals long beach</span> - <span [routerLink]="'/yachts/azimut-with-jacuzzi-80ft'">80 FEET rental yacht</span> - 
          <span [routerLink]="'/yachts/duretti-80ft-with-jacuzzi'">80 FEET dubai fishing boat rental</span> - <span [routerLink]="'/yachts/pershing-8x-vip'">80 FEET VIP</span> - 
          <span [routerLink]="'yachts/al-shali-80feet'">80 FEET</span> - <span [routerLink]="'/yachts/sky1-80ft-vip'">80 FEET VIP</span> - 
          <span [routerLink]="'/yachts/san-lorenzo'">82 FEET</span> - <span [routerLink]="'/yachts/abu-mubarak-with-jacuzzi-85ft'">85 FEET</span> - 
          <span [routerLink]="'/yachts/majesty-88ft'">88 FEET</span> - <span [routerLink]="'/yachts/90ft'">90 FEET</span> - 
          <span [routerLink]="'/yachts/party-yacht-gugu'">90 FEET</span> - <span [routerLink]="'/yachts/haigan-vip-with-jacuzzi-90ft'">90 FEET</span> - 
          <span [routerLink]="'/yachts/95ft-with-jacuzzi'">95 FEET</span> - <span [routerLink]="'/yachts/sunseeker-predator-95ft'">95 FEET</span> - 
          <span [routerLink]="'/yachts/black-diamond-101ft'">101 FEET</span> - <span [routerLink]="'/yachts/vip-kona-110ft-with-jacuzzi'">101 FEET</span> - 
          <span [routerLink]="'/yachts/141feet'"> 141 FEET</span> - <span [routerLink]="'/yachts/mini-yacht-40-feet'">40 FEET</span> - 
          <span [routerLink]="'/yachts/boat-33ft'">33 FEET</span> - <span [routerLink]="'/yachts/ocean-empress-dinner-cruise'">150 FEET</span> 
        </p>
    </div>
  </section>