<section class="destinations-two">

  <div class="map-layer" style="background-image: url(./assets/images/background/map-image.png);"></div>

  <div class="auto-container">
    <div class="sec-title centered">
      <div class="upper-text">What are you dreaming of?</div>
      <h2>Popular <strong>Destinations</strong></h2>
    </div>

    <!--Packages-->
    <carousel [margin]="20" [height]="600" [cellWidth]="400" [cellsToShow]="numberofcells"
              [autoplay]="true" [dots]="true" [arrowsOutside]="true" [transitionDuration]="100">
      <div class="carousel-cell">
        <div class="popular-packages">
          <div class="packages-box">
            <div class="row clearfix">
              <!--Package Block-->
              <div class="auto-container">

                <!--Services Carousel-->

                <div class="package-block service-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="inner-box clearfix">
                    <div class="image-box">
                      <img src="assets/images/resource/23.jpg" alt="" title="">
                      <div class="hover-box">
                        <div class="hover-link">
                          <a href="#" class="default-link">
                            <span class="icon flaticon-logout"></span>
                            <span class="link-text">Check Availability</span>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="content-box">
                      <div class="content">
                        <div class="package-title"><a href="#">Palm Jumeirah</a></div>
                        <div class="ratings clearfix">
                          <div class="rate">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <div class="rate-text"><strong>4.5</strong> <a href="#">[256 Reviews]</a></div>
                        </div>
                        <div class="info">
                          <ul class="clearfix">
                            <li><span class="icon flaticon-wall-clock"></span> Reservations: 24 / 7</li>
                          </ul>
                        </div>
                        <div class="links-box clearfix">
                          <div class="link">
                            <div class="info-btn-box">
                              <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                              <div class="info-panel">
                                <div class="panel-inner">
                                  <div class="panel-title">Includes</div>
                                  <ul class="panel-list">
                                    <li>Hotel pick-up/drop-off</li>
                                    <li>Free Life Vest</li>
                                    <li>Soft Drinks</li>
                                    <li>Seafood Barbecue</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="popular-packages">
          <div class="packages-box">
            <div class="row clearfix">
              <!--Package Block-->
              <div class="auto-container">

                <!--Services Carousel-->

                <div class="package-block service-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="inner-box clearfix">
                    <div class="image-box">
                      <img src="assets/images/resource/23.jpg" alt="" title="">
                      <div class="hover-box">
                        <div class="hover-link">
                          <a href="#" class="default-link">
                            <span class="icon flaticon-logout"></span>
                            <span class="link-text">Check Availability</span>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="content-box">
                      <div class="content">
                        <div class="package-title"><a href="#">Palm Jumeirah</a></div>
                        <div class="ratings clearfix">
                          <div class="rate">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <div class="rate-text"><strong>4.5</strong> <a href="#">[256 Reviews]</a></div>
                        </div>
                        <div class="info">
                          <ul class="clearfix">
                            <li><span class="icon flaticon-wall-clock"></span> Reservations: 24 / 7</li>
                          </ul>
                        </div>
                        <div class="links-box clearfix">
                          <div class="link">
                            <div class="info-btn-box">
                              <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                              <div class="info-panel">
                                <div class="panel-inner">
                                  <div class="panel-title">Includes</div>
                                  <ul class="panel-list">
                                    <li>Hotel pick-up/drop-off</li>
                                    <li>Free Life Vest</li>
                                    <li>Soft Drinks</li>
                                    <li>Seafood Barbecue</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="popular-packages">
          <div class="packages-box">
            <div class="row clearfix">
              <!--Package Block-->
              <div class="auto-container">

                <!--Services Carousel-->

                <div class="package-block service-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="inner-box clearfix">
                    <div class="image-box">
                      <img src="assets/images/resource/23.jpg" alt="" title="">
                      <div class="hover-box">
                        <div class="hover-link">
                          <a href="#" class="default-link">
                            <span class="icon flaticon-logout"></span>
                            <span class="link-text">Check Availability</span>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="content-box">
                      <div class="content">
                        <div class="package-title"><a href="#">Palm Jumeirah</a></div>
                        <div class="ratings clearfix">
                          <div class="rate">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <div class="rate-text"><strong>4.5</strong> <a href="#">[256 Reviews]</a></div>
                        </div>
                        <div class="info">
                          <ul class="clearfix">
                            <li><span class="icon flaticon-wall-clock"></span> Reservations: 24 / 7</li>
                          </ul>
                        </div>
                        <div class="links-box clearfix">
                          <div class="link">
                            <div class="info-btn-box">
                              <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                              <div class="info-panel">
                                <div class="panel-inner">
                                  <div class="panel-title">Includes</div>
                                  <ul class="panel-list">
                                    <li>Hotel pick-up/drop-off</li>
                                    <li>Free Life Vest</li>
                                    <li>Soft Drinks</li>
                                    <li>Seafood Barbecue</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="popular-packages">
          <div class="packages-box">
            <div class="row clearfix">
              <!--Package Block-->
              <div class="auto-container">

                <!--Services Carousel-->

                <div class="package-block service-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="inner-box clearfix">
                    <div class="image-box">
                      <img src="assets/images/resource/23.jpg" alt="" title="">
                      <div class="hover-box">
                        <div class="hover-link">
                          <a href="#" class="default-link">
                            <span class="icon flaticon-logout"></span>
                            <span class="link-text">Check Availability</span>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="content-box">
                      <div class="content">
                        <div class="package-title"><a href="#">Palm Jumeirah</a></div>
                        <div class="ratings clearfix">
                          <div class="rate">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <div class="rate-text"><strong>4.5</strong> <a href="#">[256 Reviews]</a></div>
                        </div>
                        <div class="info">
                          <ul class="clearfix">
                            <li><span class="icon flaticon-wall-clock"></span> Reservations: 24 / 7</li>
                          </ul>
                        </div>
                        <div class="links-box clearfix">
                          <div class="link">
                            <div class="info-btn-box">
                              <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                              <div class="info-panel">
                                <div class="panel-inner">
                                  <div class="panel-title">Includes</div>
                                  <ul class="panel-list">
                                    <li>Hotel pick-up/drop-off</li>
                                    <li>Free Life Vest</li>
                                    <li>Soft Drinks</li>
                                    <li>Seafood Barbecue</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="popular-packages">
          <div class="packages-box">
            <div class="row clearfix">
              <!--Package Block-->
              <div class="auto-container">

                <!--Services Carousel-->

                <div class="package-block service-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="inner-box clearfix">
                    <div class="image-box">
                      <img src="assets/images/resource/23.jpg" alt="" title="">
                      <div class="hover-box">
                        <div class="hover-link">
                          <a href="#" class="default-link">
                            <span class="icon flaticon-logout"></span>
                            <span class="link-text">Check Availability</span>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="content-box">
                      <div class="content">
                        <div class="package-title"><a href="#">Palm Jumeirah</a></div>
                        <div class="ratings clearfix">
                          <div class="rate">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <div class="rate-text"><strong>4.5</strong> <a href="#">[256 Reviews]</a></div>
                        </div>
                        <div class="info">
                          <ul class="clearfix">
                            <li><span class="icon flaticon-wall-clock"></span> Reservations: 24 / 7</li>
                          </ul>
                        </div>
                        <div class="links-box clearfix">
                          <div class="link">
                            <div class="info-btn-box">
                              <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                              <div class="info-panel">
                                <div class="panel-inner">
                                  <div class="panel-title">Includes</div>
                                  <ul class="panel-list">
                                    <li>Hotel pick-up/drop-off</li>
                                    <li>Free Life Vest</li>
                                    <li>Soft Drinks</li>
                                    <li>Seafood Barbecue</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="popular-packages">
          <div class="packages-box">
            <div class="row clearfix">
              <!--Package Block-->
              <div class="auto-container">

                <!--Services Carousel-->

                <div class="package-block service-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="inner-box clearfix">
                    <div class="image-box">
                      <img src="assets/images/resource/23.jpg" alt="" title="">
                      <div class="hover-box">
                        <div class="hover-link">
                          <a href="#" class="default-link">
                            <span class="icon flaticon-logout"></span>
                            <span class="link-text">Check Availability</span>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="content-box">
                      <div class="content">
                        <div class="package-title"><a href="#">Palm Jumeirah</a></div>
                        <div class="ratings clearfix">
                          <div class="rate">
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <div class="rate-text"><strong>4.5</strong> <a href="#">[256 Reviews]</a></div>
                        </div>
                        <div class="info">
                          <ul class="clearfix">
                            <li><span class="icon flaticon-wall-clock"></span> Reservations: 24 / 7</li>
                          </ul>
                        </div>
                        <div class="links-box clearfix">
                          <div class="link">
                            <div class="info-btn-box">
                              <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>
                              <div class="info-panel">
                                <div class="panel-inner">
                                  <div class="panel-title">Includes</div>
                                  <ul class="panel-list">
                                    <li>Hotel pick-up/drop-off</li>
                                    <li>Free Life Vest</li>
                                    <li>Soft Drinks</li>
                                    <li>Seafood Barbecue</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </carousel>
  </div>
</section>
