
<section class="page-banner inner-banner-height" *ngIf="blog">
  <div class="image-layer" style="background-image:url(../../../assets/images/background/banner-1.jpg);"></div>

  <div class="banner-inner">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <h1 class="inner-banner-height-title">{{blog.title}}</h1>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li><a href="">{{'home'|translate}}</a></li>
            <li><a href="/blogs">{{'blog'|translate}}</a></li>
            <li>{{blog.title}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="item" *ngIf="!blog">
  <ngx-skeleton-loader count="1" appearance="circle" class="d-flex justify-content-between" [theme]="{
            height: '700px',
            width: '100%',
            'border-radius': '10px'
            }">
  </ngx-skeleton-loader>
</div>

<div class="sidebar-page-container">
  <div class="auto-container">
    <div class="row clearfix">

      <div class="item col-lg-8 col-md-12 col-sm-12" *ngIf="!blog">
        <ngx-skeleton-loader count="1" appearance="circle" class="d-flex justify-content-between" [theme]="{
            height: '700px',
            width: '100%',
            'border-radius': '10px'
            }">
        </ngx-skeleton-loader>
      </div>

      <!--Content Side-->
      <div class="content-side col-lg-8 col-md-12 col-sm-12" *ngIf="blog">
        <div class="blog-content">
          <div class="news-post-details">

            <!--News Block-->
            <div class="news-block-six">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="{{blog.image}}" alt="" title="">
                  </figure>
<!--                  <div class="post-date"><span class="day">10</span><span class="month">Nov</span></div>-->
                </div>
                <div class="content-box">
                  <div class="inner">
                    <div class="content">
                      <div class="meta-info">
                        <ul class="clearfix">
<!--                          <li>-->
<!--                            <span class="icon fa fa-folder-open"></span>-->
<!--                            <a href="#">Boat Ride</a>-->
<!--                          </li>-->
                          <li>
                            <span class="icon fa fa-user"></span>
                            <a href="#">By {{blog.author}}</a>
                          </li>
                        </ul>
                      </div>
                      <h3>
                        {{blog.title}}
                      </h3>
                      <div class="text">
                        <p [innerHTML]="sanitizedContent"></p>
                      </div>

                    </div>
                    <div class="other-info">
                      <div class="add-to-fav">
                        <a href="#"><span class="icon flaticon-heart"></span></a>
                      </div>
                      <div class="add-comment">
                        <a href="#"><span class="icon flaticon-chat-comment-oval-speech-bubble-with-text-lines"></span></a>
                      </div>
                      <div class="share-it">
                        <a class="share-btn" href="#"><span class="icon flaticon-share"></span></a>
                        <div class="share-list">
                          <ul>
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="post-tags clearfix">
                      <div class="tag-title">{{'tag'|translate}}:</div>
                      <a href="#">{{'beauty'|translate}}</a>
                      <a href="#">{{'freestyle'|translate}}</a>
                      <a href="#">{{'photography'|translate}}</a>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            

          </div>
        </div>
      </div>

      <!--Sidebar Side-->
      <!-- <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
        <aside class="sidebar blog-sidebar">
          <div class="sidebar-widget search-box">
            <div class="widget-inner">
              <div class="sidebar-title">
                <h4>{{'search'|translate}}</h4>
              </div>
              <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/blog.html">
                <div class="form-group">
                  <input type="search" name="search-field" value="" placeholder="{{'search'|translate}}.." required="">
                  <button type="submit"><span class="icon flaticon-magnifying-glass"></span></button>
                </div>
              </form>
            </div>
          </div>
          <div class="sidebar-widget archives">
            <div class="widget-inner">
              <div class="sidebar-title">
                <h4>{{'catergories'|translate}}</h4>
              </div>

              <div class="outer clearfix">
                <div class="archive-block">
                  <div class="inner">
                    <div class="image">
                      <img src="../../../assets/images/resource/news-thumb-1.jpg" alt="">
                      <div class="count">10</div>
                    </div>
                    <div class="post-title"><a href="#">{{'sailingr'|translate}}</a></div>
                  </div>
                </div>
                <div class="archive-block">
                  <div class="inner">
                    <div class="image">
                      <img src="../../../assets/images/resource/news-thumb-2.jpg" alt="">
                      <div class="count">12</div>
                    </div>
                    <div class="post-title"><a href="#">{{'travelr'|translate}}</a></div>
                  </div>
                </div>
                <div class="archive-block">
                  <div class="inner">
                    <div class="image">
                      <img src="../../../assets/images/resource/news-thumb-4.jpg" alt="">
                      <div class="count">16</div>
                    </div>
                    <div class="post-title"><a href="#">{{'charet'|translate}}</a></div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="sidebar-widget recent-posts">
            <div class="widget-inner">
              <div class="sidebar-title">
                <h4>{{'trending'|translate}}</h4>
              </div>

              <div class="post">
                <div class="inner">
                  <figure class="post-thumb"><img src="../../../assets/images/resource/news-thumb-5.jpg" alt=""><a href="#" class="overlink"></a></figure>
                  <div class="post-date">June 28, 2019</div>
                  <h5 class="title"><a href="#">Tour With Accomodation</a></h5>
                </div>
              </div>

              <div class="post">
                <div class="inner">
                  <figure class="post-thumb"><img src="../../../assets/images/resource/news-thumb-6.jpg" alt=""><a href="#" class="overlink"></a></figure>
                  <div class="post-date">April 18, 2019</div>
                  <h5 class="title"><a href="#">Cabin or Bareboat Charter?</a></h5>
                </div>
              </div>

              <div class="post">
                <div class="inner">
                  <figure class="post-thumb"><img src="../../../assets/images/resource/news-thumb-7.jpg" alt=""><a href="#" class="overlink"></a></figure>
                  <div class="post-date">Jan 21, 2019</div>
                  <h5 class="title"><a href="#">The Top 5 Destinations</a></h5>
                </div>
              </div>

            </div>
          </div>

          <div class="sidebar-widget popular-tags">
            <div class="widget-inner">
              <div class="sidebar-title">
                <h4>Popular Tags</h4>

              </div>
              <ul class="tags-list clearfix">
                <li><a href="#">{{'beauty'|translate}}</a></li>
                <li><a href="#">{{'freestyle'|translate}}</a></li>
                <li><a href="#">{{'photography'|translate}}</a></li>
              </ul>
            </div>
          </div>

          <div class="sidebar-widget insta-widget">
            <div class="widget-inner">
              <div class="sidebar-title">
                <h4>{{'instgram'|translate}}</h4>
              </div>
              <div class="insta-feeds">
                <div class="outer clearfix">
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="../../../assets/images/gallery/gallery-thumb-9.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="../../../assets/images/gallery/gallery-thumb-10.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="../../../assets/images/gallery/gallery-thumb-11.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="../../../assets/images/gallery/gallery-thumb-12.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="../../../assets/images/gallery/gallery-thumb-13.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="../../../assets/images/gallery/gallery-thumb-14.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </aside>
      </div> -->

    </div>
  </div>
</div>

