<!-- Main Header -->
<header class="main-header header-style-three">
  <!-- Header Top -->
  <div class="header-top header-top-three">
    <div class="auto-container">
      <div class="inner clearfix">
        <div class="top-left clearfix">
          <div class="language">
            <ul class="clearfix">
              <li class="active"><a href="#">En</a></li>
              <li><a href="#">Ar</a></li>
            </ul>
          </div>
          <div class="social-links">
            <ul class="clearfix">
              <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
              <li><a href="#"><span class="fab fa-instagram"></span></a></li>
              <li><a href="#"><span class="fab fa-twitter"></span></a></li>
              <li><a href="#"><span class="fab fa-youtube"></span></a></li>

            </ul>
          </div>
        </div>

        <div class="contact-text">
          <span class="icon flaticon-assistance"></span>
          <span class="txt">Speak to Tour Planner :
            <a href="tel:+971524918686">+971 52 491 8686</a>
            <span class="icon fa fa-clock" style="padding-left: 5px"></span>Week Days: 09:00am to 03:00am  </span>


        </div>
      </div>
    </div>
  </div>

  <app-menu-header [drawer]="drawer"></app-menu-header>
  <!-- Sticky Header  -->
  <div class="sticky-header">
    <div class="auto-container clearfix">
      <!--Logo-->
      <div class="logo pull-left">
        <a href="../../../index.html" title=""><img src="../../../assets/images/sticky-logo.png" alt="" title=""></a>
      </div>
      <!--Right Col-->
      <div class="pull-right clearfix">
        <!-- Main Menu -->
        <nav class="main-menu clearfix">
          <!--Keep This Empty / Menu will come through Javascript-->
        </nav><!-- Main Menu End-->


      </div>
    </div>
  </div><!-- End Sticky Menu -->

  <!-- Mobile Menu  -->
  <div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><span class="icon flaticon-targeting-cross"></span></div>

    <nav class="menu-box">
      <div class="nav-logo"><a href="../../../index.html"><img src="../../../assets/images/nav-logo.png" alt=""
                                                               title=""></a></div>
      <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
      <!--Social Links-->
      <div class="social-links">
        <ul class="clearfix">
          <li><a href="#"><span class="fab fa-twitter"></span></a></li>
          <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
          <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
          <li><a href="#"><span class="fab fa-instagram"></span></a></li>
          <li><a href="#"><span class="fab fa-youtube"></span></a></li>
        </ul>
      </div>
    </nav>
  </div><!-- End Mobile Menu -->
</header>
<!-- End Main Header -->



