<section class="page-banner inner-banner-height">
  <div class="image-layer" style="background-image:url(./assets/Banners/watersports-01.jpg);background-position-y: 20%"></div>
  <div class="banner-inner">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <h1 class="inner-banner-height-title">{{'waterSport'|translate}} </h1>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li class="breadcrumb-item">
              <a routerLink="/">{{'home'|translate}}</a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="/yachts">
                {{'yachts'|translate}}
              </a>
            </li>
            <li class="breadcrumb-item">
              {{'waterSport'|translate}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="yacht-tours-container">
  <div class="auto-container">
<!--    <div class="main-title"><h3>{{'waterSport'|translate}}</h3></div>-->
    <div class="default-form yacht-search-form">
      <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/yacht-tour-single.html">
        <div class="row clearfix">

        </div>
      </form>
    </div>

    <div class="content-container">
      <div class="row clearfix">
        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">
          <div class="content-inner">
            <div class="lower-filter-row clearfix">
              <div class="results-count">
              </div>
              <!--              <div class="view-modes clearfix">-->
              <!--                <div class="mode">-->
              <!--                  <a href="water-sport.html" class="active"><span class="flaticon-menu-3"></span></a>-->
              <!--                </div>-->
              <!--                <div class="mode">-->
              <!--                  <a href="water-sport2.html"><span class="flaticon-shape"></span></a>-->
              <!--                </div>-->
              <!--              </div>-->
              <!--Filter-->


            </div>

            <div class="results-row">
              <div class="item" *ngIf="is_loading">
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                  width: '740px',
                  height: '310px',
                  'border-radius': '10px'
                }">
                </ngx-skeleton-loader>
              </div>
              <!--Activity Block-->
              <div class="activity-block-two" *ngFor="let watersport of waterSports">
                <div class="inner-box clearfix">
                  <div class="image-layer" style="background-image:url({{watersport.images[0].image}});"></div>

                  <div class="image-box">
                    <a href="water-slide.html"><img src="{{watersport.images[0].image}}" alt="" title=""></a>
                  </div>

                  <div class="content-box">
                    <div class="content">
                      <h4><a href="water-slide.html">{{watersport.name}}</a></h4>
                      <br>
                      <div class="info">
                        <ul class="clearfix">
                          <div class="text" [innerHTML]="watersport.water_sport_description"></div>
                        </ul>
                      </div>
                    </div>
                    <!--                    <div class="ratings">-->
                    <!--                      <div class="rate-text"><strong>4.0</strong> <a href="#">[101 Reviews]</a></div>-->
                    <!--                      <div class="rate">-->
                    <!--                        <span class="fa fa-star"></span>-->
                    <!--                        <span class="fa fa-star"></span>-->
                    <!--                        <span class="fa fa-star"></span>-->
                    <!--                        <span class="fa fa-star"></span>-->
                    <!--                        <span class="fa fa-star empty-star"></span>-->
                    <!--                      </div>-->
                    <!--                    </div>-->
                    <div class="links-box clearfix">
                      <div class="link">
                        <a routerLink="/water-sports/{{watersport.slug}}"
                           class="theme-btn btn-style-two">
                          <span class="btn-title">{{'moredetails'|translate}}</span>
                        </a>
                        <a routerLink="/water-sports/{{watersport.slug}}"
                           class="theme-btn btn-style-two">
                          <span class="btn-title">{{'booknow'|translate}}</span>
                        </a>
                      </div>
<!--                      <div class="link">-->
<!--                        <div class="info-btn-box">-->
<!--                          <div class="theme-btn info-btn"><span class="icon flaticon-information-1"></span></div>-->
<!--                          <div class="info-panel">-->
<!--                            <div class="panel-inner">-->
<!--                              <div class="panel-title">Includes</div>-->
<!--                              <ul class="panel-list">-->
<!--                                <li>Hotel pick-up/drop-off</li>-->
<!--                                <li>Free Life Vest</li>-->
<!--                                <li>Soft Drinks</li>-->
<!--                                <li>Seafood Barbecue</li>-->
<!--                              </ul>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!--Widgets Side-->
        <div class="widgets-side col-lg-4 col-md-12 col-sm-12">
          <div class="widgets-content">

<!--            <app-recommended></app-recommended>-->

<!--            <app-destination-widget></app-destination-widget>-->

            <app-offers-widget></app-offers-widget>

            <!--Widget-->
            <div class="tour-widget advisor-widget carousel-widget">
              <div class="widget-inner">
                <div class="advisor-carousel single-item-carousel owl-theme owl-carousel">
                  <!--Advisor Block-->
                  <div class="advisor-block">
                    <div class="inner-box">
                      <div class="image-box">
                        <a href="#"><img src="assets/images/resource/team-6.jpg" alt="" title=""></a>
                      </div>
                      <div class="lower-box clearfix">
                        <div class="lower-content">
                          <h4><a href="#">Hohammed Sahraoui</a></h4>
                          <div class="info"><span class="tel:+971524918686"></span>+971 52 491 8686 [24/Hours]</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!--<app-yacht-rental></app-yacht-rental>-->
<!--<app-service-section></app-service-section>-->
<section class="subscribe-section style-three">
  <div class="auto-container">
    <div class="inner">
      <div class="image-layer" style="background-image:url(./assets/images/background/image-12.jpg);"></div>
      <div class="title">
        <h4>{{'newsub'|translate}}</h4>
        <div class="subtitle">{{'newssubtopic'|translate}}</div>
      </div>
      <div class="default-form subscribe-form-two">
        <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/contact.html">
          <div class="row clearfix">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="text" name="field-name" placeholder="{{'yourname'|translate}}" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="email" name="field-name" placeholder="{{'email'|translate}}" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-12 col-sm-12">
              <button type="submit" class="theme-btn btn-style-three"><span
                class="btn-title">{{'subnow'|translate}}</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

