.content{
  z-index: 99999999  !important;
}


@media (min-width: 992px) {
  .content{
    padding-left: 75px !important;
    padding-right: 75px !important;
  }
}
.img_height{
  height: 600px;
  object-fit: cover !important;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .img_height{
    height: 100vh!important;
  }
}
