
<section class="page-banner inner-banner-height">
  <div class="image-layer" style="background-image:url(./assets/Banners/services-01.jpg);"></div>

  <div class="banner-inner">

    <div class="auto-container">
      <div class="inner-container clearfix">
        <h1 class="inner-banner-height-title">{{'destination'|translate}}</h1>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li><a routerLink="/">{{'home'|translate}}</a></li>
            <li>{{'destination'|translate}}</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>

<!--Destinations Section-->
<section class="destinations-two alternate">

  <div class="auto-container">
    <div class="sec-title centered">
      <h2><strong>{{'destination'|translate}}</strong></h2>
      <div class="lower-text">{{'t30'|translate}}</div>
    </div>

    <div class="destinations-box">
      <div class="outer-box clearfix">
      </div>
    </div>

    <div class="more-destinations">
      <div class="inner-container">
        <!--Title-->
        <div class="left-title-box">
          <div class="image-layer" style="background-image: url(./assets/images/resource/71.jpg);"></div>
          <div class="title"><h3>{{'t36'|translate}}</h3></div>
        </div>

        <div class="row clearfix">
          <div class="destination-block-four col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="inner-box clearfix">
              <div class="image-box">
                <img src="assets/images/resource/23 - Copy.jpg" alt="" title="">
              </div>
              <div class="lower-box">
                <h4><a>{{'t37'|translate}}</a></h4>
              </div>
            </div>
          </div>
          <div class="destination-block-four col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="inner-box clearfix">
              <div class="image-box">
                <img src="assets/images/resource/22 - Copy.jpg" alt="" title="">

              </div>
              <div class="lower-box">
                <h4><a >{{'t38'|translate}}</a></h4>
              </div>
            </div>
          </div>
          <div class="destination-block-four col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="inner-box clearfix">
              <div class="image-box">
                <img src="assets/images/resource/24 - Copy.jpg" alt="" title="">
              </div>
              <div class="lower-box">
                <h4><a >{{'t39'|translate}}</a></h4>
              </div>
            </div>
          </div>
          <div class="destination-block-four col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="inner-box clearfix">
              <div class="image-box">
                <img src="assets/images/resource/24 - Copy.jpg" alt="" title="">
              </div>
              <div class="lower-box">
                <h4><a >{{'t40'|translate}}</a></h4>
              </div>
            </div>
          </div>
          <div class="destination-block-four col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="inner-box clearfix">
              <div class="image-box">
                <img src="assets/images/resource/10 - Copy.jpg" alt="" title="">
              </div>
              <div class="lower-box">
                <h4><a >{{'t42'|translate}}</a></h4>
              </div>
            </div>
          </div>
          <div class="destination-block-four col-xl-4 col-lg-6 col-md-6 col-sm-12">
            <div class="inner-box clearfix">
              <div class="image-box">
                <img src="assets/images/resource/70 - Copy.jpg" alt="" title="">
              </div>
              <div class="lower-box">
                <h4><a >{{'t41'|translate}}</a></h4>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>


<!--&lt;!&ndash;yacht Rental Section&ndash;&gt;-->
<!--<app-yacht-rental></app-yacht-rental>-->

<!--&lt;!&ndash;Destinations Section&ndash;&gt;-->


<!--&lt;!&ndash;Services Section&ndash;&gt;-->
<!--<app-service-section></app-service-section>-->

<!--Subscribe Section-->
<section class="subscribe-section style-three">
  <div class="auto-container">
    <div class="inner">
      <div class="image-layer" style="background-image:url(./assets/images/background/image-12.jpg);"></div>
      <div class="title">
        <h4>{{'newsub'|translate}}</h4>
        <div class="subtitle">{{'newssubtopic'|translate}}</div>
      </div>
      <div class="default-form subscribe-form-two">
        <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/contact.html">
          <div class="row clearfix">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="text" name="field-name" placeholder="{{'yourname'|translate}}" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-12">
              <div class="field-inner">
                <input type="email" name="field-name" placeholder="{{'email'|translate}}" required="" value="">
              </div>
            </div>

            <div class="form-group col-lg-4 col-md-12 col-sm-12">
              <button type="submit" class="theme-btn btn-style-three"><span class="btn-title">{{'subnow'|translate}}</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
