<app-secondry-header></app-secondry-header>
<section class="page-banner">
  <div class="image-layer" style="background-image:url(./assets/images/background/banner-1.jpg);"></div>

  <div class="banner-inner">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <h1>Single Blog <br>Post</h1>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li><a href="index.html">Home</a></li>
            <li><a href="blog-grid.html">Blog</a></li>
            <li>Single Post</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="sidebar-page-container">
  <div class="auto-container">
    <div class="row clearfix">

      <!--Content Side-->
      <div class="content-side col-lg-8 col-md-12 col-sm-12">
        <div class="blog-content">
          <div class="news-post-details">

            <!--News Block-->
            <div class="news-block-six">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <img src="assets/images/resource/news-image-30.jpg" alt="" title="">
                  </figure>
                  <div class="post-date"><span class="day">10</span><span class="month">Nov</span></div>
                </div>
                <div class="content-box">
                  <div class="inner">
                    <div class="content">
                      <div class="meta-info">
                        <ul class="clearfix">
                          <li>
                            <span class="icon fa fa-folder-open"></span>
                            <a href="#">Sailing Stories</a>
                          </li>
                          <li>
                            <span class="icon fa fa-user"></span>
                            <a href="#">By Williamson</a>
                          </li>
                        </ul>
                      </div>
                      <h3>Present the Ultimate Explorer Yacht at International Boat Show</h3>
                      <div class="text">
                        <p>Denounce with righteous indignation and dislike men who are so beguiled and de- moralized by the charms of pleasure of the moments which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best.</p>
                        <p>Beguiled and moralized by the charms of pleasure of the moments which the same as saying through shrinking from toil and pain. These cases are perfectly simple and distinguish. In a free hour, when our power.</p>
                        <p>Pleasure of the moments which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best.</p>

                        <div class="two-column">
                          <div class="row clearfix">
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                              <div class="caption-image">
                                <img src="assets/images/resource/news-image-31.jpg" alt="" title="">
                                <div class="image-title">Travelling 2019 </div>
                              </div>
                            </div>
                            <div class="column col-md-6 col-sm-6 col-xs-12">
                              <div class="video-image">
                                <a href="https://www.youtube.com/watch?v=UHWwQtNqtmk" class="lightbox-image"><img src="images/resource/news-image-32.jpg" alt="" title="">
                                </a>
                                <a href="https://www.youtube.com/watch?v=UHWwQtNqtmk" class="play-link  lightbox-image"><span class="icon flaticon-play-button-3"></span>Watch <br>Our Intro Video!</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p>Moments which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents.</p>
                        <h4>Advantages of Sailing</h4>
                        <p>Righteous indignation & dislike men who are so beguiled.</p>
                        <ul class="styled-list">
                          <li><strong>Our power of choice:</strong> Untrammelled and when nothing prevents our being what we like best, every pleasure is to be welcomed.</li>
                          <li><strong>Certain circumstances:</strong> Owing to the claims of duty or the obligations it will frequently occur that pleasures.</li>
                          <li><strong>The wise man:</strong> Therefore always holds in these matters to this principle rejects pleasures to secure other greater pleasures, or else.</li>
                        </ul>
                      </div>

                    </div>
                    <div class="other-info">
                      <div class="add-to-fav">
                        <a href="#"><span class="icon flaticon-heart"></span></a>
                      </div>
                      <div class="add-comment">
                        <a href="#"><span class="icon flaticon-chat-comment-oval-speech-bubble-with-text-lines"></span></a>
                      </div>
                      <div class="share-it">
                        <a class="share-btn" href="#"><span class="icon flaticon-share"></span></a>
                        <div class="share-list">
                          <ul>
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="post-tags clearfix">
                      <div class="tag-title">Tags:</div>
                      <a href="#">Beauty</a>
                      <a href="#">Free Style</a>
                      <a href="#">Photography</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="comments-area">
              <div class="group-title">
                <h4>Comments</h4>
              </div>
              <div class="comment-box">
                <div class="comment">
                  <div class="author-thumb">
                    <figure class="thumb"><img src="assets/images/resource/author-image-6.jpg" alt=""></figure>
                  </div>
                  <div class="info">
                    <span class="name">Steven Rich,</span>
                    <span class="date">Nov 26, 2019</span>
                  </div>
                  <div class="text">On the other hand, we denounce with righteous indignation  dislike men which toil and some great pleasure.</div>

                  <div class="reply-link"><a href="#">Reply</a></div>

                </div>
              </div>

              <div class="comment-box">
                <div class="comment reply-comment">
                  <div class="author-thumb">
                    <figure class="thumb"><img src="assets/images/resource/author-image-7.jpg" alt=""></figure>
                  </div>
                  <div class="info">
                    <span class="name">William Cobus,</span>
                    <span class="date">Nov 25, 2019</span>
                  </div>
                  <div class="text">Our power of choice is untrammelled and when nothing some of our being to except to obtain some advantage.</div>

                  <div class="reply-link"><a href="#">Reply</a></div>

                </div>
              </div>

            </div>

            <div class="leave-comments">
              <div class="group-title">
                <h4>Post a Comment</h4>
                <div class="instruction">Your email address will not be published. Required fields are marked *</div>
              </div>

              <div class="default-form comment-form">
                <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/contact.html">
                  <div class="row clearfix">

                    <div class="col-md-12 col-sm-12 form-group">
                      <textarea name="message" placeholder="Your Comments"></textarea>
                    </div>

                    <div class="col-md-6 col-sm-12 form-group">
                      <input type="text" name="username" placeholder="Your Name *" required="">
                    </div>

                    <div class="col-md-6 col-sm-12 form-group">
                      <input type="email" name="email" placeholder="Email *" required="">
                    </div>

                    <div class="col-md-12 col-sm-12 form-group">
                      <button type="submit" class="theme-btn btn-style-five"><span class="btn-title">Submit Now</span></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--Sidebar Side-->
      <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
        <aside class="sidebar blog-sidebar">
          <!--Sidebar Widget-->
          <div class="sidebar-widget search-box">
            <div class="widget-inner">
              <div class="sidebar-title">
                <h4>Search</h4>
              </div>
              <form method="post" action="http://st.ourhtmldemo.com/new/sailing-demo/blog.html">
                <div class="form-group">
                  <input type="search" name="search-field" value="" placeholder="Search.." required="">
                  <button type="submit"><span class="icon flaticon-magnifying-glass"></span></button>
                </div>
              </form>
            </div>
          </div>
          <!--Archives-->
          <div class="sidebar-widget archives">
            <div class="widget-inner">
              <div class="sidebar-title">
                <h4>Categories</h4>
              </div>

              <div class="outer clearfix">
                <div class="archive-block">
                  <div class="inner">
                    <div class="image">
                      <img src="assets/images/resource/news-thumb-1.jpg" alt="">
                      <div class="count">10</div>
                    </div>
                    <div class="post-title"><a href="#">Sailing Stories</a></div>
                  </div>
                </div>
                <div class="archive-block">
                  <div class="inner">
                    <div class="image">
                      <img src="assets/images/resource/news-thumb-2.jpg" alt="">
                      <div class="count">12</div>
                    </div>
                    <div class="post-title"><a href="#">Travel Ideas</a></div>
                  </div>
                </div>
                <div class="archive-block">
                  <div class="inner">
                    <div class="image">
                      <img src="assets/images/resource/news-thumb-3.jpg" alt="">
                      <div class="count">14</div>
                    </div>
                    <div class="post-title"><a href="#">Sailing Routes</a></div>
                  </div>
                </div>
                <div class="archive-block">
                  <div class="inner">
                    <div class="image">
                      <img src="assets/images/resource/news-thumb-4.jpg" alt="">
                      <div class="count">16</div>
                    </div>
                    <div class="post-title"><a href="#">Chartering</a></div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="sidebar-widget recent-posts">
            <div class="widget-inner">
              <div class="sidebar-title">
                <h4>Trending Post</h4>
              </div>

              <div class="post">
                <div class="inner">
                  <figure class="post-thumb"><img src="assets/images/resource/news-thumb-5.jpg" alt=""><a href="#" class="overlink"></a></figure>
                  <div class="post-date">June 28, 2019</div>
                  <h5 class="title"><a href="#">Tour With Accomodation</a></h5>
                </div>
              </div>

              <div class="post">
                <div class="inner">
                  <figure class="post-thumb"><img src="assets/images/resource/news-thumb-6.jpg" alt=""><a href="#" class="overlink"></a></figure>
                  <div class="post-date">April 18, 2019</div>
                  <h5 class="title"><a href="#">Cabin or Bareboat Charter?</a></h5>
                </div>
              </div>

              <div class="post">
                <div class="inner">
                  <figure class="post-thumb"><img src="assets/images/resource/news-thumb-7.jpg" alt=""><a href="#" class="overlink"></a></figure>
                  <div class="post-date">Jan 21, 2019</div>
                  <h5 class="title"><a href="#">The Top 5 Destinations</a></h5>
                </div>
              </div>

            </div>
          </div>

          <div class="sidebar-widget popular-tags">
            <div class="widget-inner">
              <div class="sidebar-title">
                <h4>Popular Tags</h4>

              </div>
              <ul class="tags-list clearfix">
                <li><a href="#">Beauty</a></li>
                <li><a href="#">Classic</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Drinks & Food</a></li>
                <li><a href="#">Designs</a></li>
                <li><a href="#">Featured</a></li>
                <li><a href="#">Free Style</a></li>
                <li><a href="#">Photography</a></li>
              </ul>
            </div>
          </div>

          <!--Archives-->
          <div class="sidebar-widget insta-widget">
            <div class="widget-inner">
              <div class="sidebar-title">
                <h4>Instagram Feed</h4>
              </div>
              <div class="insta-feeds">
                <div class="outer clearfix">
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="assets/images/gallery/gallery-thumb-9.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="assets/images/gallery/gallery-thumb-10.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="assets/images/gallery/gallery-thumb-11.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="assets/images/gallery/gallery-thumb-12.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="assets/images/gallery/gallery-thumb-13.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="feed-block">
                    <div class="inner">
                      <div class="image">
                        <img src="assets/images/gallery/gallery-thumb-14.jpg" alt="">
                        <a href="#" class="hover-box">
                          <div class="count">
                            <span class="fa fa-heart"></span> 1k &nbsp;&nbsp; <span class="fa fa-comment"></span> 84
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="profile-link">
                  <a href="#"><span class="icon fab fa-instagram"></span> Follow us on instagram</a>
                </div>
              </div>

            </div>
          </div>

        </aside>
      </div>

    </div>
  </div>
</div>

<app-secondry-footer></app-secondry-footer>
