<!--About Section Two-->
<section class="about-section-two">
  <div class="image-box-left wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2500ms">
    <div class="image-layer" style="background-image: url(./assets/images/resource/71.jpg);"></div>
  </div>
  <div class="image-box-right wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
    <div class="image-layer" style="background-image: url(./assets/images/background/image-5.jpg);"></div>
  </div>
  <div class="auto-container">
    <div class="content-outer clearfix">
      <div class="content-inner">
        <div class="content-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="sec-title-two with-border">
            <div class="upper-text">{{'exp'|translate}}</div>
            <h2>{{'about'|translate}}  <strong>{{'about_heading_text'|translate}} </strong></h2>
            <div class="separator"></div>
          </div>
          <h4>{{'abouttopic'|translate}} <span class="dark-red" [routerLink]="'/yachts'">Jet Car Dubai Rental</span> .</h4>
          <p style="font-size:15px">
            <span style="color:#5f727f">
            {{'abouttopic1'|translate}}
            </span>
          </p>
          <p style="font-size:15px;text-align:center;">
            <span class="dark-red" style="font-size:18px">
              Dubai Yacht Tour
            </span>
          </p>
          <p style="font-size:15px">
            <span style="color:#5f727f">
              {{'abouttopic2'|translate}}
            </span>
          </p>
          <p style="font-size:15px">
            <span style="color:#5f727f">
              {{'about_topic_3'|translate}}
            </span>
          </p>
          <p style="font-size:15px">
            <span style="color:#5f727f">
              {{'about_topic_4'|translate}}
            </span>
          </p>
          <p style="font-size:15px;text-align:center;">
            Find the best 
            <span class="dark-red" style="font-size:18px">
              Boat Booking in Dubai
            </span> .
          </p>
          <p style="font-size:15px">
            <span style="color:#5f727f">
              {{'about_topic_5'|translate}}
            </span>
          </p>
          <p style="font-size:15px">
            <span style="color:#5f727f">
              {{'about_topic_6'|translate}}
            </span>
          </p>
          <div class="lower-row clearfix">
<!--            <div class="info">-->
<!--              <div class="name">-->
<!--                {{'Mohamed_Sahraoui'|translate}}-->
<!--              </div>-->
<!--              <div class="designation">-->
<!--                {{'CEO_FOUNDER'|translate}}-->
<!--              </div>-->
<!--            </div>-->
            <div class="link-box">
              <a routerLink="/about" class="theme-btn btn-style-three">
                <span class="btn-title">{{'moreabout'|translate}}</span>
              </a>
            </div>
          </div>
        </div>
        <div class="video-link wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="video-thumb">
            <figure class="image"><img src="assets/images/resource/video-thumb-2.jpg" alt="" title=""></figure>
            <a href="#" class="overlink lightbox-image"><span class="icon flaticon-media-play-symbol"></span></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Features Section-->
<section class="features-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Feature-->
      <div class="feature-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <div class="octagonWrap">
              <div class="octagon"></div>
            </div>
            <span class="icon flaticon-scuba"></span>
          </div>
          <div class="content">
            <h4>{{'luxuaryyacht'|translate}}</h4>
            <div class="text">{{'topic1'|translate}}</div>
          </div>
        </div>
      </div>
      <!--Feature-->
      <div class="feature-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <div class="octagonWrap">
              <div class="octagon"></div>
            </div>
            <span class="icon flaticon-boat-race"></span>
          </div>
          <div class="content">
            <h4>{{'safety'|translate}}</h4>
            <div class="text">{{'topic2'|translate}}</div>
          </div>
        </div>
      </div>
      <!--Feature-->
      <div class="feature-block col-lg-4 col-md-12 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <div class="octagonWrap">
              <div class="octagon"></div>
            </div>
            <span class="icon flaticon-wallet"></span>
          </div>
          <div class="content">
            <h4>{{'value'|translate}}</h4>
            <div class="text"> {{'topic3'|translate}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
