<!--About Section Two-->
<section class="about-section-two">
  <div class="image-box-left wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2500ms">
    <div class="image-layer" style="background-image: url(./assets/images/resource/71.jpg);"></div>
  </div>
  <div class="image-box-right wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
    <div class="image-layer" style="background-image: url(./assets/images/background/image-5.jpg);"></div>
  </div>
  <div class="auto-container">
    <div class="content-outer clearfix">
      <div class="content-inner">
        <div class="content-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="sec-title-two with-border">
            <div class="upper-text">Our Experience</div>
            <h2>About  <strong>Boat Ride </strong></h2>
            <div class="separator"></div>
          </div>
          <h4>Largest Yachting Company Offers Yachts for Low Rental In Dubai.</h4>
          <p style="text-align:center;font-size:18px"><span style="color:#5f727f">Boats Ride it is Dubai's leading rental yachts charter company. We cater both to interested in hiring a boat together with a captain and optional crew. We present to you Dubai’s most unique yacht makes it easy for travellers to find the right boat by simplifying the selection and booking process. </span></p>
          <p style="text-align:center;font-size:18px"><span style="color:#5f727f">At Boats Ride we are the proud owners of the highest quality yachts available in the UAE. We pride ourselves on delivering the most exclusive chartering experience, which is why we utilise fleet of impeccable . These yachts are some of the finest the market has to offer and have been hand-picked by the team to make sure they offer an unforgettable experience. Whether you’re after a yacht to share with your lover, or a superyacht that you can utilise with all of your friends to cruise dventure, we have something for you.</span></p>
          <div class="lower-row clearfix">
            <div class="info">
              <div class="name">Mohamed Sahraoui</div>
              <div class="designation">CEO & Founder</div>
            </div>
            <div class="link-box">
              <a href="about.html" class="theme-btn btn-style-three"><span class="btn-title">More About Us</span></a>
            </div>
          </div>
        </div>
        <div class="video-link wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="video-thumb">
            <figure class="image"><img src="assets/images/resource/video-thumb-2.jpg" alt="" title=""></figure>
            <a href="#" class="overlink lightbox-image"><span class="icon flaticon-media-play-symbol"></span></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Features Section-->
<section class="features-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Feature-->
      <div class="feature-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <div class="octagonWrap">
              <div class="octagon"></div>
            </div>
            <span class="icon flaticon-scuba"></span>
          </div>
          <div class="content">
            <h4>Luxury Yachts</h4>
            <div class="text">At Boats Ride Yachts we are the proud owners of the luxury yachts available in the UAE Since 2012 chartering experience and  over 245 boats , we pride ourselves on delivering the most exclusive yacht chartering experience, setting the industry benchmarks & standards makes us pioneers in yachts chartering.</div>
          </div>
        </div>
      </div>
      <!--Feature-->
      <div class="feature-block col-lg-4 col-md-6 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <div class="octagonWrap">
              <div class="octagon"></div>
            </div>
            <span class="icon flaticon-boat-race"></span>
          </div>
          <div class="content">
            <h4>Safety and Security</h4>
            <div class="text">We put safety above all else; Safety on board  Yachts is taken very seriously, it is vital for our clients to feel comfortable and secure whilst traveling with us that is why an experienced and fully qualified team mans each of our vessel. Safety and reliability are the things that our clients appreciate most .</div>
          </div>
        </div>
      </div>
      <!--Feature-->
      <div class="feature-block col-lg-4 col-md-12 col-sm-12">
        <div class="inner-box">
          <div class="icon-box">
            <div class="octagonWrap">
              <div class="octagon"></div>
            </div>
            <span class="icon flaticon-wallet"></span>
          </div>
          <div class="content">
            <h4>Value for Spending</h4>
            <div class="text">Being one of the most reputable and leading yachts charter company for the last years, we provide unbiased prices  Within the budget of Within the budget of our clients to ensure have a chance to sail and have fun with us , yachting experience that made us experts in the yacht charter </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
