<!--News Section-->
<section class="news-section">
  <div class="auto-container">
    <div class="sec-title-two centered with-border">
      <div class="upper-text">News & Updates</div>
      <h2>Latest From <strong>Blog</strong></h2>
      <div class="separator"></div>
    </div>
    <div class="row clearfix">
      <!--News Block-->
      <div class="news-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <a href="7-Essential-Things-to-Know-Before-Chartering-a-Yacht.html"><img src="assets/images/resource/pic3.png" alt="" title=""></a>
            </figure>
            <a href="7-Essential-Things-to-Know-Before-Chartering-a-Yacht.html" class="link-layer"><span class="icon flaticon-link-3"></span></a>
            <div class="post-date"><span class="day">10</span><span class="month">Nov</span></div>
          </div>
          <div class="lower-content">

            <div class="content">
              <div class="meta-info">
                <ul class="clearfix">
                  <li>
                    <span class="icon fa fa-folder-open"></span>
                    <a href="#">Boats Ride </a>
                  </li>
                </ul>
              </div>

              <h5><a href="7-Essential-Things-to-Know-Before-Chartering-a-Yacht.html">07 Essential Things to Know Before Chartering a Yacht?</a></h5>
              <div class="text">This is it! You’re finally planning that bucket list dream holiday chartering a yacht across the seas...</div>
              <br>
              <div class="author">
                <img src="images/resource/author-image-4.jpg" alt="" title="">
                <span class="name">By Mohamed Sahraoui</span>
              </div>
            </div>
            <div class="other-links">
              <div class="add-to-fav">
                <a href="#"><span class="icon flaticon-heart"></span></a>
              </div>
              <div class="add-comment">
                <a href="#"><span class="icon flaticon-chat-comment-oval-speech-bubble-with-text-lines"></span></a>
              </div>
              <div class="share-it">
                <a class="share-btn" href="#"><span class="icon flaticon-share"></span></a>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!--News Block-->
      <div class="news-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <a href="top-sea-activities-in-dubai-this-summer.html"><img src="assets/images/resource/pic1.jpg" alt="" title=""></a>
            </figure>
            <a href="top-sea-activities-in-dubai-this-summer.html" class="link-layer"><span class="icon flaticon-link-3"></span></a>
            <div class="post-date"><span class="day">05</span><span class="month">Nov</span></div>
          </div>
          <div class="lower-content">

            <div class="content">
              <div class="meta-info">
                <ul class="clearfix">
                  <li>
                    <span class="icon fa fa-folder-open"></span>
                    <a href="#">Boats Ride </a>
                  </li>
                </ul>
              </div>
              <h5><a href="top-sea-activities-in-dubai-this-summer.html">Top Sea Activities in Dubai This Summer</a></h5>
              <div class="text">What a lovely sight it is, to watch the waves go up and down, to see fish swimming in the vast ocean ...</div>
              <br>
              <div class="author">
                <img src="assets/images/resource/author-image-4.jpg" alt="" title="">
                <span class="name">By Mohamed Sahraoui</span>
              </div>
            </div>
            <div class="other-links">
              <div class="add-to-fav">
                <a href="#"><span class="icon flaticon-heart"></span></a>
              </div>
              <div class="add-comment">
                <a href="#"><span class="icon flaticon-chat-comment-oval-speech-bubble-with-text-lines"></span></a>
              </div>
              <div class="share-it">
                <a class="share-btn" href="#"><span class="icon flaticon-share"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--News Block-->
      <div class="news-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image-box">
            <figure class="image">
              <a href="things-to-know-before-booking-a-yacht.html"><img src="assets/images/resource/pic2.png" alt="" title=""></a>
            </figure>
            <a href="things-to-know-before-booking-a-yacht.html" class="link-layer"><span class="icon flaticon-link-3"></span></a>
            <div class="post-date"><span class="day">24</span><span class="month">Oct</span></div>
          </div>
          <div class="lower-content">

            <div class="content">
              <div class="meta-info">
                <ul class="clearfix">
                  <li>
                    <span class="icon fa fa-folder-open"></span>
                    <a href="#">Boats Ride </a>
                  </li>
                </ul>
              </div>
              <h5><a href="things-to-know-before-booking-a-yacht.html">Things to know before booking a yacht</a></h5>
              <div class="text">Luxury Yacht Charter in Dubai is gaining popularity among locals and tourists alike...</div>
              <br>
              <div class="author">
                <img src="assets/images/resource/author-image-4.jpg" alt="" title="">
                <span class="name">By Mohamed Sahraoui</span>
              </div>
            </div>
            <div class="other-links">
              <div class="add-to-fav">
                <a href="#"><span class="icon flaticon-heart"></span></a>
              </div>
              <div class="add-comment">
                <a href="#"><span class="icon flaticon-chat-comment-oval-speech-bubble-with-text-lines"></span></a>
              </div>
              <div class="share-it">
                <a class="share-btn" href="#"><span class="icon flaticon-share"></span></a>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
