<!--Fluid Section-->
<section class="fluid-section">
  <div class="image-layer left-layer" style="background-image: url(./assets/images/background/image-6.jpg);"></div>
  <div class="image-layer right-layer" style="background-image: url(./assets/images/background/image-7.jpg);"></div>
  <div class="shapes">
    <div class="shape one"></div>
    <div class="shape two"></div>
  </div>
  <div class="outer-container clearfix">
    <!--Column-->
    <div class="column left-column clearfix">
      <div class="image-layer left-layer" style="background-image: url(./assets/images/background/image-6.jpg);"></div>
      <div class="inner">
        <div class="content">
          <div class="subtitle">{{'bestprice'|translate}} </div>
          <h2>{{'pricetopic'|translate}}</h2>
          <div class="link-box">
            <a href="yacht-rent.html" class="theme-btn btn-style-two"><div class="btn-title">{{'yachtbooking'|translate}}</div></a>
          </div>
        </div>
      </div>
    </div>
    <!--Column-->
    <div class="column right-column clearfix">
      <div class="image-layer left-layer" style="background-image: url(./assets/images/background/image-7.jpg);"></div>
      <div class="inner">
        <div class="content">
          <div class="subtitle">{{'news'|translate}}</div>
          <h2>{{'newstopic1'|translate}} <br>{{'newstopic2'|translate}}</h2>
          <div class="link-box">
            <a href="contact.html" class="theme-btn btn-style-two"><div class="btn-title">{{'subscribe'|translate}}</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
