<p class="mt-3">
  <span>نحن نقدم مجموعة متنوعة من الرحلات الاستكشافية وخدمات</span>
  <span class="dark-red" [routerLink]="'/yachts'"> تأجير اليخوت في دبي </span>
  <span>، كل منها مصمم خصيصًا لاحتياجاتك. سواء كنت ترغب في الاستمتاع بشمس دبي الحارقة ، أو القيام برحلة على متن قارب عند غروب الشمس ، أو الاستمتاع بأجواء مدينة دبي ، أو استكشاف أماكن جديدة لتراها لأول مرة ، أو الذهاب في رحلة صيد احترافية ، أو الاحتفال بحدث خاص في حياتك ، يجب أن تكون كذلك. لقد أعددنا ميثاقًا لك! لذا ، اتصل بنا ودعنا نحقق أحلامك الاستوائية! من المواثيق اليومية إلى الرحلات البحرية الممتدة الأسبوعية ، لدينا يخوت تلبي جميع الميزانيات والرغبات</span>
</p>

<p>
  بالإضافة إلى ذلك ، يقدم العديد من مالكي القوارب أيضًا خدمات إضافية مثل الغداء أو العشاء على متن القارب، تأجير جت سكي دبي ، قوارب الكاياك البحرية وغيرها من المرافق لإضافة الروعة إلى رحلتك. نحن نساعد الأشخاص أيضًا على حجز حفلات الزفاف وحفلات الزفاف في الوجهة وأعياد الميلاد المهمة واحتفالات الذكرى السنوية ورحلات شهر العسل.
</p>
