<!--yacht Rental Section-->
<section class="yacht-rental-section">
  <div class="auto-container">
    <div class="title-row clearfix">
      <div class="sec-title-two light with-border">
        <div class="upper-text">With Boats Ride Try the Ultimate Experience</div>
        <h2>Luxury Yacht <strong>Rental</strong></h2>
        <div class="separator"></div>
      </div>
      <div class="filter-box">
        <div class="selectable-list">

        </div>
      </div>
    </div>

    <!--Rental Block-->
    <div class="rentals-row">
      <div class="auto-container  ">

        <div class="carousel-outer ">
          <!--Services Carousel-->

          <div class="services-carousel owl-theme owl-carousel ">
            <div class="rental-block mix all russia india service-block">
              <div class="inner-box">
                <div class="image-box">

                  <figure class="image">

                    <a href="majesty-yachr-48-feet.html">
                      <div class="offer-info"><span>48 FT</span></div>

                      <img src="assets/images/resource/6.jpg" alt="" title=""></a>
                  </figure>
                  <div class="price-box">
                    <div class="price"> 600 AED </div>
                    <div class="cycle">PAR / H</div>


                  </div>

                </div>
                <div class="title-box">
                  <div class="more-link-box">
                    <a href="majesty-yachr-48-feet.html" class="theme-btn">View Details</a>
                  </div>
                  <h4><a href="majesty-yachr-48-feet.html">Majesty Yacht</a></h4>
                </div>
                <div class="price">
                  <div style="display: inline-block"><small>From</small>  <del class="price-old">AED 799/hr</del></div>
                  <div style="display: inline-block; margin-left: 10px;" data-toggle="tooltip" data-html="true" title="" data-original-title="Summer Offer">
                    <span class="blink" style="color: red;font-size: 15px;border-radius: 5px;font-weight: bolder;"><i class="fa fa-info-circle"></i> AED 600</span>
                  </div>
                  <small class="label label-warning pull-right" style="color: #fff;">VAT INCLUDE</small>
                </div>
                <div class="meta-info">
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/captain.png" > Captain: 01</a></li>
                    <li><a href="#"><img src="assets/images/icons/crew.png" >Crew : 01</a></li>
                  </ul>
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/users.png" > Peaple : 12</a></li>
                    <li><a href="#"><img src="assets/images/icons/beds.png" > Beds : 02</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--Rental Block-->
            <div class="rental-block mix all russia india service-block">
              <div class="inner-box">
                <div class="image-box">

                  <figure class="image">

                    <a href="azimot-yacht-52-feet.html">
                      <div class="offer-info"><span>52 FT</span></div>

                      <img src="assets/images/resource/27.jpeg" alt="" title=""></a>
                  </figure>
                  <div class="price-box">
                    <div class="price"> 550 AED </div>
                    <div class="cycle">PAR / H</div>

                  </div>
                </div>
                <div class="title-box">
                  <div class="more-link-box">
                    <a href="azimot-yacht-52-feet.html" class="theme-btn">View Details</a>
                  </div>
                  <h4><a href="azimot-yacht-52-feet.htmll">Azimot Yacht</a></h4>
                </div>
                <div class="price">
                  <div style="display: inline-block"><small>From</small>  <del class="price-old">AED 799/hr</del></div>
                  <div style="display: inline-block; margin-left: 10px;" data-toggle="tooltip" data-html="true" title="" data-original-title="Summer Offer">
                    <span class="blink" style="color: red;font-size: 15px;border-radius: 5px;font-weight: bolder;"><i class="fa fa-info-circle"></i> AED 600</span>
                  </div>
                  <small class="label label-warning pull-right" style="color: #fff;">VAT INCLUDE</small>
                </div>
                <div class="meta-info">
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/captain.png" > Captain: 01</a></li>
                    <li><a href="#"><img src="assets/images/icons/crew.png" > Crew : 01</a></li>
                  </ul>
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/users.png" > Peaple : 12</a></li>
                    <li><a href="#"><img src="assets/images/icons/beds.png" > Beds : 02</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--Rental Block-->
            <div class="rental-block mix all russia india service-block">
              <div class="inner-box">
                <div class="image-box">

                  <figure class="image">

                    <a href="luxury-yacht-80-feet.html">
                      <div class="offer-info"><span>56 FT</span></div>
                      <img src="assets/images/yachts/blue-one-yacht/12.jpeg" alt="" title=""></a>
                  </figure>
                  <div class="price-box">
                    <div class="price"> 700 AED </div>
                    <div class="cycle">PAR / H</div>

                  </div>
                </div>
                <div class="title-box">
                  <div class="more-link-box">
                    <a href="blue-one-yacht-56-feet.html" class="theme-btn">View Details</a>
                  </div>
                  <h4><a href="blue-one-yacht-56-feet.html">Blue One</a></h4>
                </div>
                <div class="price">
                  <div style="display: inline-block"><small>From</small>  <del class="price-old">AED 799/hr</del></div>
                  <div style="display: inline-block; margin-left: 10px;" data-toggle="tooltip" data-html="true" title="" data-original-title="Summer Offer">
                    <span class="blink" style="color: red;font-size: 15px;border-radius: 5px;font-weight: bolder;"><i class="fa fa-info-circle"></i> AED 600</span>
                  </div>
                  <small class="label label-warning pull-right" style="color: #fff;">VAT INCLUDE</small>
                </div>
                <div class="meta-info">
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/captain.png" > Captain: 01</a></li>
                    <li><a href="#"><img src="assets/images/icons/crew.png" > Crew : 02</a></li>
                  </ul>
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/users.png" > Peaple : 12</a></li>
                    <li><a href="#"><img src="assets/images/icons/beds.png" > Beds : 02</a></li>
                  </ul>
                </div>

              </div>
            </div>
            <!--Rental Block-->
            <div class="rental-block mix all russia india service-block">
              <div class="inner-box">
                <div class="image-box">

                  <figure class="image">

                    <a href="majesty-yacht-56-feet.html">
                      <div class="offer-info"><span>56 FT</span></div>

                      <img src="images/resource/5.jpg" alt="" title=""></a>
                  </figure>
                  <div class="price-box">
                    <div class="price"> 750 AED </div>
                    <div class="cycle">PAR / H</div>

                  </div>
                </div>
                <div class="title-box">
                  <div class="more-link-box">
                    <a href="majesty-yacht-56-feet.html" class="theme-btn">View Details</a>
                  </div>
                  <h4><a href="majesty-yacht-56-feet.html">Majesty Yacht</a></h4>
                </div>
                <div class="price">
                  <div style="display: inline-block"><small>From</small>  <del class="price-old">AED 799/hr</del></div>
                  <div style="display: inline-block; margin-left: 10px;" data-toggle="tooltip" data-html="true" title="" data-original-title="Summer Offer">
                    <span class="blink" style="color: red;font-size: 15px;border-radius: 5px;font-weight: bolder;"><i class="fa fa-info-circle"></i> AED 600</span>
                  </div>
                  <small class="label label-warning pull-right" style="color: #fff;">VAT INCLUDE</small>
                </div>
                <div class="meta-info">
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/captain.png" > Captain: 01</a></li>
                    <li><a href="#"><img src="assets/images/icons/crew.png" > Crew : 02</a></li>
                  </ul>
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/users.png" >Peaple : 13</a></li>
                    <li><a href="#"><img src="assets/images/icons/beds.png" > Beds : 02</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--Rental Block-->
            <div class="rental-block mix all russia india service-block">
              <div class="inner-box">
                <div class="image-box">

                  <figure class="image">

                    <a href="seline-yacht-63-feet.html">
                      <div class="offer-info"><span>65 Ft</span></div>

                      <img src="assets/images/resource/29.jpeg" alt="" title=""></a>
                  </figure>
                  <div class="price-box">
                    <div class="price"> 650 AED </div>
                    <div class="cycle">PAR / H</div>

                  </div>
                </div>
                <div class="title-box">
                  <div class="more-link-box">
                    <a href="seline-yacht-63-feet.html" class="theme-btn">View Details</a>
                  </div>
                  <h4><a href="seline-yacht-63-feet.html">Seline Yacht</a></h4>
                </div>
                <div class="price">
                  <div style="display: inline-block"><small>From</small>  <del class="price-old">AED 799/hr</del></div>
                  <div style="display: inline-block; margin-left: 10px;" data-toggle="tooltip" data-html="true" title="" data-original-title="Summer Offer">
                    <span class="blink" style="color: red;font-size: 15px;border-radius: 5px;font-weight: bolder;"><i class="fa fa-info-circle"></i> AED 600</span>
                  </div>
                  <small class="label label-warning pull-right" style="color: #fff;">VAT INCLUDE</small>
                </div>
                <div class="meta-info">
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/captain.png" > Captain: 01</a></li>
                    <li><a href="#"><img src="assets/images/icons/crew.png" > Crew : 02</a></li>
                  </ul>
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/users.png" > Peaple : 15</a></li>
                    <li><a href="#"><img src="assets/images/icons/beds.png" > Beds : 03</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--Rental Block-->
            <div class="rental-block mix all russia india service-block">
              <div class="inner-box">
                <div class="image-box">

                  <figure class="image">

                    <a href="majesty-ruby-75-feet.html">
                      <div class="offer-info"><span>75 FT</span></div>

                      <img src="assets/images/resource/yacht-5.jpeg" alt="" title=""></a>
                  </figure>
                  <div class="price-box">
                    <div class="price"> 1,500 AED </div>
                    <div class="cycle">PAR / H</div>

                  </div>
                </div>
                <div class="title-box">
                  <div class="more-link-box">
                    <a href="majesty-ruby-75-feet.html" class="theme-btn">View Details</a>
                  </div>
                  <h4><a href="majesty-ruby-75-feet.html">Majesty Ruby</a></h4>
                </div>
                <div class="price">
                  <div style="display: inline-block"><small>From</small>  <del class="price-old">AED 799/hr</del></div>
                  <div style="display: inline-block; margin-left: 10px;" data-toggle="tooltip" data-html="true" title="" data-original-title="Summer Offer">
                    <span class="blink" style="color: red;font-size: 15px;border-radius: 5px;font-weight: bolder;"><i class="fa fa-info-circle"></i> AED 600</span>
                  </div>
                  <small class="label label-warning pull-right" style="color: #fff;">VAT INCLUDE</small>
                </div>
                <div class="meta-info">
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/captain.png" > Captain: 01</a></li>
                    <li><a href="#"><img src="assets/images/icons/crew.png" > Crew : 03</a></li>
                  </ul>
                  <ul class="clearfix">
                    <li><a href="#"><img src="assets/images/icons/users.png" > Peaple : 22</a></li>
                    <li><a href="#"><img src="assets/images/icons/beds.png" > Beds : 03</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="bottom-text">Boats Ride  Offers Luxury  Yachts In Dubai With  Best Price. <a href="yacht-rent.html">View All Our Yachts</a></div>
  </div>

</section>
