<section class="page-banner inner-banner-height">
  <div class="image-layer" style="background-image:url(./assets/images/background/banner-1.jpg);"></div>

  <div class="banner-inner">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <h1 class="inner-banner-height-title">
          {{'offer'|translate}}
        </h1>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li>
              <a routerLink="/">
                {{'home'|translate}}</a>
            </li>
            <li>{{'offer'|translate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Services Section-->
<section class="services-section-two">
  <div class="auto-container">

    <div class="item" *ngIf="!offers.length">
      <ngx-skeleton-loader count="3" appearance="circle" class="d-flex justify-content-between" [theme]="{
            height: '300px',
            width: '33%',
            'border-radius': '10px'
            }">
      </ngx-skeleton-loader>
    </div>

    <div class="row clearfix">
      <!--Service Block-->
      <div *ngFor="let offer of offers"
           class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms"
           data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image" style="height: 300px">
            <img src="{{offer.image}}" alt="" title="" class="object-fit-cover h-100">
          </div>
          <div class="lower-box">
            <div class="title-box">
              <div class="inner">
                <div class="subtitle">Top landmarks & amazing</div>
                <h4>
                  <a>{{offer.title}}</a>
                </h4>
              </div>
            </div>
            <div class="text" [innerHTML]="offer.description"></div>
            <div class="link-box">
              <a>{{'readmore'|translate}}</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--Services Section Three-->
<section class="services-section-three overflow-hidden">
  <div class="main-image-layer" style="background-image:url(./assets/images/background/image-13.jpg);"></div>

  <div class="upper-row">
    <div class="image-layer" style="background-image:url(./assets/images/background/image-14.jpg);"></div>
    <div class="auto-container">
      <div class="row clearfix">

        <!--Left Column-->
        <div class="left-col col-xl-5 col-lg-12 col-md-12 col-sm-12">
          <div class="inner">
            <div class="sec-title">
              <h2>{{'specialsev'|translate}}</h2>
              <!--              <div class="lower-text">We are aim to offer 100% satisfaction services</div>-->
            </div>
            <div class="text">{{'t17'|translate}}</div>
            <div class="info">
              <h5>{{'t18'|translate}}</h5>
              <div class="phone"><a href="tel:888505-0123">888 505-0123</a></div>
            </div>
          </div>
        </div>

        <!--Right Column-->
        <div class="right-col col-xl-7 col-lg-12 col-md-12 col-sm-12">
          <div class="inner">
            <div class="featured-column-carousel owl-theme owl-carousel">
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-guitar"></span></div>
                  <h4>Party <br>Celebrations</h4>
                  <div class="text">Give you a complete account of the system, and expound the actual teachings the some
                    great explorer.
                  </div>
                  <div class="link-box"><a routerLink="/yachts">Book For PArties</a></div>
                </div>
              </div>
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-meeting"></span></div>
                  <h4>Corporate <br>Meetings & Events</h4>
                  <div class="text">Desires to obtain pain of itself, because it is pain, but occur toil and pain can
                    procure him fault with a pleasure.
                  </div>
                  <div class="link-box"><a routerLink="/yachts">Book For Meetings</a></div>
                </div>
              </div>
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-guitar"></span></div>
                  <h4>Party <br>Celebrations</h4>
                  <div class="text">Give you a complete account of the system, and expound the actual teachings the some
                    great explorer.
                  </div>
                  <div class="link-box"><a routerLink="/yachts">Book For PArties</a></div>
                </div>
              </div>
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-meeting"></span></div>
                  <h4>Corporate <br>Meetings & Events</h4>
                  <div class="text">Desires to obtain pain of itself, because it is pain, but occur toil and pain can
                    procure him fault with a pleasure.
                  </div>
                  <div class="link-box"><a routerLink="/yachts">Book For Meetings</a></div>
                </div>
              </div>
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-guitar"></span></div>
                  <h4>Party <br>Celebrations</h4>
                  <div class="text">Give you a complete account of the system, and expound the actual teachings the some
                    great explorer.
                  </div>
                  <div class="link-box"><a routerLink="/yachts">Book For PArties</a></div>
                </div>
              </div>
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-meeting"></span></div>
                  <h4>Corporate <br>Meetings & Events</h4>
                  <div class="text">Desires to obtain pain of itself, because it is pain, but occur toil and pain can
                    procure him fault with a pleasure.
                  </div>
                  <div class="link-box"><a routerLink="/yachts">Book For Meetings</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="lower-row">
    <div class="auto-container">
      <div class="process-container">
        <div class="row clearfix">
          <!--Block-->
          <div class="process-block col-lg-4 col-md-12 col-sm-12">
            <div class="inner-box">
              <div class="inner">
                <div class="count"><span>01</span></div>
                <div class="title-box">
                  <h4>{{'chooseyacht'|translate}}</h4>
                </div>
                <div class="text">{{'t9'|translate}}</div>
              </div>
            </div>
          </div>
          <!--Block-->
          <div class="process-block col-lg-4 col-md-12 col-sm-12">
            <div class="inner-box">
              <div class="inner">
                <div class="count"><span>02</span></div>
                <div class="title-box">
                  <h4>{{'t9'|translate}}</h4>
                </div>
                <div class="text"> {{'choosecrew'|translate}}</div>
              </div>
            </div>
          </div>
          <!--Block-->
          <div class="process-block col-lg-4 col-md-12 col-sm-12">
            <div class="inner-box">
              <div class="inner">
                <div class="count"><span>03</span></div>
                <div class="title-box">
                  <h4>{{'enjouwithus'|translate}}</h4>
                </div>
                <div class="text">{{'t11'|translate}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!--Services Section Four-->
<section class="services-section-four">
  <div class="auto-container">
    <div class="inner-container">
      <div class="title-box">
        <h2>{{'bestser'|translate}} <br>{{'t19'|translate}}</h2>
      </div>
      <div class="service-list">
        <ul class="clearfix">
          <li><span class="icon flaticon-interface-1"></span> {{'privateex'|translate}}</li>
          <li><span class="icon flaticon-interface-1"></span> {{'topdes'|translate}}</li>
          <li><span class="icon flaticon-interface-1"></span> {{'luxser'|translate}}</li>
        </ul>
      </div>
      <div class="text">{{'t20'|translate}}</div>
      <div class="link-box">
        <a routerLink="/yachts"
           class="theme-btn btn-style-five">
          <div class="btn-title">{{'starttoday'|translate}}</div>
        </a>
      </div>
    </div>
  </div>
</section>
