
<section class="page-banner">
  <div class="image-layer" style="background-image:url(./assets/images/background/banner-1.jpg);"></div>

  <div class="banner-inner">
    <div class="auto-container">
      <div class="inner-container clearfix">
        <h1>Offers</h1>
        <div class="page-nav">
          <ul class="bread-crumb clearfix">
            <li><a href="index.html">Home</a></li>
            <li>Offers</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Services Section-->
<section class="services-section-two">
  <div class="auto-container">
    <div class="row clearfix">

      <!--Service Block-->
      <div *ngFor="let offer of offers"
        class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
        <div class="inner-box">
          <div class="image" style="height: 300px">
            <img src="{{offer.image}}" alt="" title="">
          </div>
          <div class="lower-box">
            <div class="title-box">
              <div class="inner">
                <div class="subtitle">Top landmarks & amazing</div>
                <h4><a href="yacht-rent-buy.html">{{offer.title}}</a></h4>
              </div>
            </div>
            <div class="text">{{offer.description}}</div>
            <div class="link-box"><a href="yacht-rent-buy.html">Read More</a></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--Services Section Three-->
<section class="services-section-three">
  <div class="main-image-layer" style="background-image:url(./assets/images/background/image-13.jpg);"></div>

  <div class="upper-row">
    <div class="image-layer" style="background-image:url(./assets/images/background/image-14.jpg);"></div>
    <div class="auto-container">
      <div class="row clearfix">

        <!--Left Column-->
        <div class="left-col col-xl-5 col-lg-12 col-md-12 col-sm-12">
          <div class="inner">
            <div class="sec-title">
              <h2>Special Services</h2>
              <div class="lower-text">Wer aim to offer 100% satisfaction services</div>
            </div>
            <div class="text">How all this mistaken idea of denouncing pleasure & praising pain was born and I will give you a complete account of the system, and expound the actual teachings the great explorer of the truth, the master builder.</div>
            <div class="info">
              <h5>For Best Yachting Services, Call Us</h5>
              <div class="phone"><a href="tel:888505-0123">888 505-0123</a></div>
            </div>
          </div>
        </div>

        <!--Right Column-->
        <div class="right-col col-xl-7 col-lg-12 col-md-12 col-sm-12">
          <div class="inner">
            <div class="featured-column-carousel owl-theme owl-carousel">
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-guitar"></span></div>
                  <h4>Party <br>Celebrations</h4>
                  <div class="text">Give you a complete account of the system, and expound the actual teachings the some great explorer.</div>
                  <div class="link-box"><a href="yacht-tour-single.html">Book For PArties</a></div>
                </div>
              </div>
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-meeting"></span></div>
                  <h4>Corporate <br>Meetings & Events</h4>
                  <div class="text">Desires to obtain pain of itself, because it is pain, but occur toil and pain can procure him fault with a pleasure.</div>
                  <div class="link-box"><a href="yacht-tour-single.html">Book For Meetings</a></div>
                </div>
              </div>
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-guitar"></span></div>
                  <h4>Party <br>Celebrations</h4>
                  <div class="text">Give you a complete account of the system, and expound the actual teachings the some great explorer.</div>
                  <div class="link-box"><a href="yacht-tour-single.html">Book For PArties</a></div>
                </div>
              </div>
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-meeting"></span></div>
                  <h4>Corporate <br>Meetings & Events</h4>
                  <div class="text">Desires to obtain pain of itself, because it is pain, but occur toil and pain can procure him fault with a pleasure.</div>
                  <div class="link-box"><a href="yacht-tour-single.html">Book For Meetings</a></div>
                </div>
              </div>
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-guitar"></span></div>
                  <h4>Party <br>Celebrations</h4>
                  <div class="text">Give you a complete account of the system, and expound the actual teachings the some great explorer.</div>
                  <div class="link-box"><a href="yacht-tour-single.html">Book For PArties</a></div>
                </div>
              </div>
              <!--Featured Block-->
              <div class="featured-block">
                <div class="inner-box">
                  <div class="icon-box"><span class="flaticon-meeting"></span></div>
                  <h4>Corporate <br>Meetings & Events</h4>
                  <div class="text">Desires to obtain pain of itself, because it is pain, but occur toil and pain can procure him fault with a pleasure.</div>
                  <div class="link-box"><a href="yacht-tour-single.html">Book For Meetings</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="lower-row">
    <div class="auto-container">
      <div class="process-container">
        <div class="row clearfix">
          <!--Block-->
          <div class="process-block col-lg-4 col-md-12 col-sm-12">
            <div class="inner-box">
              <div class="inner">
                <div class="count"><span>01</span></div>
                <div class="title-box">
                  <div class="link"><a href="#">Start Here</a></div>
                  <h4>Choose Your Yacht</h4>
                </div>
                <div class="text"> To take a trivial example denouncing pleasure & praising give.</div>
              </div>
            </div>
          </div>
          <!--Block-->
          <div class="process-block col-lg-4 col-md-12 col-sm-12">
            <div class="inner-box">
              <div class="inner">
                <div class="count"><span>02</span></div>
                <div class="title-box">
                  <div class="link"><a href="#">Start Here</a></div>
                  <h4>Choose Your Crew</h4>
                </div>
                <div class="text"> To take a trivial example denouncing pleasure & praising give.</div>
              </div>
            </div>
          </div>
          <!--Block-->
          <div class="process-block col-lg-4 col-md-12 col-sm-12">
            <div class="inner-box">
              <div class="inner">
                <div class="count"><span>03</span></div>
                <div class="title-box">
                  <div class="link"><a href="#">Start Here</a></div>
                  <h4>Pay & Start Sail</h4>
                </div>
                <div class="text"> To take a trivial example denouncing pleasure & praising give.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!--Services Section Four-->
<section class="services-section-four">
  <div class="auto-container">
    <div class="inner-container">
      <div class="title-box">
        <h2>Best Service <br>We Strive to Provide Our Customers</h2>
      </div>
      <div class="service-list">
        <ul class="clearfix">
          <li><span class="icon flaticon-interface-1"></span> Private Excursions</li>
          <li><span class="icon flaticon-interface-1"></span> Top Destinationss</li>
          <li><span class="icon flaticon-interface-1"></span> Luxury Yacht Services</li>
        </ul>
      </div>
      <div class="text">Idea of denouncing pleasure & praising pain was born we will give you a complete account of the system.</div>
      <div class="link-box">
        <a href="yacht-tour-1.html" class="theme-btn btn-style-five"><div class="btn-title">Start Today</div></a>
      </div>
    </div>
  </div>
</section>
